@{
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}
@model ServicesMvc.ViewModels.TestViewModel

<script src="@Url.Content("~/Scripts/knockout-2.1.0.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ko.editables.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/knockout-extensions.js")" type="text/javascript"></script>



<style type="text/css">
    .CocDrucken {
        color: green;
    }
    .Zb2Drucken {
        color: blue;
    }
    .PrintHeaderWrapper {
        height: 100px;
    }
    .PrintHeader {
        height: 50px;
    }
    h4 {
        margin: 0!important;
    }
    
    body {
        background-color: white!important;
    }
</style>

<h3 class="page-title">Knockout Test <small>@Model.Firma</small></h3>


@Html.Partial("Partial/TestFormKnockout", Model.FilterModel)

@* @Html.Partial("Partial/TestForm2", Model.FilterModel2) *@


<script type="text/javascript">

    function FormPreparePrivate() {
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
    }

</script>

