@model CkgDomainLogic.Insurance.Models.VersEvent

<div id="VersEventDetailsDiv" class="portlet transparent">
    @using (Ajax.BeginForm("VersEventDetailsFormSave", "Insurance", null,
                           new MvcAjaxOptions("VersEventDetailsDiv") { OnComplete = "VersEventDetailsFormPreparePrivateAjax();" }, new { id = "VersEventForm", @class = "form-horizontal" }))
    {
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.KundenNr)

        @Html.HiddenFor(m => m.AnlageDatum)
        @Html.HiddenFor(m => m.AnlageUser)
        @Html.HiddenFor(m => m.LoeschDatum)
        @Html.HiddenFor(m => m.LoeschUser)
        
        @Html.HiddenFor(m => m.EndDatum)


        @Html.FormTemplateControl("", @<text><i id="VersEventDetailsIcon"></i> @Localize.VersEventEdit</text>, new { @class = "m-wrap" })
        
        
        @Html.FormValidationSummary()
        
        @Html.FormTextBoxFor(m => m.EventName, new { @class = "m-wrap", col = "left" })
        @Html.FormTextBoxFor(m => m.Region, new { @class = "m-wrap", col = "right" })
        @Html.FormTextBoxFor(m => m.Kategorie, new { @class = "m-wrap", col = "left" })
        @Html.FormTextBoxFor(m => m.FahrzeugVolumen, new { @class = "m-wrap xsmall", col = "right" })
        @Html.FormTextAreaFor(m => m.Beschreibung, new { @class = "m-wrap", col = "left" })
        @Html.FormDatePickerFor(m => m.StartDatum, new { @class = "m-wrap medium", col = "right" })

        <div class="hide">
            @Html.FormTextBlockFor(m => m.AnlageDatum, new { @class = "m-wrap", col = "left" })
            @Html.FormTextBlockFor(m => m.AnlageUser, new { @class = "m-wrap", col = "right" })
        </div>

        
        <script type="text/javascript">
            _modelStateValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
            
            BreadcrumbsShow(1, true, $("#VersEventForm input[name='EventName']"));

            $("#Beschreibung").attr("rows", 2);

            $("#VersEventDetailsDiv").animate({opacity: 1}, _modelStateValid ? _proxyEditDetailsFadeDuration : 10);
        </script>
    }


    <form action="#" class="form-horizontal" onsubmit="return false;">
        @Html.FormTemplateControl(Localize.VersEventLocations, @<text>@Html.Partial("Konfigurator/VersEventOrteGrid")</text>, new { @class = "m-wrap" })

        @Html.FormRequiredFieldsSummary()

        <div class="form-actions">
            <button type="button" onclick="$('#VersEventForm').submit()" class="btn green"><i class="icon-ok"></i> @Localize.Save</button>
            <button type="button" onclick="VersEventCloseDetails();" class="btn">@Localize.Cancel</button>
        </div>
    </form>
</div>

