@using CkgDomainLogic.Fahrzeuge.Models
@model CkgDomainLogic.Fahrzeuge.ViewModels.FahrzeugSperrenEntsperrenViewModel

@{ var gridName = "GridFzgSperrenEntsperren"; }

<h4 class="margin-bottom-10">
    @Localize.PleaseChooseOneOrMoreVehicles: 
    <span id="FzgSperrenEntsperrenCount" class="alert alert-success margin-left-15 hide">
        <i class="icon-check"></i><span class="padding-left-5 bold"></span>
    </span>
</h4> 
    
<div id="divFzgSperrenEntsperrenFilter" class="form-horizontal label-width-150">
    @Html.FormRadioButtonListFor(m => m.FahrzeugSelektor.Auswahl, Model.FahrzeugSelektor.AuswahlOptionen.ToSelectList())
</div>

@(Html.Telerik()
    .Grid<FahrzeugVersand>()
    .Name(gridName)
    .XAjaxDataBinding("FzgSperrenEntsperrenAjaxBinding", "Fahrzeuge")
    .Columns(columns =>
    {
        columns.XBound(c => c.IsSelected)
            .ClientTemplate("<input type='checkbox' name='checkedRecords' <# if (data.IsSelected) { #> checked <# } #> value='<#= data.Fahrgestellnummer #>' onchange='OnSelectionChange_GridFzgSperrenEntsperren($(this))' />")
            .HeaderTemplate("<input type='checkbox' id='uncheckAllRecords' onchange='GridFzgSperrenEntsperren_OnAllSelectionChange($(this).is(\":checked\"))' />")
            .Filterable(false);

        columns.XBound(c => c.Fahrgestellnummer);
        columns.XBound(c => c.Gesperrt);
        columns.XBound(c => c.HaendlerNummer);
        columns.XBound(c => c.ZahlungsArt);
        columns.XBound(c => c.Name1);
        columns.XBound(c => c.Name2);
        columns.XBound(c => c.Strasse);
        columns.XBound(c => c.PLZ);
        columns.XBound(c => c.Ort);
        columns.XBound(c => c.Land);
    })
    .XAutoColumnConfiguration()
    .ClientEvents(events => events.XAutoClientEvents(gridName).OnLoad("OnLoad_GridFzgSperrenEntsperren").OnRowDataBound("OnRowDataBound_GridFzgSperrenEntsperren"))
    .XPageSize(10)
    .XSort(sortOrder => sortOrder.Add(c => c.Fahrgestellnummer).Ascending())
    .ToolBar(commands =>
    {
        commands.FilteredDataCommand("ExportFzgSperrenEntsperrenFilteredExcel", "Fahrzeuge");
        commands.FilteredDataCommand("ExportFzgSperrenEntsperrenFilteredPDF", "Fahrzeuge");
    })
)

<div class="form-actions">
    <button type="button" id="btnFzgSperren" class="btn blue hide" onclick="FzgSperrenEntsperren(true);">@Localize.Lock</button>
    <button type="button" id="btnFzgEntsperren" class="btn blue hide" onclick="FzgSperrenEntsperren(false);">@Localize.Unlock</button>
</div>

<script type="text/javascript">
    $('#divFzgSperrenEntsperrenFilter').on('change', ':radio', function (e) {
        FilterFzgSperrenEntsperrenData();
    });    
    $('#divFzgSperrenEntsperrenFilter').on('change', ':checkbox', function (e) {
        FilterFzgSperrenEntsperrenData();
    });
</script>