@model CkgDomainLogic.Ueberfuehrung.ViewModels.UeberfuehrungViewModel


@Html.StepBar()


@Html.StepButtons(showHeader: true)


@if (Model.Step == 2)
{
    <style type="text/css">
        .ez-checkbox {
            margin-top: 0;
        }
    </style>
    
    @Html.FormCheckBoxFor(m => m.ShowZusatzfahrten, labelCssClass: null, additionalHtmlAttributes: new Dictionary<string, object>() { { "onclick", "SetZusatzfahrtenDisplay(this)" } })
    <div class="trenner10"></div>
}

@foreach (var subModel in Model.StepForms)
{
    using (Html.FormOuterLayer())
    {
        @Html.DivLinie()
        using (Html.FormInnerLayer(subModel.UiIndex, header: subModel.Header, headerCssClass: subModel.HeaderCssClass, formLayerAdditionalCssClass: subModel.FormLayerAdditionalCssClass))
        {
            @Html.Partial(subModel.ViewName, subModel)
        }
    }
}
@using (Html.FormOuterLayer())
{
    @Html.DivLinie()
}


@Html.StepButtons(showHeader: false)
