@model CkgDomainLogic.Uebfuehrg.ViewModels.UebfuehrgViewModel

<h3 class="page-title">
    @Model.Title  
    <small>@Model.TitleSmall</small> 
    <a class="btn grey mini margin-left-25" href="@Model.ActionCorresponding"><i class="icon-chevron-right margin-right-5"></i> @Model.TitleSmallCorresponding</a>
</h3>

<div class="portlet app-view beauftragung">
    
    @Html.FormWizard("icon-file", "", Model.StepFriendlyNames, stepTitlesInNewLine:true)

    <div id="formWizardTab1" class="hide">
        @Html.PartialOrFormErrorHint("CurrentStepView", Model.FirstStepErrorHint)
    </div>
</div>

@Html.Partial("Partial/Common")
    
<div id="bingLocationDiv" class="bing-map hide"></div>
<div id="bingRouteDiv" class="bing-map hide"></div>
