@model CkgDomainLogic.Strafzettel.Models.StrafzettelSelektor

<div id="divStrafzettelSuche">
    @using (Ajax.BeginForm("LoadStrafzettel", "Strafzettel", null,
        new MvcAjaxOptions("divStrafzettelSuche") { OnComplete = "ShowStrafzettel();" }, new { id = "StrafzettelForm" }))
    {    
        <div class="form-horizontal" id="searchForm">
            
            @Html.FormValidationSummary()


            @Html.FormMultiColumnModeStart("auto")

            @Html.FormTextBoxFor(m => m.Fin, new { @class = "m-wrap uppercase", col = "auto" })
            @Html.FormTextBoxFor(m => m.Fin10, new { @class = "m-wrap uppercase", col = "auto" })

            @Html.FormTextBoxFor(m => m.VertragsNr, new { @class = "m-wrap", col = "auto" })
            @Html.FormTextBoxFor(m => m.Kennzeichen, new { @class = "m-wrap", col = "auto" })

            @Html.FormDateRangePickerFor(m => m.EingangsDatumRange, new { col = "auto" })
            @Html.FormDateRangePickerFor(m => m.BehoerdeDatumRange, new { col = "auto" })

            @Html.FormTextBoxFor(m => m.BehoerdeName, new { @class = "m-wrap", col = "auto" })
            @Html.FormTextBoxFor(m => m.BehoerdePlz, new { @class = "m-wrap", col = "auto" })

            @Html.FormMultiColumnModeEnd("auto")


            @*@Html.FormRequiredFieldsSummary()*@

            <div class="form-actions">
                <button type="submit" class='btn blue' accesskey="s"><i class='icon-search margin-right-5'></i>@Localize.SearchAsVerb</button>
                
                @Html.FormPersistenceMenu(Model)
            </div>
        </div>

        <script type="text/javascript">
            _modelStateValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
        </script>
    }
</div>


<script type="text/javascript">

    function ShowStrafzettel() {
        
        FormPreparePrivateAjax();

        $.ajax({
            type: "POST",
            url: "ShowStrafzettel",
            loadingShow: true,
            success: function (result) {

                SearchResultsTryHide();

                if (_modelStateValid) {
                    ShowStrafzettelSearchResult(result);
                    //return;
                }

                LoadingHide();
            }
        });
    }

</script>