@using CkgDomainLogic.General.Database.Models
@model DocumentType

@Html.HiddenFor(m => m.DocumentTypeID)

@Html.FormValidationSummary()

@Html.SimpleFormTextBoxFor(m => m.DocTypeName)

@Html.FormRequiredFieldsSummary()

<div class="form-actions">
    <button type="submit" class="btn green"><i class="icon-ok"></i> @Localize.Save</button>
    <button type="button" class="btn" onclick="CloseDocumentTypeDetails();">@Localize.Cancel</button>
</div>


