@using CkgDomainLogic.General.Database.Models
@model DocumentType

<div id="@MvcAjaxOptions.AjaxFormContainerName">
    
    @using (Ajax.BeginForm("CreateOrEditDocumentType", "Document", null, new MvcAjaxOptions {OnComplete = "CreateOrEditDocumentTypeComplete();"}, new {@class = "form-horizontal", id = "ajaxForm"}))
    {
        @Html.FormValidationSummary()


        <div class="space10"></div>

        @Html.HiddenFor(m => m.DocumentTypeID)
        @Html.HiddenFor(m => m.CustomerID)

        @Html.FormTextBoxFor(m => m.DocTypeName, new {@class = "m-wrap", maxlength = 50})


        @Html.FormRequiredFieldsSummary()

        <div class="form-actions">
            <button type="submit" class="btn green"><i class="icon-ok"></i> @Localize.Save</button>
            <button type="button" class="btn" onclick="CloseDocumentTypeDetails();">@Localize.Cancel</button>
        </div>
    }

</div>

<script type="text/javascript">
    _modelIsValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();

    function CreateOrEditDocumentTypeComplete() {
        FormPreparePrivateAjax();

        if (_modelIsValid)
            CloseDocumentTypeDetails();
    }
</script>
