@model CkgDomainLogic.DomainCommon.Models.DokumentErstellenBearbeiten

<div id="divDocumentProperties" class="form-horizontal">

    @Html.FormValidationSummary()


    @Html.FormDropDownListFor(m => m.DocTypeID, Model.AvailableDocumentTypes.ToSelectList("DocumentTypeID", "DocTypeName"), new {@class = "m-wrap"})

@if (Model.GeneralMode)
{
    @Html.HiddenFor(m => m.SelectedWebGroups)
}
else
{
    @Html.FormMultiSelectListFor(m => m.SelectedWebGroups, Model.AvailableWebGroups.ToSelectList("GroupID", "GroupName"), new { @class = "m-wrap chosen" })
}


    @Html.FormRequiredFieldsSummary()

</div>

<div class="space20"></div>

<div id="divDocumentUpload">
    @Html.Partial("Upload", Model)
</div>

<script type="text/javascript">
    
    function SetDocumentProperties() {
        // Gruppenzuordnung muss gesetzt sein, damit Upload fortgesetzt werden kann
        if ($("#SelectedWebGroups").val() == null && !@Model.GeneralMode) {
            return false;
        }
        
        var docTypeId = $("#DocTypeID").val().toString();
        var userGroups = $("#SelectedWebGroups").val().toString();

        $.ajax({
            type: "POST",
            url: "SetDocumentProperties",
            data: { docTypeId: docTypeId, userGroups: userGroups },
        });
        
        return true;
    }

</script>