@using CkgDomainLogic.Autohaus.Models
@model FormulareSelektor

<div id="divFormulareSuche">
    @using (Ajax.BeginForm("LoadFormulareAndZiPoolDaten", "Formulare", null,
        new MvcAjaxOptions("divFormulareSuche") { OnComplete = "ShowFormulareAndZiPoolDaten();" }, new { id = "FormulareForm" }))
    {    
        <div class="form-horizontal" id="searchForm">
            
            @Html.FormValidationSummary()


            @Html.FormTextBoxFor(m => m.Postleitzahl, new { @class = "m-wrap small", col = "left", @onchange = "return TryLoadKreisByPlz();" })
            @Html.FormDropDownListFor(m => m.Zulassungskreis, FormulareSelektor.Zulassungskreise.ToSelectList(), new { @class = "m-wrap", col = "right" })

@Html.FormCheckBoxFor(m => m.IsSelected)


            @Html.FormRequiredFieldsSummary()

            <div class="form-actions">
                <button type="submit" class='btn blue'><i class='icon-search margin-right-10'></i>@Localize.SearchAsVerb</button>
            </div>
        </div>  
        
        <script type="text/javascript">
            _modelStateValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
        </script>
    }
</div>
