@model CkgDomainLogic.General.Contracts.ILogonContextDataService


@foreach (var menuGroup in Model.GetMenuItemGroups())
{
    string menuGroupClassName;
    switch (menuGroup.AppType)
    {
        case "Change":
            menuGroupClassName = "icon-edit";
            break;
        case "Report":
            menuGroupClassName = "icon-th";
            break;
        default:
            menuGroupClassName = "icon-cogs";
            break;
    }

    <h5 class="margin-top-10 margin-bottom-10 group-favorite-on-homepage"><i class="@menuGroupClassName margin-right-5"></i> @Model.TranslateMenuAppType(menuGroup)</h5>

    foreach (var menuItem in Model.GetMenuItems(menuGroup.AppType).Where(a => a.AppIsMvcFavorite))
    {
        if (menuItem.AppURL.ToLower().StartsWith("http"))
        {
            <a class="btn black app-favorite-on-homepage" onclick="return OnMenuItemClick(this, @menuItem.AppID, true);" href="@menuItem.AppURL" target="_blank">
                <i class="@menuGroupClassName margin-right-5"></i>
                @Model.TranslateMenuAppName(menuItem)
            </a>
        }
        else
        {
            <a class="btn black app-favorite-on-homepage" onclick="return OnMenuItemClick(this, @menuItem.AppID, true);" href="@Model.GetUserEncrytpedUrl(menuItem)">
                <i class="@menuGroupClassName margin-right-5"></i>
                @Model.TranslateMenuAppName(menuItem)
            </a>
        }    
    }
}