@model CkgDomainLogic.Autohaus.Models.StatusverfolgungStatusItem

@{ var imgSrc = "/ServicesMvc/images/icons-sendungsverfolgung/" + Model.StatusIconFileName; }

<div class="position-relative">

    <div class="form-horizontal">

        <div>
            <img src="@imgSrc" alt="@Model.StatusText" />
        </div>

        <div class="margin-top-5 text-center">
            @Model.StatusText
        </div>

        <div class="margin-top-10">
            @foreach (var item in Model.TrackingInfos)
            {
                <div class="padding-left-30 padding-right-30 padding-bottom-15">
                    <a target="_blank" href="@item.TrackingUrl">@item.VersandLabelHint</a>
                </div>
            }
        </div>

    </div>

</div>
