@using System.Xml
@model CkgDomainLogic.DataKonverter.ViewModels.KroschkeDataKonverterViewModel

@{

    if (Model.DataMapper.DestinationFile.XmlDocument.DocumentElement == null)
    {
        <div class="nodetitle">Keine Zielfelder vorhanden</div>
        return;
    }

    var node = "";
    foreach (XmlElement parent in Model.DataMapper.DestinationFile.XmlDocument.DocumentElement)
    {
        <div class="nodetitle">@parent.Name</div>

        foreach (XmlElement child in parent)
        {
            var tag = child.Attributes["id"];
            string id = null;
            if (tag != null)
            {
                id = child.Attributes["id"].Value;
            }

            if (!child.HasChildNodes)
            {
                <div class="w ept" id="Dest-@id">
                    <div class="ep">
                    </div>
                    <div class="field">@child.Name</div>
                    <span class="data "></span>
                </div>
            }

            if (child.HasChildNodes)
            {
                <div class="nodetitle">@parent.Name > @child.Name</div>
                foreach (XmlElement childchild in child)
                {
                    tag = child.Attributes["id"];
                    id = null;
                    if (tag != null)
                    {
                        id = child.Attributes["id"].Value;
                    }
                    <div class="w ept" id="Dest-@id">
                        <div class="ep">
                        </div>
                        <div class="field">@childchild.Name</div>
                        <span class="data"></span>
                    </div>
                }
            }
        }
    }
}