@using System.Xml
@model CkgDomainLogic.DataKonverter.ViewModels.KroschkeDataKonverterViewModel

@*<style>
    .nodetitle-div {
        margin-left: 0px !important;
    }

    .nodetitle {
        font-size: 12px;margin-top: 2px;margin-bottom: -3px;background-color: #add8e6;padding-left: 4px;font-weight: bold;border: 1px solid gray;
    }
    
    .btn-xs {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 4px;
    }
</style>*@

<div id="DivKonfiguration" class="margin-top-20" style="height: 550px;">
    <h4>Konfiguration</h4>

    <div class="w" style="visibility: hidden; height: 0px; padding: 0px; margin: 0px;">DUMMY</div>

    <span class="float-left">
        <button class="btn white" onclick="GotoRecord('first');">
            <<
        </button>
        <button class="btn white" onclick="GotoRecord('-1');">
            <
        </button>

        <button class="btn white" onclick="GotoRecord('+1');">
            >
        </button>
        <button class="btn white" onclick="GotoRecord('last');">
            >>
        </button>

        <span id="RecordPosition" class="margin-left-15 badge margin-right-30">
            @Model.DataMapper.RecordInfoText
        </span>
    </span>

    <span class="float-left">
        <button class="btn white" onclick="AddProcessor();">
            Prozessor
            <i class="halflings-icon  plus"></i>
        </button>

        <button class="btn white" onclick="ClearAll();">
            Leeren
            <i class="icon-remove"></i>
        </button>

        <button class="btn white margin-left-10" onclick="ShowHideProcessors(false);">
            <i class="halflings-icon eye-close"></i>
        </button>
        <button class="btn white" onclick="ShowHideProcessors(true);">
            <i class="halflings-icon eye-open"></i>
        </button>
        
        <button class="btn white margin-left-10" onclick="Export();">
            Test-Export
        </button>
    </span>

    <span class="clearfix"></span>
    <div id="processorTemplate" class="processor hidden">
        <div class="title">
            <div class="processortitle float-left" style="margin-top: -5px; margin-left: 15px;">Prozessor</div>
            <button class="processorclose" style="float: right; margin-right: 18px; margin-top: -3px; border: 0px; padding: 0px;"><i class="icon-remove"></i></button>
        </div>
        <div class="content" style="">
            <select name="ProcessorType" class="processortype" onchange="SyncUiData();">
                <option value="1">Splitten</option>
                <option value="2">Zusammenfassen</option>
                <option value="3">Festwert</option>
            </select>
            <input type="hidden" name="Title" value=""/>
            <input type="hidden" name="Number" value=""/>
            <input type="text" name="ProcessorPara1" value="X" style="width: 60px; float: left; margin-bottom: 2px;" onchange="SyncUiData();"/>
            <input type="text" name="ProcessorPara2" value="1" style="width: 60px; float: left; margin-left: 2px; margin-bottom: 2px;display: none;" onchange="SyncUiData();"/>
            <br style="clear: both;"/> 
            <div class="data datain width-160 margin-top-5 datastyle">In: </div><br style="clear: both;"/> 
            <div class="data dataout width-160 datastyle">Out: </div>
        </div>
        <div id="tmpprozin" class="prozin"></div>
        <div id="tmpprozout" class="prozout"></div>
    </div>

    <div id="DataKonverterContainer2x" style="width: 650px;">
        <div id="source" style="padding: 0px;">
            @foreach (var item in Model.DataMapper.SourceFile.Fields)
            {
                <div class="w" id="@item.Guid">
                    <div class="field">@item.Caption</div>
                    <div class="data">@item.Records[0]</div>
                    <div class="sp"></div>
                </div>
            }
        </div>

        <div id="destination">
            @Html.Action("ShowDestinationDiv", Model.DataMapper.DestinationFile.XmlDocument)
        </div>
    </div>

</div>

<script>

    var jsonProcessors; 
    var jsonConnections;

    var startpointOptions = {
        isSource: true,
        isTarget: false,
        anchor: "Right",
        allowLoopback: false
    };
    var endpointOptions = {
        isSource: false,
        isTarget: true,
        maxConnections: 1,
        anchor: "Left",
        ConnectionsDetachable: true,
        ReattachConnections: true,
        allowLoopback: false
    };

    var endpointOptionsProzessor = {
        isSource: false,
        isTarget: true,
        anchor: "Left",
        ConnectionsDetachable: true,
        ReattachConnections: true,
        allowLoopback: false
    };

    $(function () {
        $('.processorobj').show();        
        $('#SelectedDateTransformation').chosen();
//        $('#Konfiguration_GlobalDateTransformation').chosen();
    });

    jsPlumb.ready(function () {
        jsPlumb.importDefaults({
            Connector: ["Straight"], 
            Endpoint: ["Dot", { radius: 1}],
            // HoverPaintStyle: { strokeStyle: "#1e8151", lineWidth: 2 },
            Anchors: ["Right", "Left"],
            ConnectionOverlays: [
                [
                    "Arrow", {
                        location: 1,
                        id: "arrow",
                        length: 11,
                        foldback: 0.8
                    }
                ]
            ],
            Container: $('#DataKonverterContainer2x')
        });

        jsPlumb.Defaults.Container = $('#DataKonverterContainer2x');

        jsPlumb.makeSource($(".w"), startpointOptions);
        jsPlumb.makeTarget($(".ept"), endpointOptions);
        
        // Prozessor-Template
        jsPlumb.draggable("processorTemplate", {
            clone: true
        });

        // Events
        window.addEventListener("resize", refreshPlumb);

        $('#source').on("scroll", function () {
            refreshPlumb();
        });
        $('#destination').on("scroll", function () {
            refreshPlumb();
        });

        jsPlumb.bind("dblclick", function (c) {
            jsPlumb.detach(c);
            SyncUiData();
        });

        jsPlumb.unbind("connection").bind("connection", function (info) {
            SyncUiData();
        });
    });

    function refreshPlumb() {
        jsPlumb.repaintEverything();
    }
    
    // Show Processor in UI
    function ShowProcessor(processorId, number, title, posLeft, posTop, type, para1, para2) {
        var div = document.getElementById('processorTemplate'), clone = div.cloneNode(true);

        clone.id = processorId;
        document.body.appendChild(clone);

        var newProcessor = $("#" + processorId);
        newProcessor.addClass("processorobj");
        newProcessor.removeClass("hidden");

        newProcessor.offset({ left: posLeft, top: posTop });

        $(newProcessor).find('.processortitle').html(title);
        $(newProcessor).find(('[name="Title"]')).val(title);
        $(newProcessor).find(('[name="Number"]')).val(number);

        $(newProcessor).find(('[name="ProcessorType"]')).val(type);
        $(newProcessor).find(('[name="ProcessorPara1"]')).val(para1);
        $(newProcessor).find(('[name="ProcessorPara2"]')).val(para2);

        var prozin = $(newProcessor).find("#tmpprozin");
        var prozout = $(newProcessor).find("#tmpprozout");

        prozin.attr("id", "prozin-" + processorId);
        prozout.attr("id", "prozout-" + processorId);

        jsPlumb.makeTarget($("#prozin-" + processorId), endpointOptionsProzessor);
        jsPlumb.makeSource($("#prozout-" + processorId), startpointOptions);

        switch (type) {
            case 1:
                $(newProcessor).find(('[name="ProcessorPara2"]')).show();
                break;
            case 2:
                $(newProcessor).find(('[name="ProcessorPara2"]')).hide();
                break;
            case 3:
                $(newProcessor).find(('[name="ProcessorPara2"]')).hide();                
                break;
        }

        jsPlumb.draggable(clone);

        $(newProcessor).find(".processorclose").click(function () {
            jsPlumb.remove($(this).closest(".processor"));              // Alle Verbindungen incl. Prozessorobjekt entfernen
        });
    }

    // Add Processor via controller and refresh UI via uiResult
    function AddProcessor() {
        $.ajax({
            type: "POST",
            url: "Admin/AddProcessor",
            data: { processors: UiProcessors, connections: UiConnections },
            loadingShow: false,
            success: function (uiResult) {
                RefreshUi(uiResult);
            }
        });
    }

    function AddConnection(connectionId, source, dest) {
        jsPlumb.makeSource($(".w"), startpointOptions);
        jsPlumb.makeTarget($(".ept"), endpointOptions);

        jsPlumb.connect({
            source: source,
            target: dest
        });
        jsPlumb.revalidate();
        jsPlumb.repaintEverything();
    }

    function UiProcessors() {
        jsonProcessors = [];
        $(".processorobj").each(function () {
            var processor = $(this);
            var processorId = $(processor).attr("id");
            var title = $(processor).find('.processortitle').html();

            var number = $(processor).find(('[name="Number"]')).html();
            if (number == "") { number = 0; }
            var posTop = Math.round($(processor).position().top);
            var posLeft = Math.round($(processor).position().left);
            var processorType = $(processor).find('[name="ProcessorType"]').val();
            var processorPara1 = $(processor).find('[name="ProcessorPara1"]').val();
            var processorPara2 = $(processor).find('[name="ProcessorPara2"]').val();
            jsonProcessors.push({ Guid: processorId, Title: title, Number: number, Operation: processorType, OperationPara1: processorPara1, OperationPara2: processorPara2, PosLeft: posLeft, PosTop: posTop });
        });
        return JSON.stringify(jsonProcessors);
    }

    function UiConnections() {
        jsonConnections = [];
        var connectionList = jsPlumb.getConnections();
        connectionList.forEach(function (item) {
            var id = item.id;
            var source = item.sourceId;
            var dest = item.targetId;
            jsonConnections.push({ "ConnectionId": id, GuidSource: source, GuidDest: dest });
        });
        return JSON.stringify(jsonConnections);
    }

    function SyncUiData() {
        $.ajax({
            type: "POST",
            url: "Admin/SyncUiData",
            loadingShow: false,
            data: { processors: UiProcessors, connections: UiConnections },
            dataType: 'json',
            success: function (result) {
                RefreshUi(result);
            }
        });
    }

    function LoadUiData() {
        ClearAll();

        $.ajax({
            type: "POST",
            url: "Admin/RefreshUi",
            data: { recordOffset: 0 },
            loadingShow: false,
            success: function (result) {
                RefreshUi(result);
            }
        });
    }

    function Export() {
        $.ajax({
            type: "POST",
            url: "Admin/ExportXml",
            loadingShow: false,
            success: function (result) {
                alert(result);
            }
        });
    }

    function ClearAll() {
        jsPlumb.detachEveryConnection();

        $(".processorobj").each(function (index) {
            jsPlumb.remove($(this).attr("id"));
        });

        $("#destination").each(function (index) {
            $(this).find(".data").html("");
        });

        SyncUiData();
    }

    function ShowHideLines(obj) {
        jsPlumb.hide(obj, true);

        var icon = $(obj).find(".updown");
        if (icon.hasClass('icon-angle-down')) {
            $(icon).removeClass('icon-angle-down').addClass('icon-angle-up');
        } else {
            $(icon).removeClass('icon-angle-up').addClass('icon-angle-down');
        }

        var top = $(obj).parent().parent();
        $(top).children('.ept').each(function () {
            var id = $(this).attr("id");
            var visible = $(this).is(":visible");
            if (visible) {
                jsPlumb.hide(id);
            } else {
                jsPlumb.show(id);
            }
            $(this).toggle("slow", function() {
                refreshPlumb();
            });
        });
        refreshPlumb();
    }

    function ShowHideProcessors(value) {
        $(".processorobj").each(function (index) {
            $(this).find(".content").toggle(value);
            if (value) {
                $(this).css("height", "85px");
            } else {
                $(this).css("height", "14px");
            }
        });
    }

    function GotoRecord(value) {
        $.ajax({
            type: "POST",
            url: "Admin/RefreshUi",
            data: { recordOffset: value, processors: UiProcessors, connections: UiConnections },
            loadingShow: false,
            success: function (result) {
                RefreshUi(result);
            }
        });
    }

    function RefreshUi(uiObject) {
        var guid;
        var value;
        var i;

        $('#RecordPosition').html(uiObject.RecordInfoText);
        
        // Refresh SourceField data
        for (i = 0; i < uiObject.SourceFieldList.length; i++) {
            guid = uiObject.SourceFieldList[i].Wert;
            value = uiObject.SourceFieldList[i].Beschreibung;
            $('#' + guid).find(".data").html(value);
        }

        // Refresh processors
        for (i = 0; i < uiObject.ProcessorList.length; i++) {
            var processorId = uiObject.ProcessorList[i].Guid;
            var number = uiObject.ProcessorList[i].Number;
            var title = uiObject.ProcessorList[i].Title;
            var posLeft = uiObject.ProcessorList[i].PosLeft;
            var posTop = uiObject.ProcessorList[i].PosTop;
            var valueIn = uiObject.ProcessorList[i].Input;
            var valueOut = uiObject.ProcessorList[i].Output;

            var type = uiObject.ProcessorList[i].Operation;
            var para1 = uiObject.ProcessorList[i].OperationPara1;
            var para2 = uiObject.ProcessorList[i].OperationPara2;

            ShowProcessor(processorId, number, title, posLeft, posTop, type, para1, para2);

            $('#' + processorId).find(".datain").html("In: " + valueIn);
            $('#' + processorId).find(".dataout").html("Out: " + valueOut);
        }

        // Refresh DestField data
        for (i = 0; i < uiObject.DestFieldList.length; i++) {
            guid = uiObject.DestFieldList[i].Beschreibung;
            value = uiObject.DestFieldList[i].Wert;         
            $('#' + guid).find(".data").html(value);
        }
    }

</script>