@model CkgDomainLogic.Insurance.ViewModels.UploadBestandsdatenViewModel 

<h3 class="page-title">@Localize.InventoryData <small>@Localize.CsvUpload</small></h3>

<div class="portlet app-view">
    
    @Html.FormWizard("icon-arrow-up", "", new[] { Localize.UploadCsvFile, Localize.Send, Localize.DoneStep })

    <div id="formWizardTab1" class="hide">
        @Html.Partial("UploadBestandsdaten/FileUpload")
    </div>

</div>


<script type="text/javascript">

    var _formWizardForceHideSubmitButton = false;

    function FormPreparePrivate() {
        LoadingHide();
        FormWizardInitPrivate();
    }

    function FormWizardInitPrivate() {
        FormWizard.Init(function () {
            FormWizard.ActionsShow(false);
        });

        FormWizard.OnNext(function (step, maxSteps) {
            if (step == 3) {
                CheckUpload();
                return false;
            }
            return true;
        });

        FormWizard.OnPrev(function (step, maxSteps) {
            if (step == 1) {
                if (_formWizardForceHideSubmitButton == false) {
                    ResetSubmitMode();
                    return false;
                }
                FormWizard.ActionsShow(false);
            }
            return true;
        });

        FormWizard.OnSubmit(function () {
            SubmitUpload();
        });

        FormWizard.OnRestart(function () {
            //alert('Ok, let´s restart! :)');
            LocationReloadWithoutQueryString();
        });
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
        $(".t-status").hide();
        //alert("private ajax...");
    }

    function OnDataBound_GridUploadBestandsdaten() {
        FilteredData_Grid_OnDataBound($(this));
        $('.tooltips').tooltip();
    }

    function OnDataBound_GridUploadSaveBestandsdaten() {
        FilteredData_Grid_OnDataBound($(this));
        $('.tooltips').tooltip();
    }

    function OnRowDataBound_GridUploadBestandsdaten(e) {
        var grid = $(this).data("tGrid");
        var validationErrors = JSON.parse(e.dataItem.ValidationErrorsJson);

        for (var i = 0; i < grid.columns.length; i++) {
            for (var j = 0; j < validationErrors.length; j++) {
                if (validationErrors[j].MemberNames.indexOf(grid.columns[i].member) > -1) {
                    $(e.row.cells[i]).addClass("grid-cellError");
                    break;
                }
            }
        }
    }

    function OnColumnShowHide_GridUploadBestandsdaten() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnShowHide_GridUploadSaveBestandsdaten() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_GridUploadBestandsdaten() {
        FilteredData_Grid_OnColumnReorder($(this));
    }

    function OnColumnReorder_GridUploadSaveBestandsdaten() {
        FilteredData_Grid_OnColumnReorder($(this));
    }

    function UploadStart(e) {

        // clear only the UI of our Upload Control:
        //$(this).children(".t-upload-files").remove();

        // because we are uploading in async mode, our "e.files" collection always has exact 1 entry:
        var fileName = e.files[0].name;

        if (fileName.toLowerCase().indexOf('.csv') <= 0) {
            alert('@Localize.FileUploadOnlyCsvLegal');
            return false;
        }

        LoadingShow();

        return true;
    }

    function UploadFinished(e) {
        setTimeout("LoadingHide()", 1000);

        // clear only the UI of our Upload Control:
        $(this).children(".t-upload-files").remove();

        if (!e.response.success) {
            alert(e.response.message);
            return;
        }

        ShowGrid(true);
    }

    function UploadError(e) {
        e.preventDefault();
        setTimeout("LoadingHide()", 1000);
        alert('Fehler: Es gab ein Problem beim Speichern Ihrer Datei!');
    }

    function ShowGrid() {
        $.ajax({
            type: "POST",
            url: "UploadBestandsdatenShowGrid",
            loadingShow: true,
            success: function (result) {
                setTimeout("LoadingHide()", 1000);
                if (typeof (result.message) !== "undefined") {
                    alert(result.message);
                    return;
                }
                FormWizard.SetTabHtml(2, result);
                window.scrollTo(0, 0);
                FormPreparePrivateAjax();
                FormWizard.ButtonNextInvoke();
                SetButtonVisibility();
            }
        });
    }

    function CheckUpload() {
        $.ajax({
            type: "POST",
            url: "UploadBestandsdatenCheck",
            loadingShow: true,
            success: function (result) {
                setTimeout("LoadingHide()", 1000);
                FormWizard.SetTabHtml(2, result);
                window.scrollTo(0, 0);
                FormPreparePrivateAjax();
                SetButtonVisibility();
            }
        });
    }

    function SubmitUpload() {
        $.ajax({
            type: "POST",
            url: "UploadBestandsdatenSubmit",
            loadingShow: true,
            success: function (result) {
                setTimeout("LoadingHide()", 1000);
                FormWizard.SetTabHtml(3, result);
                window.scrollTo(0, 0);
                GridAllColumnFilterApplyToGrid("GridUploadSaveBestandsdaten");
                FormPreparePrivateAjax();
                FormWizard.ButtonNextInvoke();
            }
        });
    }

    function ResetSubmitMode() {
        $.ajax({
            type: "POST",
            url: "UploadBestandsdatenResetSubmitMode",
            loadingShow: true,
            success: function (result) {
                setTimeout("LoadingHide()", 1000);
                FormWizard.SetTabHtml(2, result);
                window.scrollTo(0, 0);
                FormPreparePrivateAjax();
                SetButtonVisibility();
            }
        });
    }

    function SetButtonVisibility() {
        if (_formWizardForceHideSubmitButton) {
            FormWizard.ButtonSubmitShow(false);
            FormWizard.ButtonNextShow(true);
        } else {
            FormWizard.ButtonSubmitShow(true);
            FormWizard.ButtonNextShow(false);
        }
    }

</script>
