@using CkgDomainLogic.KroschkeZulassung.Models
@model BankAdressdaten

<div id="DivBankAdressdaten" class="margin-top-20">
    @using (Ajax.BeginForm("BankAdressdatenForm", "KroschkeZulassung", null,
                new MvcAjaxOptions { UpdateTargetId = "DivBankAdressdaten", OnComplete = "AjaxFormBankAdressdatenComplete();" },
                    htmlAttributes: new { @class = "form-horizontal", id = "AjaxFormBankAdressdaten" }))
    {
        @Html.FormValidationSummary()
        

        <h5 class="form-section">@Localize.DifferentAddress</h5>
        
        @Html.FormTextBoxFor(m => m.Rechnungsempfaenger.Name1, new { @class = "m-wrap large" })

        @Html.FormTextBoxFor(m => m.Rechnungsempfaenger.Name2, new { @class = "m-wrap large" })

        @Html.FormTextBoxFor(m => m.Rechnungsempfaenger.Strasse, new { @class = "m-wrap large" })

        @Html.FormTextBoxFor(m => m.Rechnungsempfaenger.Plz, new { @class = "m-wrap small" })

        @Html.FormTextBoxFor(m => m.Rechnungsempfaenger.Ort, new { @class = "m-wrap large" }) 

        @Html.FormRadioButtonListFor(m => m.Zahlungsart, BankAdressdaten.Zahlungsarten.ToSelectList())

        
        <h5 class="form-section">@Localize.BankData</h5>
        
        @Html.HiddenFor(m => m.KontoNr)
        @Html.HiddenFor(m => m.Bankleitzahl)
        
        @Html.FormTextBoxFor(m => m.Kontoinhaber, new { @class = "m-wrap large" })

        @Html.FormTextBoxFor(m => m.Iban, new { @class = "m-wrap large uppercase" },
                                    postControlHtml: @<text>
                                                            <a href="#" onclick="return LoadBankdatenAusIban()" class="btn white mini margin-left-10 margin-right-20"><i class="icon-chevron-left margin-right-5"></i> @Localize.LoadBankDataFromIban</a>
                                                            @Html.SpanAlert("bankDataHint")
                                                        </text>)

        @Html.FormTextBoxFor(m => m.Swift, new { @class = "m-wrap large uppercase", placeholder = Localize.WillBeFilledAutomatically, @readonly = "readonly" })
        
        @Html.FormTextBoxFor(m => m.Geldinstitut, new { @class = "m-wrap large", placeholder = Localize.WillBeFilledAutomatically, @readonly = "readonly" })
            
        
        <script type="text/javascript">

            _modelIsValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
        
        </script>
    }
</div>
