@using CkgDomainLogic.KroschkeZulassung.Models
@model BankAdressdaten

<div id="DivBankAdressdaten" class="margin-top-20">
    @using (Ajax.BeginForm("BankAdressdatenForm", "KroschkeZulassung", null,
                new MvcAjaxOptions { UpdateTargetId = "DivBankAdressdaten", OnComplete = "AjaxFormBankAdressdatenComplete();" },
                    htmlAttributes: new { @class = "form-horizontal", id = "AjaxFormBankAdressdaten" }))
    {
        @Html.FormValidationSummary()
        

        <div class="row-fluid">
            
            <div class="span6">
                
                @using (Html.PortletBox(Localize.DifferentAddress, "icon-home"))
                {
                    @Html.HiddenFor(m => m.Cpdkunde)
                    @Html.HiddenFor(m => m.CpdMitEinzugsermaechtigung)

                    @Html.PartialFor(m => m.Rechnungsempfaenger, "Partial/BankAdressdatenReForm")

                    @Html.FormRadioButtonListFor(m => m.Zahlungsart, BankAdressdaten.Zahlungsarten.ToSelectList())
                }

            </div>

            <div class="span6">
                
                @using (Html.PortletBox(Localize.BankData, "icon-book"))
                {
                    @Html.HiddenFor(m => m.KontoNr)
                    @Html.HiddenFor(m => m.Bankleitzahl)
        
                    @Html.FormTextBoxFor(m => m.Kontoinhaber, new { @class = "m-wrap large" })

                    @Html.FormTextBoxFor(m => m.Iban, new { @class = "m-wrap large uppercase" },
                                         postControlHtml: @<text>
                                                               <a href="#" onclick="return LoadBankdatenAusIban()" class="btn white mini margin-left-10 margin-right-20"><i class="icon-chevron-left margin-right-5"></i> @Localize.LoadBankDataFromIban</a>
                                                               @Html.SpanAlert("bankDataHint")
                                                           </text>)

                    @Html.FormTextBoxFor(m => m.Swift, new { @class = "m-wrap large uppercase", @readonly = "readonly" },
                                         postControlHtml: @<text>
                                                               <span class="margin-left-10">@Localize.WillBeFilledAutomatically</span>
                                                           </text>)

                    @Html.FormTextBoxFor(m => m.Geldinstitut, new { @class = "m-wrap large", @readonly = "readonly" },
                                         postControlHtml: @<text>
                                                               <span class="margin-left-10">@Localize.WillBeFilledAutomatically</span>
                                                           </text>)
                }

            </div>

        </div>

        
        <script type="text/javascript">
            
            _modelIsValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();

            _skipBankAddressData = ($("#SkipBankAdressdaten").val().toString().toLowerCase() == 'true');

            TrySkipBankAddressData();

        </script>
    }
</div>
