@model CkgDomainLogic.KroschkeZulassung.ViewModels.KroschkeZulassungViewModel

@if (Model.SaveErrorMessage.IsNullOrEmpty())
{
    <div class="alert alert-success">
        <i class="icon-check"></i><span class="padding-left-5"><strong>@Localize.ThankYou</strong>, @Localize.WeReceivedYourOrder!</span>
    </div>
}
else
{
    <div class="alert alert-error">
        <span class="label label-important"><i class="icon-bell"></i><span class="margin-left-5">@Localize.AnErrorHasOccured!</span></span><br /><br />
        @Model.SaveErrorMessage.ToHtml()
    </div>
}

<div id="ReceiptFormActions" class="hide">
    <a href="SummaryAsPdf" class="btn blue tooltips" data-original-title='@Localize.YourOrderAsPdfFile' data-placement="top"> @Localize.PdfDownload <i class="icon-download-alt"></i></a>
    @if (Model.Zulassung.KundenformularPdf != null)
    {
        <a href="KundenformularAsPdf" class="btn blue tooltips margin-left-5" data-original-title='@Localize.CustomerFormAsPdfFile' data-placement="top"> @Localize.CustomerForm <i class="icon-download-alt"></i></a>
    }
</div>

@if (Model.SaveErrorMessage.IsNotNullOrEmpty())
{
    <script type="text/javascript">
        FormWizard.ButtonPrevShowDelayed();
    </script>
}
else
{
    <script type="text/javascript">
        FormWizard.InsertActionButton("#ReceiptFormActions");
    </script>    
}