@model CkgDomainLogic.KroschkeZulassung.ViewModels.KroschkeZulassungViewModel

<style type="text/css">
    .receipt-no {
        width: 200px;
    }
</style>

@if (Model.SaveErrorMessage.IsNullOrEmpty())
{
    <div class="alert alert-success">
        @if (Model.TempFlagSaveDataToSap)
        {
            <i class="icon-check"></i><span class="padding-left-5"><strong>@Localize.ThankYou</strong>, @Localize.WeReceivedYourOrder!</span>
        }
        else
        {
            <i class="icon-check"></i><span class="padding-left-5"><strong>@Localize.SaveSuccessful</strong></span>
        }
    </div>
}
else
{
    <div class="alert alert-error">
        <span class="label label-important"><i class="icon-bell"></i><span class="margin-left-5">@Localize.AnErrorHasOccured!</span></span><br /><br />
        @Model.SaveErrorMessage.ToHtml()
    </div>
}

<div id="ReceiptFormActions">
    
    @if (Model.TempFlagSaveDataToSap)
    {
        <a href="AuftragslisteAsPdf" class="btn yellow tooltips margin-right-5" data-original-title='@Localize.OrderListAsPdfFile' data-placement="top"> @Localize.OrderList <i class="icon-download-alt"></i></a>
    }
        
    @foreach (var zulassung in Model.ZulassungenForReceipt)
    {
        <div class="margin-top-10">
            
            <span class="receipt-no">@Localize.Receipt #@zulassung.BelegNr</span>

            <a href="SummaryAsPdf?id=@zulassung.BelegNr" class="btn blue tooltips margin-right-5" data-original-title='@Localize.YourOrderAsPdfFile' data-placement="top"> @Localize.PdfDownload <i class="icon-download-alt"></i></a>

            @if (zulassung.KundenformularPdf != null)
            {
                <a href="KundenformularAsPdf?id=@zulassung.BelegNr" class="btn blue tooltips margin-right-5" data-original-title='@Localize.CustomerFormAsPdfFile' data-placement="top"> @Localize.CustomerForm <i class="icon-download-alt"></i></a>
            }
            
            @if (zulassung.AuftragszettelPdfPfad.IsNotNullOrEmpty())
            {
                <a href="AuftragszettelAsPdf?id=@zulassung.BelegNr" class="btn blue tooltips margin-right-5" data-original-title='@Localize.OrderFormAsPdfFile' data-placement="top"> @Localize.OrderForm <i class="icon-download-alt"></i></a>
            }
            
        </div>
    }

</div>

@if (Model.SaveErrorMessage.IsNotNullOrEmpty())
{
    <script type="text/javascript">
        FormWizard.ButtonPrevShowDelayed();
    </script>
}
else
{
    <script type="text/javascript">
        //FormWizard.InsertActionButton("#ReceiptFormActions");
    </script>    
}

<script type="text/javascript">
    FormWizardShowHideSaveButton(false);
</script>