@model CkgDomainLogic.KroschkeZulassung.ViewModels.KroschkeZulassungViewModel

<style type="text/css">
    .restart-with-new-order {
        margin-top: 40px;
    }
    .receipt-no {
        margin-left: 40px;
        min-width: 130px;
        display: inline-block;
        font-weight: bold;
    }
    .receipt-fin {
        margin-left: 10px;
        min-width: 180px;
        display: inline-block;
        font-weight: bold;
    }
    .receipt-row {
        margin-top: 5px;
        margin-bottom: 15px;
    }
</style>

@if (Model.SaveErrorMessage.IsNotNullOrEmpty())
{
    <div class="alert alert-error">
        <span class="label label-important"><i class="icon-bell"></i><span class="margin-left-5">@Localize.AnErrorHasOccured!</span></span><br /><br />
        @Model.SaveErrorMessage.ToHtml()
    </div>
}
else
{
    <div class="alert alert-success">
        @if (Model.TempFlagSaveDataToSap)
        {
            <i class="icon-check"></i><span class="padding-left-5"><strong>@Localize.ThankYou</strong>, @Localize.WeReceivedYourOrder!</span>
        }
        else
        {
            <i class="icon-check"></i><span class="padding-left-5"><strong>@Localize.SaveSuccessful</strong></span>
        }
    </div>
    
    <div id="ReceiptFormActions">
    
        @if (Model.TempFlagSaveDataToSap)
        {
            <a href="AuftragslisteAsPdf" class="btn yellow tooltips margin-right-5" data-original-title='@Localize.OrderListAsPdfFile' data-placement="top"> @Localize.OrderList <i class="icon-download-alt"></i></a>
        }
        
        @foreach (var zulassung in Model.ZulassungenForReceipt)
        {
            <div class="receipt-row">
            
                <div class="receipt-no">@Localize.Receipt #@zulassung.BelegNr</div>

                <div class="receipt-fin">@Localize.VIN @zulassung.Fahrzeugdaten.FahrgestellNr</div>

                <a href="SummaryAsPdf?id=@zulassung.BelegNr" class="btn blue tooltips margin-right-5" data-original-title='@Localize.YourOrderAsPdfFile' data-placement="top"> @Localize.PdfDownload <i class="icon-download-alt"></i></a>

                @if (zulassung.KundenformularPdf != null)
                {
                    <a href="KundenformularAsPdf?id=@zulassung.BelegNr" class="btn blue tooltips margin-right-5" data-original-title='@Localize.CustomerFormAsPdfFile' data-placement="top"> @Localize.CustomerForm <i class="icon-download-alt"></i></a>
                }
            
                @if (zulassung.AuftragszettelPdfPfad.IsNotNullOrEmpty())
                {
                    <a href="AuftragszettelAsPdf?id=@zulassung.BelegNr" class="btn blue tooltips margin-right-5" data-original-title='@Localize.OrderFormAsPdfFile' data-placement="top"> @Localize.OrderForm <i class="icon-download-alt"></i></a>
                }
            
            </div>
        }

    </div>
}

<div class="restart-with-new-order hide">
    <a href="javascript:LocationReloadWithoutQueryString();" class="btn green button-restart">@Localize.OccurrenceCreate <i class="m-icon-swapright m-icon-white"></i></a>
</div>

@if (Model.SaveErrorMessage.IsNotNullOrEmpty())
{
    <script type="text/javascript">
        try { FormWizard.ButtonPrevShowDelayed(); } catch(e) {}
    </script>
}

<script type="text/javascript">
    try { FormWizardShowHideSaveButton(false); } catch (e) { }

    if ($(".formWizardStepSpanGeneral").length == 0)
        $(".restart-with-new-order").show();
</script>