@using CkgDomainLogic.KroschkeZulassung.Models
@model Zulassungsdaten

<div id="DivZulassungsdaten" class="margin-top-20">
    @using (Ajax.BeginForm("ZulassungsdatenForm", "KroschkeZulassung", null,
                new MvcAjaxOptions { UpdateTargetId = "DivZulassungsdaten", OnComplete = "AjaxFormZulassungsdatenComplete();" },
                    htmlAttributes: new { @class = "form-horizontal label-width-175", id = "AjaxFormZulassungsdaten" }))
    {
        @Html.FormValidationSummary()

        
        @Html.HiddenFor(m => m.ZulassungskreisBezeichnung)
        
        @Html.FormDropDownListFor(m => m.ZulassungsartMatNr, Zulassungsdaten.MaterialList.ToSelectList(), new { @class = "m-wrap large" })

        @Html.FormDatePickerFor(m => m.Zulassungsdatum, new { @class = "m-wrap small" })
        
        @Html.FormTextBoxFor(m => m.Zulassungskreis, new { @class = "m-wrap xsmall uppercase" },
                                    postControlHtml: @<text>
                                                            <a href="#" onclick="return LoadKfzKreisAusHalterAdresse()" class="btn white mini margin-left-10 margin-right-20"><i class="icon-chevron-left margin-right-5"></i> @Localize.LoadDistrictFromOwnerAddress</a>
                                                            @Html.SpanAlert("kfzKreisHint")
                                                        </text>)

        @Html.FormTextBoxFor(m => m.EvbNr, new { @class = "m-wrap small uppercase", maxlength = 7 })

        @Html.FormTextBoxFor(m => m.Kennzeichen, new { @class = "m-wrap medium uppercase", @onkeypress = "return CleanUpKennzeichen();", col = "left" })
        @Html.FormCheckBoxFor(m => m.KennzeichenReserviert, new { @class = "m-wrap", onchange = "CheckKennzeichenReserviert()", col = "right" }, labelHidden: true)
        
        @Html.FormTextBoxFor(m => m.Wunschkennzeichen2, new { @class = "m-wrap medium uppercase", col = "left" })
        @Html.FormTextBoxFor(m => m.ReservierungsName, new { @class = "m-wrap medium", col = "right" })
        
        @Html.FormTextBoxFor(m => m.Wunschkennzeichen3, new { @class = "m-wrap medium uppercase", col = "left" })
        @Html.FormTextBoxFor(m => m.ReservierungsNr, new { @class = "m-wrap medium", col = "right" })
        
        
        @Html.FormRequiredFieldsSummary()
        
        <script type="text/javascript">

            _modelIsValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();

        </script>
    }
</div>
