@using CkgDomainLogic.Fahrzeuge.Models
@using CkgDomainLogic.Fahrzeuge.ViewModels
@model UploadAvislisteViewModel

@Html.ValidationSummary()

@{ var gridName = "GridUploadAvisliste"; }

@if (Model.UploadItemsUploadErrorsOccurred)
{
    <h5>
        <span>@Localize.YourFile <span class="bold">@Model.UploadFileName</span>, @Localize.NowInAdditionPleaseCheckTheContent:</span>
    </h5>
    <script type="text/javascript">        _formWizardForceHideSubmitButton = true; </script> 
}
else
{
    <h5>
        <span>@Localize.YourFile <span class="bold">@Model.UploadFileName</span>:</span>
    </h5>
    <script type="text/javascript">        _formWizardForceHideSubmitButton = false; </script>
}

@if (Model.UploadItemsUploadErrorsOccurred || Model.UploadItemsSaveErrorsOccurred)
{
    <div class="alert alert-warning">
        <label class="checkbox">
            <span class="bold">
                <i class="icon-bell"></i> @(Model.UploadItemsUploadErrorsOccurred ? Html.DisplayNameFor(m => m.UploadItemsUploadErrorsOccurred) : Html.DisplayNameFor(m => m.UploadItemsSaveErrorsOccurred))
            </span>
            <i class=""></i>
        </label>
    </div>
}

@(Html.Telerik()
    .Grid<UploadAvisdaten>()
    .Name(gridName)
    .Editable(editing => editing.Enabled(true))
    .DataKeys(d => d.Add(a => a.DatensatzNr).RouteKey("DatensatzNr"))
    .XAjaxDataBindingWithUpdateAndDelete("UploadAvislisteAjaxBinding", "UploadAvislisteAjaxUpdateItem", "UploadAvislisteAjaxDeleteItem", "Fahrzeuge")
    .Columns(columns =>
    {
        columns.Command(commands => commands.Edit());
        columns.Command(commands => commands.Delete());
        columns.XBound(c => c.DatensatzNr).Visible(false);
        columns.XBound(c => c.Status).HtmlAttributes(new { @class = "fontBold fontItalic" });
        columns.XBound(c => c.Carport);
        columns.XBound(c => c.CarportName);
        columns.XBound(c => c.MvaNr);
        columns.XBound(c => c.Kennzeichen);
        columns.XBound(c => c.AuftragsNr);
        columns.XBound(c => c.FahrgestellNr);
    })
    .XAutoColumnConfiguration()
    .ClientEvents(events => events.XAutoClientEvents(gridName).OnRowDataBound("OnRowDataBound_" + gridName))
    .XPageSize(10)
    .XSort(sortOrder => sortOrder.Add(c => c.DatensatzNr).Ascending())
)
