@model CkgDomainLogic.Remarketing.Models.SetBlockadeModel

<div id="divSetBlock" class="margin-top-20">
    @using (Ajax.BeginForm("SetBlockForm", "Remarketing", null,
        new MvcAjaxOptions { UpdateTargetId = "divSetBlock", OnComplete = "CloseBelastungsanzeigeDetail();" },
        new { @class = "form-horizontal", id = "AjaxFormSetBlock" }))
    {
        @Html.FormValidationSummary()

        
        <h4 class="form-section">@Localize.PleaseEnterTheCauseOfBlockHere</h4>
        
        @Html.FormTextAreaFor(m => m.BlockadeText, new { @class = "m-wrap" })
        
        <div class="space20"></div>
        
        
        @Html.FormRequiredFieldsSummary()
        
        <div class="form-actions">
            <button type="submit" class="btn green"><i class="icon-ok"></i> @Localize.Apply</button>
            <button type="button" class="btn" onclick="CloseBelastungsanzeigeDetail();">@Localize.Cancel</button>
        </div>

        <script type="text/javascript">
            _modelStateValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
        </script>
    }
</div>
