@model MvcTools.Models.FormControlModel 


<div class="control-group">
    
    <label class="control-label visible-ie8 visible-ie9">@Model.DisplayNameHtml @Model.RequiredIndicatorHtml</label>

    <div class="controls">
           
        <div class="input-icon left">
            <i class="@Model.IconCssClass"></i>
            @Model.ControlHtml
        </div>
        
        @if (@Model.ValidationMessageHtml != null)
        {
            @Model.ValidationMessageHtml
        }

    </div>

</div>