@using MvcTools.Models
@model FormControlModel 


@if (Model.ColumnMode != FormMultiColumnMode.None)
{
    if (Model.ColumnMode == FormMultiColumnMode.Left || Model.ColumnMode == FormMultiColumnMode.Left3)
    {
        @Html.Raw("<div class=\"row-fluid\">")
    }

    if (Model.ColumnMode == FormMultiColumnMode.Left || Model.ColumnMode == FormMultiColumnMode.Right)
    {
        @Html.Raw("<div class=\"span6\">")
    }

    if (Model.ColumnMode == FormMultiColumnMode.Left3 || Model.ColumnMode == FormMultiColumnMode.Middle3 || Model.ColumnMode == FormMultiColumnMode.Right3)
    {
        @Html.Raw("<div class=\"span4\">")
    }
}

<div class="control-group">
    
    <label class="control-label">
        @if (!Model.LabelHidden)
        {
            @Model.DisplayNameHtml @Model.RequiredIndicatorHtml
        }
    </label>

    <div class="controls">
        
        @if (Model.PreControlHtml != null)
        {
            @Model.PreControlHtml
        }
           
        @Model.ControlHtml
        
        @if (Model.ValidationMessageHtml != null)
        {
            @Model.ValidationMessageHtml
        }
        
        @if (Model.IsCheckBox && Model.LabelHidden && Model.PostControlHtml == null)
        {
            <label class="checkbox">@Model.DisplayNameHtml</label>
        }
        
        @if (Model.PostControlHtml != null)
        {
            @Model.PostControlHtml
        }
        else if (Model.IsCheckBox)
        {
            @Html.Raw("&nbsp;")
        }

    </div>

</div>

@if (Model.ColumnMode != FormMultiColumnMode.None)
{
    @Html.Raw("</div>")

    if (Model.ColumnMode == FormMultiColumnMode.Right || Model.ColumnMode == FormMultiColumnMode.Right3)
    {
        @Html.Raw("</div>")
    }
}
