@using CkgDomainLogic.Zanf.Models
@model ZulassungsAnforderungSuchparameter

<div id="divZanfSuche">
    @using (Ajax.BeginForm("LoadZulassungsAnforderungen", "Zanf", null,
        new MvcAjaxOptions("divZanfSuche") { OnComplete = "ShowZulassungsAnforderungen();" }))
    {    
        <div class="form-horizontal" id="searchForm">
            
            @Html.FormValidationSummary()
            
            @Html.FormRadioButtonListFor(m => m.Auswahl, Model.AuswahlOptionen.ToSelectList())
            
            @Html.FormDateRangePickerFor(m => m.AnlageDatumRange, new { col = "left" })
            @Html.FormDateRangePickerFor(m => m.AusfuehrungsDatumRange, new { col = "right" })

            @Html.FormTextBoxFor(m => m.FahrgestellNr, new { @class = "m-wrap uppercase", col = "left" })
            @Html.FormTextBoxFor(m => m.ReferenzNr, new { @class = "m-wrap uppercase", col = "right" })

            <div class="form-actions">
                <button type="submit" class='btn blue margin-left-40'><i class='icon-search'></i>&nbsp;@Localize.SearchAsVerb</button>
                
                @Html.FormPersistenceMenu(Model)
            </div>
        </div>  
        
        <script type="text/javascript">
            _modelStateValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
        </script>
    }
</div>

<script type="text/javascript">

    function ShowZulassungsAnforderungen() {

        FormPreparePrivateAjax();

        $.ajax({
            type: "POST",
            url: "ShowZulassungsAnforderungen",
            loadingShow: true,
            success: function (result) {

                SearchResultsTryHide();

                if (_modelStateValid) {
                    ShowZanfSearchResult(result);
                }

                LoadingHide();
            }
        });
    }

</script>