@model CkgDomainLogic.Fahrzeugbestand.Models.FahrzeugAkteBestandSelektor

<div id="divFahrzeugAkteBestandSuche">
    @using (Ajax.BeginForm("LoadFahrzeugAkteBestand", "Fahrzeugbestand", null,
        new MvcAjaxOptions("divFahrzeugAkteBestandSuche") { OnComplete = "ShowFahrzeugAkteBestand();" }, new { id = "FahrzeugAkteBestandForm" }))
    {    
        <div class="form-horizontal" id="searchForm">
            
            @Html.FormValidationSummary()


            @Html.FormTextBoxFor(m => m.FIN, new { @class = "m-wrap uppercase" })

            @Html.FormTextBoxFor(m => m.Halter, new { @class = "m-wrap", col = "left" })
            @Html.FormTextBoxFor(m => m.Kaeufer, new { @class = "m-wrap", col = "right" })
            

            @*@Html.FormRequiredFieldsSummary()*@

            <div class="form-actions">
                <button type="submit" class='btn blue'><i class='icon-search'></i>&nbsp;@Localize.SearchAsVerb</button>
            </div>
        </div>  
        
        <script type="text/javascript">
            _modelStateValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
        </script>
    }
</div>

