@model CkgDomainLogic.Fahrzeugbestand.Models.FahrzeugAkteBestand

<div id="divFahrzeugDetails">
    @using (Ajax.BeginForm("UpdateFahrzeugDetails", "Fahrzeugbestand", null,
        new MvcAjaxOptions("divFahrzeugDetails") { OnComplete = "TryCloseFahrzeugDetails();" }, new { id = "FahrzeugDetailsForm" }))
    {    
        @Html.FormValidationSummary()
            
        @Html.HiddenFor(m => m.FinID)

        <div class="row-fluid">
            <div class="span6 form-horizontal" id="fahrzeug-akte">
                @using (Html.PortletBox(Localize.Autohaus_Fahrzeugakte, "icon-briefcase"))
                {
                    @* Fahrzeug-Akte *@
                    @Html.FormTextBoxFor(m => m.FIN, new { @class = "m-wrap uppercase" })

                    @Html.FormTextBoxFor(m => m.HerstellerSchluessel, new { @class = "m-wrap" })
                    @Html.FormTextBoxFor(m => m.TypSchluessel, new { @class = "m-wrap" })
                    @Html.FormTextBoxFor(m => m.VvsSchluessel, new { @class = "m-wrap" })
                    @Html.FormTextBoxFor(m => m.VvsPruefZiffer, new { @class = "m-wrap small" })
                    @Html.FormTextBoxFor(m => m.FabrikName, new { @class = "m-wrap" })
                    @Html.FormTextBoxFor(m => m.HandelsName, new { @class = "m-wrap" })
                }
            </div>

            <div class="span6 form-horizontal" id="fahrzeug-bestand">
                @using (Html.PortletBox(Localize.InventoryData, "icon-table"))
                {
                    @* Fahrzeug-Bestand *@
                    @Html.FormTextBoxFor(m => m.Halter, new { @class = "m-wrap" })
                    @Html.FormTextBoxFor(m => m.Kaeufer, new { @class = "m-wrap" })
                }
            </div>

            @*@Html.FormRequiredFieldsSummary()*@

        </div>
        
        <div class="form-actions">
            <button type="submit" class='btn blue'><i class='icon-ok margin-right-10'></i>@Localize.Save</button>
            <button type="button" onclick="CloseFahrzeugDetails();" class='btn'><i class='halflings-icon remove margin-right-10'></i>@Localize.Cancel</button>

            <button type="button" onclick="ToggleFzgAkte();" class='hide btn purple margin-left-50'><i class='icon-search margin-right-10'></i>@Localize.Temporary</button>
        </div>
        
        <script type="text/javascript">
            _modelStateValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
            _finSearchFahrzeugFinID = '@Model.FinID.NotNullOrEmpty()';
        </script>
    }
</div>

