@using CkgDomainLogic.Fahrzeuge.Models
@model CarporterfassungModel

<div id="DivFahrzeugerfassung" class="margin-top-20">
    @using (Ajax.BeginForm("FahrzeugerfassungForm", "Fahrzeuge", null,
                new MvcAjaxOptions { UpdateTargetId = "DivFahrzeugerfassung", OnComplete = "AjaxFormFahrzeugerfassungComplete();" },
                    htmlAttributes: new { @class = "form-horizontal label-width-250", id = "AjaxFormFahrzeugerfassung" }))
    {
        @Html.FormValidationSummary()


        @Html.HiddenFor(m => m.ObjectKey)

        @Html.HiddenFor(m => m.KundenNr)
        @Html.HiddenFor(m => m.UserName)
        @Html.HiddenFor(m => m.CarportName)
        @Html.HiddenFor(m => m.LieferscheinNr)
        @Html.HiddenFor(m => m.Status)
        @Html.HiddenFor(m => m.UiUpdateOnly)


        if (Model.UserHasAllOrganizations)
        {
            @Html.FormDropDownListFor(m => m.Organisation, Model.Organizations.ToSelectList(), new { @class = "m-wrap medium", onchange = "OnOrganizationChanged()" })
        }
        else
        {
            @Html.HiddenFor(m => m.Organisation)
            @Html.FormTextBlockFor(m => m.OrganisationText, new { @class = "m-wrap medium" })
        }

        if (Model.UserHasCarportId)
        {
            @Html.HiddenFor(m => m.CarportId)
            @Html.FormTextBlockFor(m => m.CarportId, new { @class = "m-wrap large", col = "left" })
        }
        else
        {
            @Html.FormDropDownListFor(m => m.CarportId, Model.OrganizationCarportPdis.ToSelectList(), new { @class = "m-wrap large", col = "left" })
        }
        @Html.FormTextBoxFor(m => m.Barcode, new { @class = "m-wrap small", col = "right", @onkeypress = "return NumbersOnly(false);" })

        @Html.FormTextBoxFor(m => m.Kennzeichen, new { @class = "m-wrap medium uppercase" },
            postControlHtml: @<text>
                                    @Html.CheckBoxFor(m => m.Ausland)<label for="Ausland">@Localize.LicenseNoForeignCountries</label>
                              </text>)

        @Html.FormTextBoxFor(m => m.FahrgestellNr, new { @class = "m-wrap medium uppercase", maxlength = 17 },
            postControlHtml: @<text>
                                @Html.TextBoxFor(m => m.FahrgestellNrPruefziffer, new { @class = "m-wrap tiny margin-left-5", maxlength = 1 })
                                <span>@Localize.CheckDigit</span>
                              </text>)

        @Html.FormTextBoxFor(m => m.BestandsNr, new { @class = "m-wrap small uppercase", maxlength = 7, col = "left" })
        @Html.FormTextBoxFor(m => m.AuftragsNr, new { @class = "m-wrap medium", col = "right" })

        @Html.FormDatePickerFor(m => m.DemontageDatum, new { @class = "m-wrap small", col = "left" })
        @Html.FormDropDownListFor(m => m.AnzahlKennzeichen, CarporterfassungModel.AnzahlKennzeichenOptionen, new { @class = "m-wrap medium", col = "right", onchange = "ApplySelection(false, false)" })
        
        @Html.FormCheckBoxFor(m => m.Abgemeldet, new { @class = "m-wrap", col = "left", onchange = "ApplySelection(true, false)" }, labelHidden: true)
        @Html.FormDropDownListFor(m => m.Zb1Vorhanden, CarporterfassungModel.MaterialVorhandenOptionen, new { @class = "m-wrap medium", col = "right" })

        @Html.FormDropDownListFor(m => m.Zb2Vorhanden, CarporterfassungModel.MaterialVorhandenOptionen, new { @class = "m-wrap medium", col = "left" })
        @Html.FormDropDownListFor(m => m.CocVorhanden, CarporterfassungModel.MaterialVorhandenOptionen, new { @class = "m-wrap medium", col = "right" })

        @Html.FormDropDownListFor(m => m.ServiceheftVorhanden, CarporterfassungModel.MaterialVorhandenOptionen, new { @class = "m-wrap medium", col = "left" })
        @Html.FormDropDownListFor(m => m.HuAuBerichtVorhanden, CarporterfassungModel.MaterialVorhandenOptionen, new { @class = "m-wrap medium", col = "right" })

        @Html.FormDropDownListFor(m => m.ZweitschluesselVorhanden, CarporterfassungModel.ZweitschluesselVorhandenOptionen, new { @class = "m-wrap medium", col = "left" })
        @Html.FormDropDownListFor(m => m.NaviCdVorhanden, CarporterfassungModel.MaterialVorhandenOptionen, new { @class = "m-wrap medium", col = "right" })
        
        
        @Html.FormRequiredFieldsSummary()
        
        <div class="form-actions">
            <button type="submit" class="btn green"><i class="icon-ok"></i> @Localize.Save</button>
            <button type="button" class="btn" onclick="ListeAnzeigen();">@Localize.ToList</button>
        </div>
        
        <script type="text/javascript">       
            _modelIsValid = @Model.IsValid.ToString().ToLower();

            ApplySelection(true, false);
        </script>
    }
</div>
