@using CkgDomainLogic.Fahrzeuge.Models
@model CarportnacherfassungSelektor

<div id="divCarportnacherfassungSuche">
    @using (Ajax.BeginForm("LoadCarportnacherfassungFahrzeuge", "Fahrzeuge", null,
        new MvcAjaxOptions("divCarportnacherfassungSuche") { OnComplete = "ShowCarportnacherfassungFahrzeuge(true);" }, new { id = "NacherfassungForm" }))
    {    
        <div class="form-horizontal" id="searchForm">
            
            @Html.FormValidationSummary()


            @Html.FormTextBoxFor(m => m.BestandsNr, new { @class = "m-wrap", col = "left" })
            @Html.FormTextBoxFor(m => m.AuftragsNr, new { @class = "m-wrap", col = "right" })

            @Html.FormTextBoxFor(m => m.FahrgestellNr, new { @class = "m-wrap uppercase", col = "left" })
            @Html.FormTextBoxFor(m => m.Kennzeichen, new { @class = "m-wrap uppercase", col = "right" })


            @*@Html.FormRequiredFieldsSummary()*@

            <div class="form-actions">
                <button type="submit" class='btn blue'><i class='icon-search'></i>&nbsp;@Localize.SearchAsVerb</button>
            </div>
        </div>  
        
        <script type="text/javascript">
            _modelStateValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
            var _anzahlTreffer = @Model.AnzahlTreffer;
        </script>
    }
</div>
