@model CkgDomainLogic.Remarketing.Models.EditVorschadenModel

<div id="divEditVorschaden" class="margin-top-20">
    @using (Ajax.BeginForm("EditVorschadenForm", "Remarketing", null,
        new MvcAjaxOptions { UpdateTargetId = "divEditVorschaden", OnComplete = "CloseVorschadenEdit(false);" },
        new { @class = "form-horizontal", id = "AjaxFormEditVorschaden" }))
    {
        @Html.FormValidationSummary()


        @Html.HiddenFor(m => m.LaufendeNr)
        @Html.HiddenFor(m => m.FahrgestellNr)
        @Html.HiddenFor(m => m.Kennzeichen)

        @Html.FormTextBlockFor(m => m.LaufendeNr, new { @class = "m-wrap" })

        @Html.FormTextBlockFor(m => m.FahrgestellNr, new { @class = "m-wrap" })

        @Html.FormTextBlockFor(m => m.Kennzeichen, new { @class = "m-wrap" })

        @Html.FormTextAreaFor(m => m.Beschreibung, new { @class = "m-wrap" })
        
        @Html.FormTextBoxFor(m => m.Schadensbetrag, new { @class = "m-wrap" })

        @Html.FormDatePickerFor(m => m.Schadensdatum, new { @class = "m-wrap" })
        
        <div class="space20"></div>
        
        
        @Html.FormRequiredFieldsSummary()
        
        <div class="form-actions">
            <button type="submit" class="btn green"><i class="icon-ok"></i> @Localize.Save</button>
            <button type="button" class="btn" onclick="CloseVorschadenEdit(true);">@Localize.Cancel</button>
        </div>

        <script type="text/javascript">
            _modelStateValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
        </script>
    }
</div>
