@using StockCapture.ViewModels;
@model StockQuoteViewModel

<h1></h1>

<table id="stockquotes-table" class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Insert-Date</th>
            <th>Val</th>
            <th>Diff</th>
            <th>Diff 2</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sq in Model.LatestStockQuotes)
        {
            <tr class="@sq.RowCssClass">
                <td>@sq.ID</td>
                <td>@sq.Date.GetValueOrDefault().ToString("dd.MM.yy HH:mm")</td>
                <td>@sq.InsertDate.GetValueOrDefault().ToString("dd.MM.yy HH:mm")</td>
                <td>@sq.Val.GetValueOrDefault().ToString("0.0000")</td>
                <td>@sq.DiffToPrevTicks.ToString("0.0")</td>
                <td>@sq.DiffToPrevPrevTicks.ToString("0.0")</td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
</script>
