@model CkgDomainLogic.CoC.Models.SendungsAuftragPlaceSelektor

<div id="divSendungenPlacesSuche">
    @using (Ajax.BeginForm("LoadSendungenPlace", "CocSendung", null,
        new MvcAjaxOptions("divSendungenPlacesSuche") { OnComplete = "ShowCocSendungenPlaces();" }, new { id = "SendungenFormPlaces" }))
    {   
        <div class="form-horizontal" id="searchFormPlace">
            
            @Html.FormValidationSummary()


            @Html.FormDropDownListFor(m => m.Fahrzeugstandort, Model.Standorte, new { @class = "m-wrap medium", col = "left" })

            @Html.FormDateRangePickerFor(m => m.DatumRangeZul, new { col = "right" }, new[] { "!far-past", "!future" })


            @Html.FormTextBoxFor(m => m.FIN, new { col = "left" })

            @Html.FormTextBoxFor(m => m.Kennzeichen, new { col = "right" })
            
            
            @Html.FormRequiredFieldsSummary()

            <div class="form-actions">
                <button type="submit" class='btn blue'><i class='icon-search'></i>&nbsp;@Localize.SearchAsVerb</button>
            </div>
        </div>  
        
        <script type="text/javascript">
            _modelStateValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
        </script>
    }
</div>
