@model CkgDomainLogic.DomainCommon.ViewModels.DashboardViewModel

@Html.Partial("Partial/Common")

<h3 class="page-title">Dashboard <small>Charts</small>

    <li class="dropdown user dashboard-dropdown-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span id="badgeVisibleItemsCount" class="badge">@Model.HiddenDashboardItems.Count</span>
            <i class="icon-bar-chart"></i>
            <i class="icon-angle-down"></i>
        </a>
        <ul class="dropdown-menu">
            
            @{ var cssClassEmptyItem = (@Model.HiddenDashboardItems.None() ? "" : "hide"); }
            <li id="li_dropdown_empty" class="@cssClassEmptyItem"><a href="#" onclick="return false;"><i class="icon-bar-chart"></i> (aktuell keine Einträge zum Einblenden verfügbar) </a></li>
            
            @foreach (var dashBoardItem in Model.DashboardItems)
            {
                var cssClass = (dashBoardItem.IsUserVisible ? "hide" : "");
                
                <li id="li_dropdown_@dashBoardItem.ID" class="@cssClass"><a href="#" onclick="return ShowDashboardItem(@dashBoardItem.ID, '@dashBoardItem.ItemKey', '@dashBoardItem.Title')"><i class="icon-bar-chart"></i> @dashBoardItem.Title </a></li>
            }

        </ul>
    </li> 
</h3>

@foreach (var dashBoardItem in Model.DashboardItems)
{
    <a class="hide margin-right-10" id="report_href_@dashBoardItem.ID" target="report_@dashBoardItem.ID" href="ShowReportForDashboardItem?id=@dashBoardItem.ID&token=@Guid.NewGuid()">Report @dashBoardItem.ID</a>
}

<ul id="myDashboard">
</ul>

<script type="text/javascript">
    var _dashboardJson = [];
</script>
@foreach (var dashBoardItem in Model.VisibleSortedDashboardItems)
{
    <script type="text/javascript">
        _dashboardJson.push(
            {
                widgetKey: "@dashBoardItem.ItemKey",
                widgetTitle: "@dashBoardItem.Title",
                widgetId: "id_@dashBoardItem.ID",
                widgetType: "chart",
                enableRefresh: true,
                refreshCallBack: function (widgetId) {
                    return _dashboardData;
                },
                widgetContent: {
                    data: null,
                    options: null
                }
            }
        );
    </script>
}

<script type="text/javascript">

    var _dashboardChainIndex = 0;

    function FormPreparePrivate() {
        FormPrepareDashboard();
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
    }

    var _dashboardData = { data: null, options: null, dashboardItemOptions: null };

    function FormPrepareDashboard() {

        //basic initialization example
        $("#myDashboard").sDashboard({
            dashboardData: _dashboardJson
        });

        DashboardChainInit();
    }

    function DashboardChainInit() {

        var dashboardWidgets = $("#myDashboard li");
        _dashboardChainIndex = 0;

        $.each(dashboardWidgets, function (i, elem) {
            var widgetId = "#" + $(elem).attr("id");
            var busyHintDiv = $(widgetId + " .sDashboardWidgetContentBusyHint");
            showBusy(busyHintDiv, 0, 0);
        });

        DashboardChainExecute(dashboardWidgets);
    }

    function DashboardChainExecute(dashboardWidgets) {

        if (_dashboardChainIndex >= dashboardWidgets.length)
            return;

        var widget = dashboardWidgets.eq(_dashboardChainIndex);
        var widgetId = "#" + widget.attr("id");
        var busyHintDiv = $(widgetId + " .sDashboardWidgetContentBusyHint");

        $.ajax(
            {
                type: "POST",
                url: "GetChartData",
                data: { id: widgetId },
                loadingShow: false,
                success: function (result) {

                    _ChartPrepareJsonResult(result, $(widgetId).data("widgetDefinition").widgetKey);
                    _dashboardData.data = _chartData;
                    _dashboardData.options = _chartOptions;
                    _dashboardData.dashboardItemOptions = _dashboardItemOptions;
                    alert(_dashboardData.dashboardItemOptions.ColumnSpan);

                    hideBusy(busyHintDiv);
                    busyHintDiv.hide();

                    $(widgetId + " .sDashboard-refresh-icon").trigger("click");
                    SetupWidgetToolbar(widgetId);

                    _dashboardChainIndex++;
                    setTimeout(function () { DashboardChainExecute(dashboardWidgets); }, 200);
                }
            });
    }

    function SaveDashboardItems(numberOfItemsChanged) {

        var commaSeparatedIds = $.map($("#myDashboard li"), function (item) {
            return $(item).attr("id").replace(/id_/g, "");
        }).join(",");

        $.ajax(
            {
                type: "POST",
                url: "DashboardItemsSave",
                data: { commaSeparatedIds: commaSeparatedIds },
                loadingShow: false,
                success: function (result) {
                    $("#badgeVisibleItemsCount").html(result.hiddenItemsCount);

                    if (numberOfItemsChanged){
                        $(".badge").toggle("highlight", function () {
                            $(".badge").show();
                        });

                        if (result.hiddenItemsCount == 0)
                            $("#li_dropdown_empty").show();
                        else
                            $("#li_dropdown_empty").hide();
                    }
                }
            });

        return false;
    }

    function ShowDashboardItem(id, key, title) {

        AddWidget(id, key, title);

        return false;
    }

    function AddWidget(rawWidgetId, widgetKey, widgetTitle) {

        $("#myDashboard").sDashboard("addWidget",
            {
                widgetKey: widgetKey,
                widgetTitle: widgetTitle,
                widgetId: "id_" + rawWidgetId,
                widgetType: "chart",
                enableRefresh: true,
                refreshCallBack: function () {
                    return _dashboardData;
                },
                widgetContent: {
                    data: null,
                    options: null
                }
            });

        var widgetId = "#id_" + rawWidgetId;
        var busyHintDiv = $(widgetId + " .sDashboardWidgetContentBusyHint");
        showBusy(busyHintDiv, 0, 0);

        $.ajax(
            {
                type: "POST",
                url: "GetChartData",
                data: { id: "id_" + rawWidgetId },
                loadingShow: false,
                success: function (result) {

                    _ChartPrepareJsonResult(result, $(widgetId).data("widgetDefinition").widgetKey);
                    _dashboardData.data = _chartData;
                    _dashboardData.options = _chartOptions;
                    _dashboardData.dashboardItemOptions = _dashboardItemOptions;

                    $(widgetId + " .sDashboard-refresh-icon").trigger("click");
                    SetupWidgetToolbar(widgetId);
                    hideBusy(busyHintDiv);
                    busyHintDiv.hide();
                }
            });

        return false;
    }

    function SetupWidgetToolbar(widgetId) {
        var rawId = widgetId.replace(/#id_/g, "");
        var printButton = $("<a class='dashboard-toolbar-item' href='#' title='Report öffnen'><i class='icon-print'></i></a>");
        printButton.attr("href", $("#report_href_" + rawId).attr("href"));
        printButton.attr("target", $("#report_href_" + rawId).attr("target"));
        printButton.insertAfter($(widgetId + " .sDashboardWidgetHeader .sDashboard-circle-remove-icon"));
    }

    function DashboardWidgetEventAdd(id) {
        $("#li_dropdown_" + id).hide();
        SaveDashboardItems(true);
    }

    function DashboardWidgetEventRemove(id) {
        $("#li_dropdown_" + id).show();
        SaveDashboardItems(true);
    }

    function DashboardWidgetEventOrderChanged(id) {
        SaveDashboardItems(false);
    }

</script>
