@using CkgDomainLogic.Equi.Models
@model EquiHistorieSuchparameter

<div id="divHistorieVermieterSuche">
    @using (Ajax.BeginForm("LoadHistorieVermieterEquis", "Equi", null,
        new MvcAjaxOptions("divHistorieVermieterSuche") { OnComplete = "ShowHistorieVermieterEquis();" }, new { id = "HistorieVermieterEquisForm" }))
    {    
        <div class="form-horizontal" id="searchForm">
            
            @Html.FormValidationSummary()

            
            @Html.FormTextBoxFor(m => m.Kennzeichen, new { @class = "m-wrap uppercase" })
            @Html.FormTextBoxFor(m => m.FahrgestellNr, new { @class = "m-wrap uppercase" })
            @Html.FormTextBoxFor(m => m.BriefNr, new { @class = "m-wrap uppercase" })
            @Html.FormTextBoxFor(m => m.VertragsNr, new { @class = "m-wrap uppercase" })
            @Html.FormTextBoxFor(m => m.Referenz1, new { @class = "m-wrap" })


            <div class="form-actions">
                <button type="submit" class='btn blue'><i class='icon-search'></i>&nbsp;@Localize.Search</button>
            </div>
        </div>  
        
        <script type="text/javascript">
            _modelStateValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
            var _anzahlTreffer = @Model.AnzahlTreffer;
        </script>
    }
</div>

<script type="text/javascript">

    function ShowHistorieVermieterEquis() {

        FormPreparePrivateAjax();

        $.ajax({
            type: "POST",
            url: "ShowHistorieVermieterEquis",
            loadingShow: true,
            success: function (result) {

                SearchResultsTryHide();

                if (_modelStateValid) {
                    ShowEquiHistorieVermieterSearchResult(result);
                    if (_anzahlTreffer == 1) {
                        ShowEquiHistorieVermieterAjax("");
                    }
                }

                LoadingHide();
            }
        });
    }

</script>