@model CkgDomainLogic.CoC.Models.SendungsAuftragDocsSelektor

<div id="divSendungenDocsSuche">
    @using (Ajax.BeginForm("LoadSendungenDocs", "CocSendung", null,
        new MvcAjaxOptions("divSendungenDocsSuche") { OnComplete = "ShowCocSendungenDocs();" }, new { id = "SendungenFormDocs" }))
    {   
        <div class="form-horizontal" id="searchFormDocs">
            
            @Html.FormValidationSummary()
            
           
            @Html.FormDateRangePickerFor(m => m.DatumRangeDocs, new { col = "left" }, new[] { "!far-past", "!future" })

            @Html.FormCheckBoxFor(m => m.NurMitSendungsID, new { @class = "m-wrap", col = "right" }, postControlHtml: @<text><label class="checker">@Localize.OnlyShippingOrdersWithPacketNo</label></text>)


            @*@Html.FormRequiredFieldsSummary()*@

            <div class="form-actions">
                <button type="submit" class='btn blue'><i class='icon-search'></i>&nbsp;@Localize.SearchAsVerb</button>
            </div>
        </div>  
        
        <script type="text/javascript">
            _modelStateValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
        </script>
    }
</div>
