@using CkgDomainLogic.DomainCommon.Models
@model Adresse

<div id="DivHalteradresse" class="margin-top-20">
    @using (Ajax.BeginForm("HalterAdresseForm", "Autohaus", null,
                new MvcAjaxOptions { UpdateTargetId = "DivHalteradresse", OnComplete = "HalterAdresseAjaxFormComplete();" },
                    htmlAttributes: new { @class = "form-horizontal", id = "HalterAdresseAjaxForm" }))
    {
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.IsValid)
        @Html.HiddenFor(m => m.Kennung)
        @Html.HiddenFor(m => m.Typ)
        @Html.HiddenFor(m => m.TmpSelectionKey)
        @Html.HiddenFor(m => m.NoSaveButUiRefreshOnly)

        @Html.FormValidationSummary()

        @Html.FormTextBoxFor(m => m.Name1, new { @class = "m-wrap medium" })
        @Html.FormTextBoxFor(m => m.Name2, new { @class = "m-wrap medium" })
        @Html.FormTextBoxFor(m => m.Strasse, new { @class = "m-wrap medium" })

        @Html.FormTextBoxFor(m => m.PLZ, new { @class = "m-wrap xsmall" })
        @Html.FormTextBoxFor(m => m.Ort, new { @class = "m-wrap medium" })
        @Html.FormDropDownListFor(m => m.Land, Adresse.Laender.ToSelectList(), new { @class = "m-wrap medium" })
        
        @Html.FormRequiredFieldsSummary()


        <script type="text/javascript">
            _modelIsValid = '@Model.IsValid.ToString().ToLower()';
            
            DocumentReadyBind(HalterAdresseAjaxFormInit);
            HalterAdresseAjaxFormInit();
            
            function HalterAdresseAjaxFormInit() {
                AjaxFormAdressePrepareAutoComplete($("#Name1"), "HalterAdresseGetAutoCompleteItems");
                AjaxFormAdressePrepareAutoCompleteReset("HalterAdresseAjaxForm");
            }

        </script>
    }
</div>