@model CkgDomainLogic.Autohaus.ViewModels.AutohausZulassungViewModel

<h4>Zulassungsdaten für Ihre Auswahl: @Model.FreieZulassungsOption.VIN</h4> 


<style type="text/css">
    
    .wunschkennzeichen-grid-wrapper {
        margin-left: 170px;
    }
    .wunschkennzeichen-form .control-group {
        margin-bottom: 0!important;
    }
    
    .t-grid th {
        font-weight: normal!important;
    }
    .t-grid .text-box {
        width: 10px!important;
    }
    .text-uppercase {
        text-transform: uppercase;
    }
    
    .kennzeichen-nur-mit-kfzkreis {
        color: transparent;
    }
    .grid-edit-button {
        margin-left: 1px;
        margin-right: 1px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .grid-button {
        border: 0!important;
    }
</style>


@Html.Partial("Zulassung/ZulassungsOptionenForm", @Model.ZulassungsOption)


<form id="dummy" class="form-horizontal wunschkennzeichen-form" action="#">
    
    <label class="control-label">Wunschkennzeichen</label>

    <div class="wunschkennzeichen-grid-wrapper">
        @(Html.Telerik()
              .Grid<VinWunschkennzeichen>()
              .Name("GridVinWunschkennzeichen")
              .Columns(columns =>
                  {
                      columns.Command(commands => commands.Edit().ButtonType(GridButtonType.Image));

                      columns.Bound(c => c.UniqueKey).Visible(false);
                      columns.Bound(c => c.VIN).ReadOnly(true);
                      columns.Bound(c => c.ZBII).ReadOnly(true);
                      columns.Bound(c => c.AuftragsReferenz).ReadOnly(true);
                      
                      columns.Bound(c => c.Kennzeichen1).Width(60);
                      columns.Bound(c => c.Kennzeichen2).Width(60);
                      columns.Bound(c => c.Kennzeichen3).Width(60);

                      columns.Bound(c => c.OderSeparator).Width(40).ReadOnly(true);

                      columns.Bound(c => c.KennzeichenReserviert).Width(60);
                      columns.Bound(c => c.ReservierungNr).Width(80);
                      columns.Bound(c => c.ReservierungName).Width(140);
                  })
              .DataKeys(keys => keys.Add(c => c.UniqueKey))
              .DataBinding(dataBinding => dataBinding.Ajax().Select("VinWunschkennzeichenAjaxSelect", "Autohaus").Update("VinWunschkennzeichenAjaxUpdate", "Autohaus"))
              .ClientEvents(events => events.OnRowDataBound("WunschkennzeichenGridRowOnDataBound").OnEdit("WunschkennzeichenGridRowOnEdit").OnCommand("WunschkennzeichenGridRowOnCommand"))
              )
    </div>

    @Html.FormRequiredFieldsSummary()
          
</form>
