@using CkgDomainLogic.Autohaus.Models
@model ZulassungsOptionen

<div id="DivZulassungsOptionen" class="margin-top-20">
    @using (Ajax.BeginForm("ZulassungsOptionenForm", "Autohaus", null,
                new MvcAjaxOptions { UpdateTargetId = "DivZulassungsOptionen", OnComplete = "AjaxFormZulassungsOptionenComplete();" },
                    htmlAttributes: new { @class = "form-horizontal", id = "AjaxFormZulassungsOptionen" }))
    {
        @Html.HiddenFor(m => m.IsValid)

        @Html.FormValidationSummary()

        @Html.FormDropDownListFor(m => m.ZulassungsOptionKey, ZulassungsOptionen.OptionenList.ToSelectList(), new { @class = "m-wrap large" })

        @Html.FormDatePickerFor(m => m.AuslieferDatum, new { @class = "m-wrap small" })
        
        @Html.FormTextBoxFor(m => m.ZulassungsKreis, new { @class = "m-wrap xsmall uppercase" }, 
                                    postControlHtml :  @<text>
                                                            <a href="#" onclick="return LoadKfzKreisAusHalterAdresse()" class="btn white mini margin-left-10 margin-right-20"><i class="icon-chevron-left margin-right-5"></i> Kreis aus Halteradresse laden</a>
                                                            @Html.SpanAlert("kfzKreisHint")
                                                        </text>)

        @*@Html.FormTextAreaFor(m => m.Bemerkung, new { @class = "m-wrap large" })*@

        @Html.FormTextBoxFor(m => m.Versicherung.VersicherungsGesellschaft, new { @class = "m-wrap medium VersicherungsGesellschaft" })

        @Html.FormTextBoxFor(m => m.Versicherung.EvbNummer, new { @class = "m-wrap small" })

        
        <script type="text/javascript">

            _modelIsValid = @Model.IsValid.ToString().ToLower();

            DocumentReadyBind(AjaxFormVersicherungsGesellschaftInit);
            AjaxFormVersicherungsGesellschaftInit();
            
            function AjaxFormVersicherungsGesellschaftInit() {

                var tb = $(".VersicherungsGesellschaft");

                $.ajax({
                    type: "POST",
                    url: "VersicherungsAdresseGetAutoCompleteItems",
                    data: { },
                    loadingShow: false,
                    success: function (result) {
                        VersicherungsGesellschaftInitAutoComplete(tb, result.items);
                    }
                });      
            }

            function VersicherungsGesellschaftInitAutoComplete(tb, items) {
                
                tb.bind('mousedown', function () { $(this).autocomplete("search"); });
                
                tb.autocomplete({
                    minLength: 0,
                    source: items,
                    select: function (event, ui) {
                        //tb.val(ui.item.value);
                    }
                });
                tb.autocomplete("enable");
            }

        </script>
    }
</div>
