@model ChangePasswordModel 

<div id="DivChangePassword">
    @using (Ajax.BeginForm("ChangePasswordForm", "Login", null,
                           new MvcAjaxOptions { UpdateTargetId = "DivChangePassword", OnComplete = "AjaxFormChangePasswordComplete();" },
                           new { @class = "form-vertical login-form", id = "AjaxFormChangePassword" }))
    {
        @Html.HiddenFor(m => m.UserName)
        @Html.HiddenFor(m => m.ModePasswordReset)

        <h3 class="form-title">@Localize.PasswordChange</h3>
        
        if (!Model.IsValid)
        {
            <div class="alert alert-info">
                @Localize.Welcome, <strong>@Model.UserSalutation</strong>.
                <div class="margin-top-15">
                    <i class="icon-unlock margin-right-5"></i>
                    @Localize.PasswordChangeHint:
                </div>
            </div>

            @Html.FormValidationSummary()

        
            if (!Model.ModePasswordReset)
            {
                @Html.FormPlaceholderTextBoxFor(m => m.PasswordCurrent, new { @class = "m-wrap placeholder-no-fix", type = "password" }, "icon-lock")
            }
            else
            {
                @Html.HiddenFor(m => m.PasswordCurrent)
            }
            
            @Html.FormPlaceholderTextBoxFor(m => m.Password, new { @class = "m-wrap placeholder-no-fix", type = "password" }, "icon-lock")

            @Html.FormPlaceholderTextBoxFor(m => m.PasswordAgain, new { @class = "m-wrap placeholder-no-fix", type = "password" }, "icon-lock")

            <div class="form-actions">
                <button type="submit" class="btn blue pull-right">
                    <i class="icon-chevron-right"></i> @Localize.PasswordChange 
                </button>            
            </div>
        }
        else
        {
            <div class="alert alert-success">
                <i class="icon-ok margin-right-5"></i>
                @Localize.PasswordChangeSuccessfulHint
            </div>
            
            if (Model.ModePasswordReset)
            {
                <div class="margin-top-20">
                    <h4><a href="~/Login/Index" id="forget-password"><i class="icon-chevron-right"></i> @Localize.Login</a></h4>
                </div>
            }
        }        
            
        <div id="PasswordHintWrapper" class="hide">
            <div class="PasswordHint popovers hide" data-trigger="hover">
                <div class="progressWrapper">
                    <div class="progress">
                        <div class="bar bar-success" style="width: 0%;"></div>
                        <div class="bar bar-danger" style="width: 0%;"></div>
                    </div>            
                </div>
                <span class="label label-success hide">Ok</span>
                <span class="label label-important"> i </span>
            </div>
        </div>
        
        <script type="text/javascript">

            _modelIsValid = @Model.IsValid.ToString().ToLower();
            _modePasswordReset = @Model.ModePasswordReset.ToString().ToLower();

            AutoFocusDelayed(_modePasswordReset ? 'Password' : 'PasswordCurrent');

            if (_modelIsValid) {
                //alert(_modelIsValid);
            }

            $("#Password").typing({
                start: function (event, $elem) {
                },
                stop: function (event, $elem) {
                    PasswordPrecheck();
                },
                delay: 200
            });
            
            function PasswordPrecheckPrepare() {
                
                $("#Password").parent().append($("#PasswordHintWrapper").html());

                $(".label-important").hide();
                $(".label-success").hide();

                // reformat auto validation message for field "Password"
                var passwordValidationDiv = $("#Password").parent().parent().find('.help-inline');
                var passwordValidationTextOrg = passwordValidationDiv.html();
                var passwordValidationText = passwordValidationTextOrg;
                if (passwordValidationText != null) {
                    passwordValidationText = passwordValidationText.replace(/; /g, '<br />');
                    passwordValidationDiv.html(passwordValidationText);
                }
                
                PasswordPrecheck();
            }

            function PasswordPrecheck() {

                $.ajax(
                {
                    type: "POST",
                    url: "PasswordPrecheck",
                    data: { password: $("#Password").val() },
                    loadingShow: false,
                    success: function (result) {
                        //console.log("passwordRuleCount: " + result.passwordRuleCount);
                        if (result.passwordRuleCount == 0)
                            return;

                        var popoverIsVisible = ($(".popovers").next('div.popover:visible').length > 0);
                        //console.log(popoverIsVisible);

                        $(".PasswordHint").show();
                        var total = result.passwordRuleCount + 1;
                        var red = result.localizedPasswordValidationErrorMessages.length;
                        var green = total - red;
                        //console.log("red: " + red);
                        //console.log("green: " + green);

                        $(".bar-danger").css("width", (red / total * 100.0) + "%");
                        $(".bar-success").css("width", (green / total * 100.0) + "%");
                        $(".progress").show();
                        
                        var ruleHtml = "<ul class='password-messages'>";
                        for (var i = 0; i < result.localizedPasswordRuleMessages.length; i++) {
                            var matchingItems = $.grep(result.localizedPasswordValidationErrorMessages, function (item, index) {
                                return (item == result.localizedPasswordRuleMessages[i]);
                            });
                            var isError = matchingItems.length > 0;
                            var iClass = isError ? "icon-warning-sign" : "icon-ok";
                            var ruleObject = $("<li />")
                                .addClass(isError ? "rule-red" : "rule-green")
                                .html("<i class='" + iClass + "'></i><span>" + result.localizedPasswordRuleMessages[i] + "</span>");
                            ruleHtml += ruleObject[0].outerHTML;
                        }
                        ruleHtml += "</ul>";
                        $(".popovers").popover('destroy');
                        $(".popovers").popover({ placement : "bottom", title: "", content: ruleHtml, html: "true"  });
                        if (popoverIsVisible)
                            $(".popovers").popover('show');

                        if (green < total) {
                            $(".label-success").hide();
                            $(".label-important").show();
                        }
                        else {
                            $(".label-success").show();
                            $(".label-important").hide();
                        }
                    }
                });
            }
        </script>
    }
</div>
