@{
    ViewBag.Title = "Login - " + Localize.PasswordChange;
    ViewBag.BodyCssClass = "login";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}
@model LoginViewModel 

<style type="text/css">
    .PasswordHint .progressWrapper {
        margin-left: 30px;
        width: 200px;
    }
    .PasswordHint .progress {
        height: 8px;
        background: none;
    }
    .label-important, .label-success {
        font-weight: bold;
        font-size: 1.4em;
    }
    .label-important {
        font-family: awesome;
        padding-left: 6px;
        padding-right: 7px;
    }

    li.rule-red {
        color: red;
    }
    li.rule-green {
        color: #00af00;
        font-style: italic;
    }
    ul.password-messages {
        list-style: none;
        padding: 0!important;
        margin: 0!important;
    }
    ul.password-messages li {
        margin: 7px!important;
        margin-top: 0!important;
    }
    ul.password-messages li span {
        padding-left: 25px;
        display: table-cell;
    }
    ul.password-messages li i {
        margin: 0!important;
        padding-top: 2px;
        font-size: 1.4em!important;
    }
    ul.password-messages li.rule-green i {
        color: #00af00!important;
    }
    ul.password-messages li.rule-red i {
        color: red!important;
    }
</style>

@Html.Partial("Partial/Common") 

<div class="content">
    @Html.Partial("Partial/Logo") 

    @Html.Partial("ChangePasswordForm", Model.ChangePasswordModel)

    @Html.Partial("Partial/Footer") 

    @Html.Partial("Partial/Scripts") 
</div>

<script type="text/javascript">

    var _modelIsValid = false;

    function FormPreparePrivate() {
        Login.init();

        PasswordPrecheckPrepare();
    };

    function FormPreparePrivateAjax() {
        FormPrepareAjax();

        PasswordPrecheckPrepare();
    }

    function AjaxFormChangePasswordComplete() {
        FormPreparePrivateAjax();
    }
</script>
