@model CustomerModel

@{
    ViewBag.Title = "Login";
    ViewBag.BodyCssClass = "login";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}

@Html.Partial("Partial/Common")


@if (ViewBag.CurrentLayoutTheme == "AH2015")
{
    <div class="loginhead">@Html.Partial("Partial/Logo")</div>
}

<div class="content">
    @if (ViewBag.CurrentLayoutTheme == "")
    {
        @Html.Partial("Partial/Logo")
    }
  
    @Html.Partial("Partial/CustomerForm")
    <div class="space15"></div>
            
    @Html.Partial("Partial/Footer")
      
</div>

@Html.Partial("Partial/Scripts")
