@{
    ViewBag.Title= "Login";
    ViewBag.BodyCssClass = "login";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}
@model LoginViewModel 


@Html.Partial("Partial/Common") 


<div class="content">
    @Html.Partial("Partial/Logo") 
    <div class="language-flags">
        @Html.Partial("Partial/UserLanguageSwitch", new ViewDataDictionary(ViewData))
    </div>
    
    @Html.Partial("Partial/MaintenanceHintsLogonDisabled", Model.MaintenanceInfo)

    @if (!Model.MaintenanceInfo.LogonDisabled)
    {
        @Html.Partial("LoginForm", Model.LoginModel)

        <script type="text/javascript">

            var _modelIsValid = false;

            function FormPreparePrivate() {
                Login.init();
            };

            function FormPreparePrivateAjax() {
                FormPrepareAjax();
            }

            function AjaxFormLoginComplete() {
                FormPreparePrivateAjax();
            }
        </script>
    }
    
    
    <a href="Impressum" class="footer-link">@Localize.Imprint</a>
    <a href="Kontakt" class="footer-link">@Localize.Contact</a>
    <span class="footer-link margin-right-10 no-margin-left">DAD Deutscher Auto Dienst GmbH</span>
</div>


@Html.Partial("Partial/Scripts") 

