@using CkgDomainLogic.ZldPartner.ViewModels
@model ZldPartnerZulassungenViewModel

<h3 class="page-title" id="headerTitle">@Localize.ZldPartner_DurchzufuehrendeZulassungen<small></small></h3>

<style>
    
     input.hide {
         display: none;
     }
     
</style>

@section LayoutScript { _controlGroupValidationType = "individual"; }

@Html.SpanAlert("Message")

<div class="form-horizontal">
    <div class="form-actions padding-top-5 padding-bottom-5 no-bottom-margin">
        <button class="btnSave btn pull-left green" onclick="SaveOffeneZulassungen(false);"> @Localize.Save <i class="m-icon-swapright m-icon-white"></i></button>
        <button class="btnSend btn pull-left green margin-left-5 @(@Model.SendingEnabled ? "" : "hide")" onclick="SaveOffeneZulassungen(true);"> @Localize.CompleteRecords <i class="m-icon-swapright m-icon-white"></i></button>
        <button class="btnContinue btn pull-left green margin-left-5 hide" onclick="location.reload(); "> @Localize.Continue <i class="m-icon-swapright m-icon-white"></i></button>
    </div>
</div>

<div id="divOffeneZulassungenGrid">
    @Html.Partial("DurchzufuehrendeZulassungen/Grid", Model)
</div>

<div class="form-horizontal">
    <div class="form-actions">
        <button class="btnSave btn pull-left green" onclick="SaveOffeneZulassungen(false);"> @Localize.Save <i class="m-icon-swapright m-icon-white"></i></button>
        <button class="btnSend btn pull-left green margin-left-5 @(@Model.SendingEnabled ? "" : "hide")" onclick="SaveOffeneZulassungen(true);"> @Localize.CompleteRecords <i class="m-icon-swapright m-icon-white"></i></button>
        <button class="btnContinue btn pull-left green margin-left-5 hide" onclick="location.reload(); "> @Localize.Continue <i class="m-icon-swapright m-icon-white"></i></button>
    </div>
</div>

<script type="text/javascript">

    function FormPreparePrivate() {
        GridAllColumnFilterApplyToGrid("GridOffeneZulassungen");
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
    }

    function GetGrid() {
        return $("#GridOffeneZulassungen").data("tGrid");
    }

    function GridLoadingHide() {
        // needed for chrome browser: Explicitely hide grids loading icon on multiple subsequent grid ajax requests (because of filter control initializing)
        setTimeout('$("#GridOffeneZulassungenItems .t-grid-pager .t-status .t-icon").removeClass("t-loading")', 500);
    }

    function GridRefresh() {
        GetGrid().ajaxRequest();
    }

    function OnDataBound_GridOffeneZulassungen() {
        FilteredData_Grid_OnDataBound($(this));
        $('.tooltips').tooltip();
    }

    function OnRowDataBound_GridOffeneZulassungen(e) {
        // Express
        if (e.dataItem.Express)
            $(e.row).addClass("bg-color-ckg-palered");

        // Status
        var grid = $(this).data("tGrid");
        var validationErrors = JSON.parse(e.dataItem.ValidationErrorsJson);

        for (var i = 0; i < grid.columns.length; i++) {
            for (var j = 0; j < validationErrors.length; j++) {
                if (validationErrors[j].MemberNames.indexOf(grid.columns[i].member) > -1) {
                    $(e.row.cells[i]).addClass("grid-cellError");
                    break;
                }
            }
        }

        $(e.row).find("#Status").val(e.dataItem.Status);
    }

    function OnColumnShowHide_GridOffeneZulassungen() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_GridOffeneZulassungen() {
        FilteredData_Grid_OnColumnReorder($(this));
    }

    function UpdateOffeneZulassung(datensatzId, property, value) {
        DisableButtons();

        if (property == "Status" && (value == "FGS" || value == "STO")) {

            $.ajax({
                type: "POST",
                url: "UpdateOffeneZulassungStorno",
                loadingShow: false,
                data: { datensatzId: datensatzId, status: value },
                success: function(result) {
                    $("#StornoDialog").html(result);

                    $.magnificPopup.open({
                        items: { src: $("#StornoDialog") },
                        type: 'inline',
                        showCloseBtn: false,
                        closeOnBgClick: false,
                        removalDelay: 300,
                        mainClass: 'my-mfp-zoom-in'
                    });
                }
            });

        } else {

            $.ajax({
                type: "POST",
                url: "UpdateOffeneZulassung",
                loadingShow: false,
                data: { datensatzId: datensatzId, property: property, value: value },
                success: function (result) {
                    EnableButtons();

                    if (result.showSendButton == true) {
                        $(".btnSend").removeClass("hide");
                    } else {
                        $(".btnSend").addClass("hide");
                    }
                }
            });

        }
    }

    function ApplyGrund() {
        $.ajax({
            type: "POST",
            url: "CheckGrundBemerkung",
            loadingShow: false,
            data: { grundId: $("#GrundId").val() },
            success: function (result) {
                ShowHideBemerkung(result.MitBemerkung);
            }
        });
    }

    function ShowHideBemerkung(showBemerkung) {
        var controlGroup = $("#Bemerkung").closest(".control-group");

        if (showBemerkung) {
            controlGroup.show();
        } else {
            $("#Bemerkung").val("");
            controlGroup.hide();
        }
    }

    function AjaxFormDialogComplete() {
        FormPreparePrivateAjax();

        if (_modelStateValid) {
            EnableButtons();

            if (_sendingEnabled) {
                $(".btnSend").removeClass("hide");
            } else {
                $(".btnSend").addClass("hide");
            }

            AjaxFormDialogClose();
            GridRefresh();
        }
    }

    function AjaxFormDialogClose() {
        $.magnificPopup.close();
    }

    function AddPosition(belegNr) {
        $.ajax({
            type: "POST",
            url: "AddPosition",
            loadingShow: false,
            data: { belegNr: belegNr },
            success: function (result) {
                $("#AddPositionDialog").html(result);

                $.magnificPopup.open({
                    items: { src: $("#AddPositionDialog") },
                    type: 'inline',
                    showCloseBtn: false,
                    closeOnBgClick: false,
                    removalDelay: 300,
                    mainClass: 'my-mfp-zoom-in'
                });
            }
        });
    }

    function ApplyMaterial() {
        $.ajax({
            type: "POST",
            url: "CheckMaterialPreis",
            loadingShow: false,
            data: { materialNr: $("#MaterialNr").val() },
            success: function (result) {
                ShowHidePreis(result.PreisEingebbar);
            }
        });
    }

    function ShowHidePreis(showPreis) {
        var controlGroup = $("#Preis").closest(".control-group");

        if (showPreis) {
            controlGroup.show();
        } else {
            $("#Preis").val("");
            controlGroup.hide();
        }
    }

    function SaveOffeneZulassungen(absenden) {
        $.ajax({
            type: "POST",
            url: "OffeneZulassungenSpeichern",
            loadingShow: true,
            data: { absenden: absenden },
            success: function (result) {
                $("#divOffeneZulassungenGrid").html(result);
                GridAllColumnFilterApplyToGrid("GridOffeneZulassungen");
                FormPreparePrivateAjax();

                if (_modelStateValid) {
                    SpanAlertSuccess("Message", '@Localize.SaveSuccessful.ToJavascriptString()', 3000);

                    if (absenden == true) {
                        $(".btnSave").addClass("hide");
                        $(".btnSend").addClass("hide");
                        $(".btnContinue").removeClass("hide");
                    }
                }
            }
        });
    }

    function DisableButtons() {
        $(".btnSave").attr("disabled", "disabled");
        $(".btnSend").attr("disabled", "disabled");
        $(".btnContinue").attr("disabled", "disabled");
    }

    function EnableButtons() {
        $(".btnSave").removeAttr("disabled");
        $(".btnSend").removeAttr("disabled");
        $(".btnContinue").removeAttr("disabled");
    }

</script>

<div id="StornoDialog" class="white-popup mfp-hide"></div>

<div id="AddPositionDialog" class="white-popup mfp-hide"></div>
