@using CkgDomainLogic.General.Contracts
@using GeneralTools.Contracts
@using GeneralTools.Models
@{
    var logonContext = (ILogonContextDataService)SessionHelper.GetSessionObject("LogonContext");
    var appSettings = DependencyResolver.Current.GetService<IAppSettings>();
    var telerikStyleSheetTheme = logonContext.CurrentLayoutTheme.NotNullOr("Simple");
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-ie"> <!--<![endif]-->
<!-- BEGIN HEAD -->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            @logonContext.CustomerName
        </title>

        <!-- BEGIN Telerik Style Sheets (Theme = @telerikStyleSheetTheme) -->
        @(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("telerik." + telerikStyleSheetTheme + ".css").Combined(true).Compress(true)))
        <!-- END Telerik Style Sheets -->
        
        @Html.Partial("Partial/LayoutPage/Styles")
        
        @Html.Partial("Partial/LayoutPage/ScriptsPreload")

        <link href="~/content/SiteAllLayouts.css?v=20151204_0809" rel="stylesheet" type="text/css" />
        <link href="~/content/Site.css?v=20150901_1554" rel="stylesheet" type="text/css" />

        @Html.Partial("Partial/LayoutPage/StylesDeviationAllLayoutPages")
        @Html.Partial("Partial/LayoutPage/StylesDeviationDefault")
        @Html.Partial("Partial/LayoutPage/StylesDeviationGrid")
    </head>
    <body class="fixed-top">
        @Html.Partial("Partial/TelerikGridDummy")

        @Html.Partial("Partial/LayoutPage/Scripts")
        @Html.Partial("Partial/LayoutPage/ScriptsDeviation")
        
        @Html.Partial("~/Areas/Common/Views/Dashboard/Partial/ChartJsonDataCustomizingScripts.cshtml")

        <img class="loading hide" src="~/assets/img/ajax-loading.gif" alt="Bitte einen Moment Geduld ...">
        <img class="loading2 hide" src="~/assets/img/ajax-loading.gif" alt="Bitte einen Moment Geduld ...">

        <!-- BEGIN HEADER -->
        <div class="header navbar navbar-inverse navbar-fixed-top">
            <!-- BEGIN TOP NAVIGATION BAR -->
            <div class="navbar-inner">
                <div class="container-fluid gray">
                    <!-- BEGIN LOGO -->
                    <a class="brand" href="~/">
                        @Html.Partial("Partial/LayoutPageHeader", logonContext)
                    </a>
                    <!-- END LOGO -->
                    <!-- BEGIN TOP NAVIGATION MENU -->              

                    @Html.Partial("Partial/UserMenu", logonContext)

                    <!-- END TOP NAVIGATION MENU --> 
                </div>
            </div>
            <!-- END TOP NAVIGATION BAR -->
        </div>
        <!-- END HEADER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container margin-bottom-25">
            <!-- BEGIN SNrEBAR -->
            <div class="page-sidebar nav-collapse collapse">
                <!-- BEGIN SNrEBAR MENU -->        	
                <ul>
                    <li>
                        <!-- BEGIN SNrEBAR TOGGLER BUTTON -->
                        <div class="sidebar-toggler hidden-phone"></div>
                        <!-- BEGIN SNrEBAR TOGGLER BUTTON -->
                    </li>
                    <li>
                        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                        <form class="sidebar-search">
                            <div class="input-box hide">
                                <a href="javascript:;" class="remove"></a>
                                <input type="text" placeholder="@Localize.Search..." />				
                                <input type="button" class="submit" value=" " />
                            </div>
                        </form>
                        <!-- END RESPONSIVE QUICK SEARCH FORM -->
                    </li>
				
                    @Html.Partial("Partial/Menus/AppMenu")

                </ul>
                <!-- END SNrEBAR MENU -->
            </div>
            <!-- END SNrEBAR -->
            <!-- BEGIN PAGE -->
            <div class="page-content">
                <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <div id="portlet-config" class="modal hide">
                </div>
                <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <!-- BEGIN PAGE CONTAINER-->
                <div class="container-fluid body-container">
                	<!-- BEGIN Page Body -->
                    @RenderBody()
                	<!-- BEGIN Page Body -->
                </div>
                <!-- END PAGE CONTAINER-->    
            </div>
            <!-- END PAGE -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="footer">
            @DateTime.Now.Year &copy; @appSettings.AppOwnerFullName
            ~
            <a href="~/DomainCommon/Impressum">@Localize.Imprint</a>
            <div class="span pull-right">
                <a class="link teamviewer" href="~/Teamviewer-Support.zip" title="Download Teamviewer"><img src="~/Images/teamviewer-icon.png" /></a>
                <span class="go-top"><i class="icon-angle-up"></i></span>
            </div>
        </div>
        <!-- END FOOTER -->
    
        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    
        <script type="text/javascript">
            _controlGroupValidationType = "default";
            @RenderSection("LayoutScript", required:false);
        </script>

        <script type="text/javascript">

            function FormPrepareLayoutPrivate() {
            }

            function FormPrepareAjaxLayoutPrivate() {
            }
        
        </script>

        <!-- END JAVASCRIPTS -->
    </body>
    <!-- END BODY -->
</html>
