@using CkgDomainLogic.General.Contracts
@using GeneralTools.Contracts
@{
    var logonContext = (ILogonContextDataService)SessionHelper.GetSessionObject("LogonContext");
    var appSettings = DependencyResolver.Current.GetService<IAppSettings>();
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-ie"> <!--<![endif]-->
<!-- BEGIN HEAD -->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>
            @if (logonContext != null)
            {
                @logonContext.CustomerName
            }
        </title>

        @(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("telerik.Simple.css").Combined(true).Compress(true)))
        
        @Html.Partial("Partial/LayoutPage/Styles")
        @Html.Partial("Partial/LayoutPage/ScriptsPreload")

        <link href="~/content/SiteAllLayouts.css?v=20150602" rel="stylesheet" type="text/css" />
        <link href="~/content/Site.css?v=20150126" rel="stylesheet" type="text/css" />
    </head>
    <body class="fixed-top">
        @Html.Partial("Partial/TelerikGridDummy")
        @Html.Partial("Partial/LayoutPage/Scripts")
        
        <img class="loading hide" src="~/assets/img/ajax-loading.gif" alt="Bitte einen Moment Geduld ...">
        <img class="loading2 hide" src="~/assets/img/ajax-loading.gif" alt="Bitte einen Moment Geduld ...">

        <!-- BEGIN HEADER -->
        <div class="header navbar navbar-inverse navbar-fixed-top">
            <!-- BEGIN TOP NAVIGATION BAR -->
            <div class="navbar-inner">
                <div class="container-fluid gray">
                    <!-- BEGIN LOGO -->
                    <a class="brand" href="~/">
                        @Html.Partial("Partial/LayoutPageHeader", logonContext)
                    </a>
                    <!-- END LOGO -->
                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                        <img src="~/assets/img/menu-toggler.png" alt="" />
                    </a>          
                    <!-- END RESPONSIVE MENU TOGGLER -->            
                    <!-- BEGIN TOP NAVIGATION MENU -->              
                    @Html.Partial("Partial/UserMenu", logonContext)
                    <!-- END TOP NAVIGATION MENU --> 
                </div>
            </div>
            <!-- END TOP NAVIGATION BAR -->
        </div>
        <!-- END HEADER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container margin-bottom-25">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar nav-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->        	
                <ul>
                    <li>
                        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                        <div class="sidebar-toggler hidden-phone"></div>
                        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    </li>
                    <li>
                        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                        <form class="sidebar-search">
                            <div class="input-box hide">
                                <a href="javascript:;" class="remove"></a>
                                <input type="text" placeholder="@Localize.Search..." />				
                                <input type="button" class="submit" value=" " />
                            </div>
                        </form>
                        <!-- END RESPONSIVE QUICK SEARCH FORM -->
                    </li>
				
                	        		
                    @Html.Partial("Partial/Menus/AppMenu")

                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN PAGE -->
            <div class="page-content">
                <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <div id="portlet-config" class="modal hide">
                </div>
                <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <!-- BEGIN PAGE CONTAINER-->
                <div class="container-fluid body-container">
                    @RenderBody()
                </div>
                <!-- END PAGE CONTAINER-->    
            </div>
            <!-- END PAGE -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="footer">
            @DateTime.Now.Year &copy; @appSettings.AppOwnerFullName
            ~
            <a href="~/DomainCommon/Impressum">@Localize.Imprint</a>
            <div class="span pull-right">
                <span class="go-top"><i class="icon-angle-up"></i></span>
            </div>
        </div>
        <!-- END FOOTER -->
    
        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    
        <script type="text/javascript">
            _controlGroupValidationType = "default";
            @RenderSection("LayoutScript", required:false);
        </script>

        <script type="text/javascript">

            function FormPrepareLayoutPrivate() {
                //alert('FormPrepareLayoutPrivate()');
            }

            function FormPrepareAjaxLayoutPrivate() {
                //alert('FormPrepareAjaxLayoutPrivate()');
            }
        
        </script>

        <!-- END JAVASCRIPTS -->
    </body>
    <!-- END BODY -->
</html>
