@model ServicesMvc.Models.TestFilterModel

<div id="@MvcAjaxOptions.AjaxFormContainerName" class="">
    @using (Ajax.BeginForm("TestFormSave", "Test", null, new MvcAjaxOptions { OnComplete = "TestFormPrepareComplete();" }, htmlAttributes: new { @class = "form-horizontal form-row-stripped formlabelwidth200", id = "ajaxForm" }))
    {
        @Html.HiddenFor(m => m.IsValid)

        @Html.FormValidationSummary()
        
        
        @Html.FormTextBoxFor(m => m.Name1, new { @class = "m-wrap medium" })

        @Html.FormDropDownListFor(m => m.FilterBetrieb, Model.Betriebe, new { @class = "m-wrap" })

        @Html.FormMultiSelectListFor(m => m.FilterStandorte, Model.Standorte, new { @class = "m-wrap chosen span6" })

        @Html.FormDateRangePickerFor(m => m.FilterRechnungsDatum)

        @Html.FormDateRangePickerFor(m => m.FilterLieferDatum)
        

        @Html.FormRequiredFieldsSummary()

        <div class="form-actions">
            <button type="submit" class="btn green"><i class="icon-ok"></i> Speichern</button>
            <button type="button" class="btn" onclick="CloseItemDetails();">Abbrechen</button>
        </div>
    
        <script type="text/javascript">
            _modelIsValid = @Model.IsValid.ToString().ToLower();

            function TestFormPrepareComplete(){
                FormPreparePrivateAjax();
            }
        </script>
    }
</div>