@model ServicesMvc.Models.TestFilterModel

<div id="divTestForm" class="">
    @using (Ajax.BeginForm("TestFormSave", "Test", null, new MvcAjaxOptions("divTestForm") { OnComplete = "TestFormPrepareComplete();" }, htmlAttributes: new { @class = "form-horizontal form-row-stripped formlabelwidth200", id = "ajaxForm" }))
    {
        @Html.FormValidationSummary()

        <div class="PrintHeaderWrapper" data-bind="visible: HeaderVisible">
            <div class="PrintHeader">
                <h4 class="CocDrucken" data-bind="text: FullName, visible: CocDrucken"></h4>
             </div>
            <div class="PrintHeader">
                <h4 class="CocDrucken" data-bind="text: FullName, visible: Zb2Drucken"></h4>
             </div>
        </div>
        
        <div class="PrintHeaderWrapper" data-bind="visible: Header2Visible">
            <div class="PrintHeader">
                <h4 class="Zb2Drucken" data-bind="text: FullName2, visible: CocDrucken"></h4>
             </div>
            <div class="PrintHeader">
                <h4 class="Zb2Drucken" data-bind="text: FullName2, visible: Zb2Drucken"></h4>
             </div>
        </div>

        @Html.FormTextBoxFor(m => m.Vorname, new { @class = "m-wrap medium", data_bind = "xauto" })
        @Html.FormTextBoxFor(m => m.Nachname, new { @class = "m-wrap medium", data_bind = "xauto" })

        @Html.FormTextBoxFor(m => m.Vorname2, new { @class = "m-wrap medium", data_bind = "xauto" })
        @Html.FormTextBoxFor(m => m.Nachname2, new { @class = "m-wrap medium", data_bind = "xauto" })

        @Html.FormCheckBoxFor(m => m.CocDrucken, new { @class = "m-wrap medium", data_bind = "xauto" })
        
        @Html.FormCheckBoxFor(m => m.Zb2Drucken, new { @class = "m-wrap medium", data_bind = "xauto" })
        
        

        @Html.FormDatePickerFor(m => m.LieferDatum, new { @class = "m-wrap medium", data_bind = "xauto, visible: CocDrucken" })

        @Html.FormDropDownListFor(m => m.Standort, Model.Standorte, new { @class = "m-wrap", data_bind = "xauto, visible: CocDrucken" })

        @Html.FormDropDownListFor(m => m.Standort2, Model.Standorte, new { @class = "m-wrap", data_bind = "xauto" })

        @Html.FormRequiredFieldsSummary()

        <div class="form-actions">
            <button type="submit" class="btn green"><i class="icon-ok"></i> Speichern</button>
            <button type="button" class="btn" onclick="CloseItemDetails();">Abbrechen</button>
        </div>
    
        <script type="text/javascript">

            var model = @Html.Raw(Json.Encode(Model));
            ko.applyBindingsAsObservable(model, "divTestForm", function() {

                model.FullName = ko.computed(function() {
                    return model.Nachname() + ", " + model.Vorname();
                });

                model.FullName2 = ko.computed(function() {
                    return model.Nachname2() + ", " + model.Vorname2();
                });

                model.HeaderVisible = ko.computed(function() {
                    return model.Nachname() != '' || model.Vorname() != '';
                });

                model.Header2Visible = ko.computed(function() {
                    return model.Nachname2() != '' || model.Vorname2() != '';
                });
                
                //alert(model.LieferDatumProperty);
                //alert(model.LieferDatum());
                //alert(model.LieferDatum);

//                model.Vorname2.subscribe(function(oldValue) {
//                    alert("The person's previous name is " + oldValue);
//                }, null, "beforeChange");

            });

//            alert(model.Standort());
//            alert(model.StandortProperty);
//            alert(model.Standort2());
//            alert(model.Standort2Property);

            setTimeout('test()', 1000);

            function test() {
                
                //alert(model.Vorname2());
                model.Vorname2("Göster");
                model.Nachname2("Halmacken");
                
                model.Zb2Drucken(false);
                model.CocDrucken(true);

                model.LieferDatum("17.03.1965");

                model.Standort("Frankfurt");
                model.Standort2("Hamburg");
                //alert(model.Standort2());

//                alert(model.Zb2Drucken());
//                model.Zb2Drucken(true);
//                alert(model.Zb2Drucken());

                //alert($("#Zb2Drucken").is(":checked"));
                //$("#Zb2Drucken").prop('checked', '');
            }

            

            function TestFormPrepareComplete(){
                FormPreparePrivateAjax();
            }
        </script>
    }
</div>