@model CkgDomainLogic.Fahrzeugbestand.ViewModels.FahrzeugbestandViewModel

<h3 class="page-title">Fahrzeugbestand <small></small> </h3>

@Html.Partial("AdressenPflege/AdresseCommon")
@Html.Partial("Partial/Common")


<div id="main">
    <div>
        @using (Ajax.BeginForm(null, null, null, new MvcAjaxOptions(), new { id = "VersEventOrtBoxForm", @class = "form-horizontal" }))
        {
            @Html.FormTemplateControl("Käufer",
                @<text>
                     <a id="k-dropdown" class="btn blue" onclick="return PickPartnerAddress('käufer');"><i class="icon-chevron-right margin-right-10"></i> @Model.SelectedKaeufer.GetAutoSelectString()</a>
                     <div id="k-dropdown-grid" class="hide grid-dropdown"></div>
                </text>, new { @class = "m-wrap" })
            
            @Html.FormTemplateControl("Halter",
                @<text>
                    <a id="h-dropdown" class="btn blue" onclick="return PickPartnerAddress('halter');"><i class="icon-chevron-right margin-right-10"></i> @Model.SelectedHalter.GetAutoSelectString()</a>
                    <div id="h-dropdown-grid" class="hide grid-dropdown"></div>
                </text>, new { @class = "m-wrap" })
        }
    </div>    
</div>    

<div id="partner-address-grid">
</div>


