@model CkgDomainLogic.Fahrzeugbestand.ViewModels.FahrzeugbestandViewModel

<h3 class="page-title">Fahrzeugbestand <small></small> </h3>

@Html.Partial("AdressenPflege/AdresseCommon")
@Html.Partial("Partial/Common")


<div id="main">
    <div>
        <div class="form-horizontal">
            
            @Html.FormTextBox("k-textbox")

            @Html.FormTemplateControl(Localize.Buyer,
                                      @<text>
                                           <a id="k-dropdown" class="btn blue" onclick="return PickPartnerAddress('käufer');"><i class="icon-chevron-right margin-right-10"></i> <span id="k-dropdown-text">@Model.SelectedKaeufer.GetAutoSelectString()</span></a>
                                           <div id="k-dropdown-grid" class="hide grid-dropdown"></div>
                                       </text>, new { @class = "m-wrap" })
            

            @Html.FormTextBox("h-textbox")
            @Html.FormTemplateControl(Localize.Holder,
                                      @<text>
                                           <a id="h-dropdown" class="btn blue" onclick="return PickPartnerAddress('halter');"><i class="icon-chevron-right margin-right-10"></i> <span id="h-dropdown-text">@Model.SelectedHalter.GetAutoSelectString()</span></a>
                                           <div id="h-dropdown-grid" class="hide grid-dropdown"></div>
                                       </text>, new { @class = "m-wrap" })
        </div>
    </div>    
</div>    

@(Html.Telerik().Window()
    .Name("PartnerDialog")
    .Width(1000)
    .Height(500)
    .Visible(false)
    .Title("Partner auswählen")
    .Modal(true)
    .Draggable(true)
    .Scrollable(false)
    .Resizable()
    .Content(@<text><div id="InnerPartnerDialog"></div></text>))

