@model CkgDomainLogic.Autohaus.ViewModels.KroschkeZulassungViewModel

@Html.Partial("Partial/Common")

<h3 class="page-title">
    @Model.ApplicationTitle <small></small>
    @Html.Partial("ShoppingCart/Menu")
</h3>
@Html.Partial("ShoppingCart/Common")

<div class="form-wizard portlet app-view hidden-on-shopping-cart-opened">
    @Html.FormWizard("icon-file", "", Model.StepFriendlyNames, Model.StepKeys, stepTitlesInNewLine: true)
    <div id="formWizardTab1" class="hide">
        @Html.Partial("Partial/" + Model.FirstStepPartialViewName)
    </div>


    @if (Model.ZulassungFromShoppingCart)
    {
        for (var i = 1; i < Model.Steps.Count - 1; i++)
        {
            var step = Model.Steps.ToArray()[i];

            <div id="formWizardTab@(i+1)" class="hide">
                @Html.Partial("Partial/" + step.Key, Model.StepModels[step.Key]())
            </div>
        }

        <script type="text/javascript">

            $(function () {
                FormWizard.SetSummaryTabHtmlAndMoveToSummary();
                ResizeSummaryContainers();
            });
            
        </script>
    }
</div>
