@using GeneralTools.Contracts
@{
    var appSettings = DependencyResolver.Current.GetService<IAppSettings>();

    ViewBag.BodyCssClass = "login";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}

@Html.Partial("Partial/Common")

<div class="loginhead">@Html.Partial("Partial/Logo")</div>

<div class="content" style="width: auto;  margin-left: 30px; margin-right: 30px;">
   <h3 class="page-title">@Localize.Imprint </h3>

    @Html.Partial(appSettings.AppOwnerImpressumPartialViewName)

    <div class="forget-password">
        <h4><a href="~/Login/Index" id="forget-password"> <i class="icon-chevron-right"></i> @Localize.Login</a></h4>
    </div>

    @Html.Partial("Partial/Footer") 
</div>

    