@{
    ViewBag.Title= "Login";
    ViewBag.BodyCssClass = "login";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}
@model LoginViewModel 


@Html.Partial("Partial/Common") 

<h1>!!! This is theme "AH2015" !!!</h1>

<div class="content">
    @Html.Partial("Partial/Logo") 
    
    @Html.Partial("Partial/MaintenanceHintsLogonDisabled", Model.MaintenanceInfo)

    @if (!Model.MaintenanceInfo.LogonDisabled)
    {
        @Html.Partial("LoginForm", Model.LoginModel)

        <script type="text/javascript">

            var _modelIsValid = false;

            function FormPreparePrivate() {
                Login.init();
            };

            function FormPreparePrivateAjax() {
                FormPrepareAjax();
            }

            function AjaxFormLoginComplete() {
                FormPreparePrivateAjax();
            }
        </script>
    }
    @Html.Raw(Model.SslCertificateHtml)

    <div class="space15"></div>

    @Html.Partial("Partial/Footer") 
</div>


@Html.Partial("Partial/Scripts") 

