@using CkgDomainLogic.Remarketing.Models
@model BelastungsanzeigenSelektor

<div id="divBelastungsanzeigenSuche">
    @using (Ajax.BeginForm("LoadBelastungsanzeigen", "Remarketing", null,
        new MvcAjaxOptions { UpdateTargetId = "divBelastungsanzeigenSuche", OnComplete = "ShowBelastungsanzeigen();" },
        new { @class = "form-horizontal label-width-175", id = "AjaxFormBelastungsanzeigen" }))
    {    
        @Html.FormValidationSummary()


        @Html.FormTextBoxFor(m => m.FahrgestellNr, new { @class = "m-wrap uppercase" })

        @Html.FormTextBoxFor(m => m.Kennzeichen, new { @class = "m-wrap uppercase" })
        
        @Html.FormDropDownListFor(m => m.Vermieter, BelastungsanzeigenSelektor.VermieterList.ToSelectList(), new { @class = "m-wrap" })

        @Html.FormDropDownListFor(m => m.Hereinnahmecenter, BelastungsanzeigenSelektor.HereinnahmecenterList.ToSelectList(), new { @class = "m-wrap" })

        @Html.FormDropDownListFor(m => m.Status, BelastungsanzeigenSelektor.StatusList.ToSelectList(), new { @class = "m-wrap" })

        @Html.FormDateRangePickerFor(m => m.EingangsdatumRange)

        @Html.FormTextBoxFor(m => m.Vertragsjahr, new { @class = "m-wrap", maxlength = 4 })
        
        <div class="space10"></div>

        
        @*@Html.FormRequiredFieldsSummary()*@

        <div class="form-actions">
            <button type="submit" class='btn blue'><i class='icon-search'></i>&nbsp;@Localize.SearchAsVerb</button>
        </div>

        <script type="text/javascript">
            _modelStateValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
        </script>
    }
</div>


<script type="text/javascript">

    function ShowBelastungsanzeigen() {
        FormPreparePrivateAjax();

        $.ajax({
            type: "POST",
            url: "ShowBelastungsanzeigen",
            loadingShow: true,
            success: function (result) {
                SearchResultsTryHide();

                if (_modelStateValid)
                    ShowBelastungsanzeigenSearchResult(result);

                LoadingHide();
            }
        });
    }

</script>