@model CkgDomainLogic.Equi.Models.VersandOptionen

<div id="DivVersandOptionen" class="margin-top-20">
    @using (Ajax.BeginForm("VersandOptionenForm", "Equi", null,
                        new MvcAjaxOptions { UpdateTargetId = "DivVersandOptionen", OnComplete = "AjaxFormVersandOptionenComplete();" },
                            htmlAttributes: new { @class = "form-horizontal", id = "AjaxFormVersandOptionen" }))
    {
        @Html.HiddenFor(m => m.IsValid)
        @Html.HiddenFor(m => m.IstPostfachAdresse)

        @Html.FormValidationSummary()

        @Html.FormMultiColumnModeStart("auto")


        @Html.FormDropDownListFor(m => m.VersandOptionKey, Model.OptionenList.ToSelectList(), new {@class = "m-wrap large"},
            postControlHtml: @<text><div id="hint-postfach-adresse" class="alert alert-warning no-margin hide">@Localize.EnforcePostDeliveryHint</div> </text>)

        if (Model.AufAbmeldungWartenAvailable)
        {
            @Html.FormCheckBoxFor(m => m.AufAbmeldungWarten, new { @class = "m-wrap large" }, labelHidden: true, postControlHtml: @<text><label class="checker">@Localize.WaitForDeregistration</label></text>)
        }
        else
        {
            @Html.HiddenFor(m => m.AufAbmeldungWarten)
        }

        if (Model.VersandGrundIsRequired)
        {
            @Html.FormTextAreaFor(m => m.Bemerkung, new { @class = "m-wrap large" })

            @Html.FormDropDownListFor(m => m.VersandGrundKey, Model.GruendeList.ToSelectList(), new { @class = "m-wrap large" })
        }
        else
        {
            @Html.HiddenFor(m => m.Bemerkung)
            @Html.HiddenFor(m => m.VersandGrundKey)
        }

        @Html.FormMultiColumnModeEnd("auto")


        @Html.FormRequiredFieldsSummary()

        
        <script type="text/javascript">

            _modelIsValid = @Model.IsValid.ToString().ToLower();

            var istPostfachAdresse = @Model.IstPostfachAdresse.ToString().ToLower();
            if (istPostfachAdresse) {
                $("#VersandOptionKey").attr("disabled", "disabled");
                $("#VersandOptionKey").attr("readonly", "readonly");
                $("#hint-postfach-adresse").removeClass("hide");
            }

        </script>
    }
</div>
