@using CkgDomainLogic.Equi.Models
@model VersandOptionen

<div id="DivVersandOptionen" class="margin-top-20">
    @using (Ajax.BeginForm("VersandOptionenForm", "Equi", null,
                new MvcAjaxOptions { UpdateTargetId = "DivVersandOptionen", OnComplete = "AjaxFormVersandOptionenComplete();" },
                    htmlAttributes: new { @class = "form-horizontal", id = "AjaxFormVersandOptionen" }))
    {
        @Html.HiddenFor(m => m.IsValid)

        @Html.FormValidationSummary()


        @Html.FormDropDownListFor(m => m.VersandOptionKey, Model.OptionenList.ToSelectList(), new { @class = "m-wrap large" })

        if (Model.AufAbmeldungWartenAvailable)
        {
            @Html.FormCheckBoxFor(m => m.AufAbmeldungWarten, new { @class = "m-wrap large" }, labelHidden: true, postControlHtml: @<text><label class="checker">@Localize.WaitForDeregistration</label></text>)
        }
        else
        {
            @Html.HiddenFor(m => m.AufAbmeldungWarten)
        }

        if (Model.VersandGrundIsRequired)
        {
            @Html.FormTextAreaFor(m => m.Bemerkung, new { @class = "m-wrap large" })

            @Html.FormDropDownListFor(m => m.VersandGrundKey, Model.GruendeList.ToSelectList(), new { @class = "m-wrap large" })
        }
        else
        {
            @Html.HiddenFor(m => m.Bemerkung)
            @Html.HiddenFor(m => m.VersandGrundKey)
        }

        @Html.FormRequiredFieldsSummary()

        
        <script type="text/javascript">

            _modelIsValid = @Model.IsValid.ToString().ToLower();

        </script>
    }
</div>
