@using CkgDomainLogic.Equi.Models
@model FahrzeugbriefErweitert

<div id="DivDetailsForm">
    @using (Ajax.BeginForm("DetailsFormSave", "Equi", null,
                new MvcAjaxOptions { UpdateTargetId = "DivDetailsForm", OnComplete = "DetailsFormComplete();" },
                    htmlAttributes: new { @class = "form-horizontal", id = "DetailsAjaxForm" }))
    {

        @Html.FormValidationSummary()
                      
        @Html.FormTextBoxFor(m => m.Fahrgestellnummer, new { @class = "m-wrap large", col = "left", @readonly = "readonly" })
        @Html.FormTextBoxFor(m => m.Kennzeichen, new { @class = "m-wrap large", col = "right", @readonly = "readonly" })

        @Html.FormDropDownListFor(m => m.Referenz1, Model.SperrvermerkListe.ToSelectList(), new { @class = "m-wrap large", col = "left" })
        @Html.FormTextBoxFor(m => m.Referenz2, new { @class = "m-wrap large", col = "right" })
                        
        @Html.FormRequiredFieldsSummary()
        
        <div class="form-actions">
            <button type="submit" class="btn green"><i class="icon-ok"></i> @Localize.Save</button>
            <button type="button" class="btn" onclick="CloseItemDetails();">@Localize.Cancel</button>
        </div>

        <script type="text/javascript">
            _modelIsValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
        </script>
    }
</div>