@using CkgDomainLogic.WFM.Models
@model WfmAuftrag

<form action="#" class="form-horizontal">
    
    @Html.FormTextBlockFor(m => m.VorgangsNrAbmeldeauftrag, new { @class = "m-wrap", col = "left" })
    @Html.FormTextBlockFor(m => m.AuftragsNr, new { @class = "m-wrap", col = "right" })

    @Html.FormTextBlockFor(m => m.FahrgestellNr, new { @class = "m-wrap", col = "left" })
    @Html.FormTextBlockFor(m => m.Kennzeichen, new { @class = "m-wrap", col = "right" })
    
    <div class="wmf-uebersicht-section-nicht-storniert">
        <div class="form-actions">
            <button type="button" class="btn yellow" onclick="CancelOrder('@Model.VorgangsNrAbmeldeauftrag');">@Localize.CancelOrder <i class="icon-remove"></i></button>
            
            <div class="wmf-uebersicht-section-abmeldeart-standard hide">
                <a class="btn red" href="#" onclick="return SetOrderToKlaerfall($(this), '@Model.VorgangsNrAbmeldeauftrag');">@Localize.SetClarificationCase <i class="icon-exclamation-sign"></i></a>
                <input type="text" maxlength="50" class="tbNoteForToDo m-wrap medium placeholder-no-fix" placeholder="@Localize.Annotation" />
            </div>
            
        </div>
    </div>
    
    <div class="wmf-uebersicht-section-storniert hide">
        @Html.FormError("", Localize.Order + " " + Localize.Cancelled + "!")
    </div>
    <div class="wmf-uebersicht-section-abmeldeart-nicht-standard">
        @Html.FormError("", Localize.ClarificationCase)
    </div>    

    @if (Model.IstStorniert)
    {
        <script type="text/javascript">
            $(".wmf-uebersicht-section-nicht-storniert").hide();
            $(".wmf-uebersicht-section-storniert").show();
        </script>    
    }    

    @if (Model.AbmeldeArtIstStandard)
    {
        <script type="text/javascript">
            $(".wmf-uebersicht-section-abmeldeart-nicht-standard").addClass("hide");
            $(".wmf-uebersicht-section-abmeldeart-standard").removeClass("hide");
        </script>    
    }
</form>