@using CkgDomainLogic.Autohaus.Models
@model EsdAnforderung

<style>
    
    .validation-summary-errors {
        margin-top: 0;
    }
    
    .box.portlet {
        padding: 10px !important;
    }
    
    .form-actions .btn i {
        display: inline !important;
    }
    
</style>

<div id="divFormDetails">
    @using (Ajax.BeginForm("EsdAnfordern", "Esd", null,
        new MvcAjaxOptions("divFormDetails") { OnComplete = "ShowReceiptAjax();" }, new { id = "EsdAnforderungDetailsAjaxForm" }))
    {    
        <div class="form-horizontal label-width-200" id="searchForm">
            
            @*@Html.HiddenFor(m => m.Kopfdaten.FahrzeugTyp)*@

            <h5>
                <span class="bold">Gewähltes Land: </span><span>???</span>
                @*<span class="bold">@Localize.VehicleType: </span>@Model.Kopfdaten.FahrzeugTypBezeichnung
                <span class="margin-left-10 bold">@Localize.Manufacturer: </span>@Model.Kopfdaten.HerstellerBezeichnung
                <span class="margin-left-10 bold">@Localize.CountryOfFirstRegistration: </span>@Model.Kopfdaten.LandDerErstenZulassungBezeichnung*@
            </h5>

            @Html.FormValidationSummary()

            <div class="portlet box light-grey bg-color-ckg-paleorange">

                <div class="row-fluid">
                
                    <div class="span6">

                        @using (Html.PortletBox(Localize.VehicleData, "icon-car", "light-grey bg-white", false))
                        {
                            @Html.FormDropDownListFor(m => m.Land, EsdAnforderung.LaenderAuswahlliste.ToSelectList(), new { @class = "m-wrap small" })

                            <div class="dienstleistungen-wrapper">

                                @Html.HiddenFor(m => m.GewaehlteDienstleistungenString)

                                <div class="dienstleistungen-header">
                                    <span class="header-left">@Localize.AvailableServices</span>
                                    <span class="header-right">@Localize.SelectedServices</span>
                                </div>

                                <select multiple id="pre-selected-options" class="multiselect hide" name="pre-selected-options[]">
                                    @foreach (var dl in Model.AvailableDienstleistungen)
                                    {
                                        <option value="@dl.MaterialNr" @dl.SelectedAsString>@dl.Name</option>
                                    }
                                </select>
                            </div>
                        }

                    </div>

                    <div class="span6">

                        @using (Html.PortletBox(Localize.Contactperson, "icon-user", "light-grey bg-white", false))
                        {
                            @Html.FormTextBoxFor(m => m.AnsprechVorname, new { @class = "m-wrap" })

                            @Html.FormTextBoxFor(m => m.AnsprechNachname, new { @class = "m-wrap" })

                            @Html.FormTextBoxFor(m => m.AnsprechEmail, new { @class = "m-wrap" })

                            @Html.FormTextBoxFor(m => m.AnsprechTelefonNr, new { @class = "m-wrap" })
                        }

                    </div>

                </div>
        
                @Html.FormRequiredFieldsSummary()

            </div>

            <div class="form-actions no-bottom-margin padding-top-5 padding-bottom-5">
                <button type="button" class="btn" onclick="CloseDetails();">@Localize.Back</button>
                <button type="submit" class="btn green"><i class="icon-file-text margin-right-10"></i>@Localize.Request</button>
            </div>
        </div>

        <script type="text/javascript">

            _modelStateValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();

            MultiSelectPreparePrivate();

            function MultiSelectPreparePrivate() {
                $('#pre-selected-options').multiSelect();

                $('#ms-pre-selected-options > .ms-selectable > .ms-list > li').each(function () {
                    $(this).append('<i class="icon-chevron-right"></i>');
                });
                $('#ms-pre-selected-options > .ms-selection > .ms-list > li').each(function () {
                    $(this).prepend('<i class="icon-ok dienstleistung-gewaehlt"></i>');
                    $(this).append('<i class="icon-remove"></i>');
                });
                $('#ms-pre-selected-options').removeClass('hide');

                $('#pre-selected-options').change(function() {
                    var selectedOptions = '';
                    $('.ms-selection > .ms-list > .ms-selected').each(function () {
                        selectedOptions += (selectedOptions != '' ? ',' : '') + $(this).attr('id').replace(/-selection/, '');
                    });
                    $("#GewaehlteDienstleistungenString").val(selectedOptions);
                });
            }

        </script>
    }
</div>

<script type="text/javascript">

    function ShowReceiptAjax() {    
        FormPreparePrivateAjax();

        $.ajax({
            type: "POST",
            url: "ShowReceipt",
            loadingShow: true,
            success: function (result) {
                if (_modelStateValid)
                    ShowReceipt(result);

                LoadingHide();
            }
        });
    }

</script>