@using CkgDomainLogic.Autohaus.Models
@model CocAnforderungKopfdaten

<style>

    .validation-summary-errors {
        margin-top: 0;
    }

    .box.portlet {
        padding: 10px !important;
    }

    @@media (max-width: 1580px) {
        .row-fluid .span4 {
            display: block;
            float: none;
            width: 100%;
            margin-left: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
    }

    .europe-map {
        text-align: center;
    }

</style>


<script type="text/javascript" src="~/Scripts/snap.svg.js?v=20160208"></script>

<script type="text/javascript">
    
    function CountryIsEnabled(elem) {
        return $(elem.node).attr("fill") === "#9c0a0e";
    }

    $(function () {
        var s = Snap("#europe-svg");
        Snap.load("/ServicesMvc/Images/maps/europe.svg", function (f) {

            var g = f.select("g");
            var paths = g.selectAll("path");

            paths.forEach(function (elem, i) {
            
                //elem.attr("fill", color);

                elem.hover(
                    function () {
                        console.log($(elem.node).attr("class"));
                        console.log($(elem.node).attr("fill"));

                        if (CountryIsEnabled(elem))
                            // hover opacity
                            elem.attr("fill-opacity", "0.5");
                    },
                    function () {
                        if (CountryIsEnabled(elem))
                            // unhover opacity
                            elem.attr("fill-opacity", "");
                    }
                );
                elem.click(function () {
                    if (!CountryIsEnabled(elem))
                        return;

                    console.log("CLICKED: " + this.attr("class"));

                });
            });

            s.append(g);
        });
    });


</script>

<div class="europe-map">

    <div id="country-hovered" class=""></div>

    <svg id="europe-svg" height="542.6089315691006" version="1.1" width="750px" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative; left: -150.5px; background-color: transparent;" viewBox="341.90774666666664 46.4 131.73333333333332 141.33333333333334" preserveAspectRatio="xMinYMin">
    </svg>

</div>

<div id="divFormKopf">


    <div class="hide">
        @using (Ajax.BeginForm("ApplyKopfdaten", "Coc", null,
        new MvcAjaxOptions("divFormKopf") { OnComplete = "ShowDetailsAjax();" }, new { id = "CocAnforderungKopfAjaxForm" }))
        {
            <div class="form-horizontal" id="searchForm">

                @Html.FormValidationSummary()

                <div class="portlet box light-grey bg-color-ckg-paleorange">

                    @Html.FormDropDownListFor(m => m.FahrzeugTyp, CocAnforderungKopfdaten.FahrzeugTypList.ToSelectList(), new { @class = "m-wrap medium", col = "left3" })
                    @Html.FormDropDownListFor(m => m.Hersteller, CocAnforderungKopfdaten.HerstellerList.ToSelectList(), new { @class = "m-wrap medium", col = "middle3" })
                    @Html.FormDropDownListFor(m => m.LandDerErstenZulassung, CocAnforderungKopfdaten.Laender.ToSelectList(), new { @class = "m-wrap medium", col = "right3" })

                    @Html.FormRequiredFieldsSummary()

                </div>

                <div class="form-actions no-bottom-margin padding-top-5 padding-bottom-5">
                    <button type="submit" id="btnCocRequestContinue" class="btn green"><i class="icon-note margin-right-10"></i>@Localize.Continue</button>
                </div>
            </div>

            <script type="text/javascript">
                _modelStateValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
            </script>
        }
    </div>
</div>

<script type="text/javascript">

    function ShowDetailsAjax() {
        FormPreparePrivateAjax();

        $.ajax({
            type: "POST",
            url: "ShowDetails",
            loadingShow: true,
            success: function (result) {
                if (_modelStateValid)
                    ShowDetails(result);

                LoadingHide();
            }
        });
    }

</script>
