@using CkgDomainLogic.General.Database.Models
@using CkgDomainLogic.Autohaus.Models
@model FahrzeugakteDocument

<div id="@MvcAjaxOptions.AjaxFormContainerName" class="portlet">
    @using (Ajax.BeginForm("UpdateFahrzeugakteDoc", "Autohaus", null, new MvcAjaxOptions { OnComplete = "EditFahrzeugakteDocComplete();" }, new { @class = "form-horizontal", id = "ajaxForm" }))
    {
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.FileName)
        @Html.HiddenFor(m => m.FileType)
        @Html.HiddenFor(m => m.Uploaded)
        @Html.HiddenFor(m => m.FahrzeugID)
        @Html.HiddenFor(m => m.CustomerID)
        @Html.HiddenFor(m => m.ApplicationKey)

        @Html.FormValidationSummary()
        
        @Html.FormTextBlockFor(m => m.FileName, new { @class = "m-wrap" })

        @Html.FormTextBlockFor(m => m.FileType, new { @class = "m-wrap" })
        
        @Html.FormDropDownListFor(m => m.CategoryID, (ViewBag.AuswahlKategorie as List<CustomerDocumentCategory>).ToSelectList("ID", "CategoryName"), new { @class = "m-wrap" })

        @Html.FormTextBlockFor(m => m.Uploaded, new { @class = "m-wrap" })

        @Html.FormTextBoxFor(m => m.Bemerkung, new { @class = "m-wrap" })
        
        @Html.FormRequiredFieldsSummary()

        <div class="form-actions">
            <button type="submit" class="btn green"><i class="icon-ok"></i> @Localize.Save</button>
            <button type="button" class="btn" onclick="CloseFahrzeugakteDocEdit();">@Localize.Cancel</button>
        </div>
    
        <script type="text/javascript">
            var _modelStateValid = '@ViewContext.ViewData.ModelState.IsValid.ToString().ToLower()';
        </script>
    }
</div>



