@using System.Configuration
@model CkgDomainLogic.Autohaus.ViewModels.CleverViewModel

@Html.Partial("Partial/Common")

<h3 class="page-title" id="headerTitle">@Localize.Autohaus_KroschkeClever <small></small></h3>

@Html.SpanAlert("spanAlertCleverSearch")

<div class="form-horizontal label-width-300 margin-top-20 CleverSearchFieldContainer">
    
    @Html.FormTextBoxFor(m => m.AnfrageText, new { @class = "m-wrap huge bg-color-ckg-paleorange margin-left-10 float-left" })

</div>

<div class="form-horizontal padding-bottom-10 margin-top-30">

    <div class="row-fluid">
            
        <div class="span4">
                
            @foreach (var option in Model.AnfrageOptionen)
            {
                <div class="CleverSearchOption margin-left-25 margin-top-10">
                    <button class='btn gray' onclick='PerformCleverSearch("@option.Key");'><i class='icon-chevron-right white'></i></button>
                    <span class="margin-left-20">@option.Text</span>
                </div>
            }
            <div class="CleverSearchOption margin-left-25 margin-top-10">
                <button class='btn gray' onclick="window.open('@Url.Action("RedirectPage", "Clever", new {targetUrl = ConfigurationManager.AppSettings["KfzSteuerUrl"]})','_blank')"><i class='icon-chevron-right white'></i></button>
                <span class="margin-left-20">@Localize.KFZ_Steuerrechner</span>
            </div>

        </div>

        <div class="span8">    
            <div id="divCleverResult"></div>
        </div>

    </div>

</div>
