@model CkgDomainLogic.FzgModelle.Models.BatcherfassungEdit

<div id="divBatcherfassungDetailsFormReadOnly">
    @using (Ajax.BeginForm("BatcherfassungDetailsFormSave", "Batcherfassung", null,
                new MvcAjaxOptions { UpdateTargetId = "divBatcherfassungDetailsForm" },
                    htmlAttributes: new { @class = "form-horizontal", id = "BatcherfassungAjaxForm" }))
    {    
        @Html.FormTextBlockFor(m => m.Batch.ID, new { @class = "m-wrap medium", col = "left" })                             
        @Html.FormTextBlockFor(m => m.Batch.ModellId, new { @class = "m-wrap large", col = "right" })

        @Html.FormTextBlockFor(m => m.Batch.Modellbezeichnung, new { @class = "m-wrap large", col = "left" })
        @Html.FormTextBlockFor(m => m.Batch.SippCode, new { @class = "m-wrap large", col = "right" })
        
        @Html.FormTextBlockFor(m => m.Batch.HerstellerName, new { @class = "m-wrap medium", col = "left" })
        @Html.FormTextBlockFor(m => m.Batch.Anzahl, new { @class = "m-wrap large", col = "right" })
                                                     
        @Html.FormTextBlockFor(m => m.Batch.Laufzeit, new { @class = "m-wrap large", col = "left", disabled = "disabled" })
        @Html.FormCheckBoxFor(m => m.Batch.Laufzeitbindung, new { @class = "m-wrap", col = "right", disabled = "disabled" }, labelHidden: true)
        
        @Html.FormTextBlockFor(m => m.Batch.Liefermonat, new { @class = "m-wrap large" })
        @Html.HiddenFor(m => m.Batch.Antrieb)
               
        @Html.FormTextBlockFor(m => m.Batch.AuftragsnummerVon, new { @class = "m-wrap large", col = "left" })
        @Html.FormTextBlockFor(m => m.Batch.AuftragsnummerBis, new { @class = "m-wrap large", col = "right" })
                     
        @Html.FormCheckBoxFor(m => m.Batch.Winterreifen, new { @class = "m-wrap", col = "left", disabled = "disabled" }, labelHidden: true)
        @Html.FormCheckBoxFor(m => m.Batch.AnhaengerKupplung, new { @class = "m-wrap", col = "right", disabled = "disabled" }, labelHidden: true)

        @Html.FormCheckBoxFor(m => m.Batch.NaviVorhanden, new { @class = "m-wrap", col = "left", disabled = "disabled" }, labelHidden: true)        
        @Html.FormCheckBoxFor(m => m.Batch.Bluetooth, new { @class = "m-wrap", col = "right", disabled = "disabled" }, labelHidden: true)
            
        @Html.FormCheckBoxFor(m => m.Batch.KennzeichenLeasingFahrzeug, new { @class = "m-wrap", col = "left", disabled = "disabled" }, labelHidden: true)       
        @Html.FormCheckBoxFor(m => m.Batch.SecurityFleet, new { @class = "m-wrap", col = "right", disabled = "disabled" }, labelHidden: true)    
        
        // -> TODO Deko, Abgrenzung, 
                
        @Html.FormTextBlockFor(m => m.Batch.UnitnummerVon, new { @class = "m-wrap large", col = "left" })
        @Html.FormTextBlockFor(m => m.Batch.UnitnummerBis, new { @class = "m-wrap large", col = "right" })
                                    
        if (!String.IsNullOrEmpty(Model.Batch.Unitnummern))
            { @Html.FormTextAreaFor(m => m.Batch.Unitnummern, new { @class = "m-wrap large", disabled = "disabled" }) }
        
        <div class="form-actions">            
            <button type="button" class="btn" onclick="CloseItemDetails();">@Localize.Close</button>
        </div>                          
    }
</div>
