@model CkgDomainLogic.FzgModelle.Models.BatcherfassungEdit

<div id="divBatcherfassungDetailsForm">
    @using (Ajax.BeginForm("BatcherfassungDetailsFormSave", "Batcherfassung", null,
                new MvcAjaxOptions { UpdateTargetId = "divBatcherfassungDetailsForm", OnComplete = "BatcherfassungAjaxFormComplete();" },
                    htmlAttributes: new { @class = "form-horizontal", id = "BatcherfassungAjaxForm" }))
    {

        @Html.FormValidationSummary()
      
        @Html.HiddenFor(m => m.ObjectKey)
        @Html.HiddenFor(m => m.InsertModeTmp)       
        @Html.HiddenFor(m => m.Batch.Fahrzeuggruppe) 
        @Html.HiddenFor(m => m.Batch.Bemerkung) 
    
        if (Model.InsertModeTmp)
        {
            @Html.FormTextBoxFor(m => m.Batch.ID, new { @class = "m-wrap medium", col = "left" })
        }
        else
        {           
            @Html.HiddenFor(m => m.Batch.ID)
            @Html.FormTextBlockFor(m => m.Batch.ID, new { @class = "m-wrap medium", col = "left" })
        }                         
        @Html.FormTextBoxFor(m => m.Batch.ModellId, new { @class = "m-wrap ", col = "right", @onchange = "return TryLoadDataByModelId();" })

        @Html.FormTextBoxFor(m => m.Batch.Modellbezeichnung, new { @class = "m-wrap ", col = "left", @readonly = "readonly" })
        @Html.FormTextBoxFor(m => m.Batch.SippCode, new { @class = "m-wrap ", col = "right", @readonly = "readonly" })
        
        @Html.FormTextBoxFor(m => m.Batch.HerstellerName, new { @class = "m-wrap medium", col = "left", @readonly = "readonly" })
        @Html.FormTextBoxFor(m => m.Batch.Anzahl, new { @class = "m-wrap small", col = "right", @onblur = "return TryCalculateUnitNumbers()" })
                                                     
        @Html.FormTextBoxFor(m => m.Batch.Laufzeit, new { @class = "m-wrap small", col = "left" })
        @Html.FormCheckBoxFor(m => m.Batch.Laufzeitbindung, new { @class = "m-wrap", col = "right" }, labelHidden: true)
        
        @Html.FormTextBoxFor(m => m.Batch.Liefermonat, new { @class = "m-wrap small" })
        @Html.HiddenFor(m => m.Batch.Antrieb)
               
        @Html.FormDropDownListFor(m => m.Batch.AuftragsnummerVon, Model.AuftragsnummerList.ToSelectList("Nummer", "AuftragsNrUndText"), new { @class = "m-wrap large", col = "left" })
        @Html.FormDropDownListFor(m => m.Batch.AuftragsnummerBis, Model.AuftragsnummerList.ToSelectList("Nummer", "AuftragsNrUndText"), new { @class = "m-wrap large", col = "right" })
                     
        @Html.FormCheckBoxFor(m => m.Batch.Winterreifen, new { @class = "m-wrap", col = "left" }, labelHidden: true)
        @Html.FormCheckBoxFor(m => m.Batch.AnhaengerKupplung, new { @class = "m-wrap", col = "right" }, labelHidden: true)

        @Html.FormCheckBoxFor(m => m.Batch.NaviVorhanden, new { @class = "m-wrap", col = "left" }, labelHidden: true)        
        @Html.FormCheckBoxFor(m => m.Batch.Bluetooth, new { @class = "m-wrap", col = "right" }, labelHidden: true)
            
        @Html.FormCheckBoxFor(m => m.Batch.KennzeichenLeasingFahrzeug, new { @class = "m-wrap", col = "left" }, labelHidden: true)       
        @Html.FormCheckBoxFor(m => m.Batch.SecurityFleet, new { @class = "m-wrap", col = "right" }, labelHidden: true)    
        
        // -> TODO Deko, Abgrenzung, 
                
        @Html.FormTextBoxFor(m => m.Batch.UnitnummerVon, new { @class = "m-wrap small", col = "left", @onblur = "return TryCalculateUnitNumbers()" })
        @Html.FormTextBoxFor(m => m.Batch.UnitnummerBis, new { @class = "m-wrap small", col = "right", @onblur = "return TryCalculateUnitNumbers()" })

        <div class="row-fluid">
            <div class="span6">
                @Html.Partial("ExcelUpload/FileUpload")
            </div>
            <div class="span6">
                @Html.FormTextAreaFor(m => m.Batch.Unitnummern, new { @class = "m-wrap large" })
            </div>
        </div>
               
        @Html.FormRequiredFieldsSummary()

        
        <div class="form-actions">
            <button type="submit" class="btn green"><i class="icon-ok"></i> @Localize.Save</button>
            <button type="button" class="btn" onclick="CloseItemDetails();">@Localize.Cancel</button>
        </div>

        <script type="text/javascript">
            _modelIsValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
        </script>
    }
</div>
