@model CkgDomainLogic.FzgModelle.ViewModels.BatcherfassungViewModel 
@using CkgDomainLogic.FzgModelle.Models

@Html.FormTextBlockFor(m => Model.SelectedItem.ID, new { @class = "m-wrap medium" })

@Html.FormTextBlockFor(m => Model.SelectedItem.ModellId, new { @class = "m-wrap medium", col = "left" })
@Html.FormTextBlockFor(m => Model.SelectedItem.Modellbezeichnung, new { @class = "m-wrap medium", col = "right" })

@Html.FormTextBlockFor(m => Model.SelectedItem.AuftragsnummerVon, new { @class = "m-wrap medium", col = "left" })
@Html.FormTextBlockFor(m => Model.SelectedItem.AuftragsnummerBis, new { @class = "m-wrap medium", col = "right" })

@Html.FormTextBlockFor(m => Model.SelectedItem.Anzahl, new { @class = "m-wrap medium", col = "left" })
@Html.FormTextBlockFor(m => Model.SelectedItem.KennzeichenLeasingFahrzeug, new { @class = "m-wrap medium", col = "right" })

          
@{ var gridName = "GridUnitnumbers"; }

@(Html.XTelerik()
    .XGrid<FzgUnitnummer>()
    .Name(gridName)
    .XAjaxDataBinding("UnitnummerAjaxBinding", "Batcherfassung")
    .Columns(columns =>
        {
            columns.XBound(c => c.Unitnummer);
            columns.XBound(c => c.IstGesperrt)
                  .ClientTemplate("<input type='checkbox' name='checkedRecords' <# if (data.IsSelected) { #> checked readonly='readonly' disabled <# } #> value='<#= data.Unitnummer #>' onchange='GridUnitnumbers_OnSelectionChange($(this))' />")
                  .Filterable(false).Sortable(false).Groupable(false).Width(20);
            
            columns.XBound(c => c.Sperrvermerk).Filterable(false).Sortable(false).Groupable(false)
                    .ClientTemplate(
                        "<input onblur='UpdateSperrvermerk(\"<#= data.Unitnummer #>\");' value='<#= data.Sperrvermerk #>' id='<#= data.Unitnummer #>' <# if (!data.IsSelected) { #> readonly <# } #> </input>"
                        + "&nbsp;"
                );
            columns.XBound(c => c.Fahrgestellnummer);
            columns.XBound(c => c.Kennzeichen);                                                         
            columns.XBound(c => c.Einsteuerung);                     
        })
    .XAutoColumnConfiguration()
    .ClientEvents(events => events.XAutoClientEvents(gridName))
    .XPageSize(10)
    .XSort(sortOrder => sortOrder.Add(c => c.Unitnummer).Ascending())
    .XToolBar("Batcherfassung")
    .ToolBar(commands =>
         {
             commands.FilteredDataCommand("ExportUnitnummerFilteredExcel", "Batcherfassung");
             commands.FilteredDataCommand("ExportUnitnummerFilteredPDF", "Batcherfassung");
         })
)

<div class="form-horizontal">
    <div id="formActions" class="form-actions">                  
        <button type="button" id="backbutton" class="btn green" onclick="CloseUnitNumbers(); "> @Localize.Back<i class="m-icon-swapright m-icon-white"></i></button>                   
        <button type="button" id="savebutton" class="btn green hide" onclick="SaveUnitNumberState(@Model.SelectedItem.ID); "> @Localize.Send<i class="m-icon-swapright m-icon-white"></i></button>       
    </div>
</div>



