@using CkgDomainLogic.Fahrzeugbestand.ViewModels
@model FahrzeugbestandViewModel

@Html.Partial("Partial/Common")
@Html.Partial("AdressenPflege/AdresseCommon")

<h3 class="page-title" id="headerTitle">
    Fahrzeugakte + Bestand <small>Pflege</small>
</h3>

@Html.FormBreadCrumbs(Localize.VehicleData)

@Html.SpanAlert("Message")

<div id="divSearchAndGrid">
    @using (Html.FormSearchBox())
    {
        @Html.Partial("Partial/FahrzeugAkteBestandSuche", Model.FahrzeugAkteBestandSelektor)
    }

    @using (Html.FormSearchResultsGrid())
    {
        <div id="divGrid"></div>
    }
</div>
<div id="divFahrzeugDetails"></div>
<div id="divPartnerSelection"></div>


<script type="text/javascript">

    var _modelStateValid = 'false';
    var _adressenKennungLocalized = '';

    var count = 0;  // MMA

    function FormPreparePrivate() {
        FormPreparePrivateAdressenPflege();
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
    }

    function TryShowFahrzeugAkteBestandGrid() {
        FormPreparePrivateAjax();

        $(".mfp-close").trigger("click");

        ShowFahrzeugAkteBestandGrid();
    }

    function ShowFahrzeugAkteBestandGrid() {

        $.ajax({
            type: "POST",
            url: "ShowFahrzeugAkteBestandGrid",
            loadingShow: true,
            success: function (result) {

                SearchResultsTryHide();

                if (_modelStateValid) {
                    ShowFahrzeugAkteBestandSearchResult(result);
                    //return;
                }

                LoadingHide();
            }
        });
    }

    function ShowFahrzeugAkteBestandSearchResult(result) {
        SearchFormHide();
        $("#divGrid").html(result);

        // move our grid filter form into grid's toolbar:
        GridAllColumnFilterApplyToGrid("GridFahrzeugAkteBestand");

        $("#divGrid").slideDown();
    }

    function FahrzeugShowAjax(finid) {
        FahrzeugShowCreateAjax(finid);

        return false;
    }

    function FahrzeugCreateAjax() {
        FahrzeugShowCreateAjax(null);

        return false;
    }
    
    function FahrzeugShowCreateAjax(finid) {
        $.ajax({
            type: "POST",
            url: "ShowFahrzeugAkteBestandDetails",
            data: { finIdToLoad: finid },
            loadingShow: true,
            success: function (result) {
                ShowFahrzeugDetails(result);
                LoadingHide();
            }
        });
    }

    var _akteJustCreated = false;
    var _akteIsValid = false;

    function ShowFahrzeugDetails(result) {
        $("#divFahrzeugDetails").html(result);
        SetFahrzeugakteFormToReadOnly(true);
        $("#divSearchAndGrid").slideUp();
        $("#divFahrzeugDetails").slideDown();
        setTimeout("HandleResponsiveControlWidths()", 500);
        scrollToTop();

        FormPrepareAjax();
        BreadcrumbsMoveNext('@Localize.Autohaus_Fahrzeugakte');
        try {
            setTimeout(function () {
                $("#FahrzeugDetailsFinSearchForm input[name='FIN']").focus();
            }, 200);
        }
        catch(e){}
    }

    function ShowFahrzeugDetailsComingFromFinSearch(result) {
        $("#divFahrzeugDetails").html(result);
        SetFahrzeugakteFormToReadOnly(_akteIsValid);
        FormPrepareAjax();
    }

    function CloseFahrzeugDetails() {
        setTimeout(function () {
            $("#divFahrzeugDetails").slideUp();
            $("#divSearchAndGrid").slideDown();
            setTimeout('LoadingHide();', 500);
            scrollToTop();
            BreadcrumbsMovePrev();

            setTimeout(function() {
                HandleResponsiveControlWidths();
            }, 1000);
        }, 150);
    }

    function TryCloseFahrzeugDetails() {

        SetFahrzeugakteFormToReadOnly(_akteIsValid);
        
        if (_modelStateValid) {
            if (_akteJustCreated) {
                var message = '@Localize.VehicleCreatedPleaseEditVehicleStock';
                SpanAlertSuccess("Message", message, 4000);
                FormPrepareAjax();
                return;
            }

            FormPrepareAjax();
            CloseFahrzeugDetails();
            FilterGrid("GridFahrzeugAkteBestand");
            return;
        }

        FormPrepareAjax();
    }

    function SetFahrzeugakteFormToReadOnly(readonly) {
        $("#fahrzeuge-akte input[type=text]").attr("readonly", readonly);
        $("#FabrikName,#HandelsName").attr("readonly", true);
        $("#fahrzeuge-akte input[name='FIN']").attr("readonly", true);

        if (readonly) {
            $("#fahrzeuge-bestand").show();
            $("button[type=submit] span").text('@Localize.Save');
        } else {
            $("#fahrzeuge-bestand").hide();
            $("button[type=submit] span").text('@Localize.VehicleCreate');
        }
    }
    
    function InitCheckTypDaten() {
        $("#HerstellerSchluessel,#TypSchluessel,#VvsSchluessel").change(function () { TryCheckTypDaten(); });
    }
    
    function TryCheckTypDaten() {
        var typDatenComplete = $("#HerstellerSchluessel").val().length > 0 && $("#TypSchluessel").val().length > 0 && $("#VvsSchluessel").val().length > 0;
        var typDatenBereitsVorhanden = $("#FabrikName").val().length > 0 || $("#HandelsName").val().length > 0;

        if (!typDatenComplete || typDatenBereitsVorhanden)
            return;

        var submitButton = $("button[type='submit']");
        submitButton.attr("disabled", "disabled");

        $.ajax(
        {
            type: "POST",
            url: "GetTypDaten",
            data: {
                herstellerSchluessel: $("#HerstellerSchluessel").val(),
                typSchluessel: $("#TypSchluessel").val().toUpperCase(),
                vvsSchluessel: $("#VvsSchluessel").val()
            },
            loadingShow: false,
            success: function (result) {
                submitButton.removeAttr("disabled");

                if (!result.success)
                    return;

                $("#FabrikName").val(result.fabrikName);
                $("#HandelsName").val(result.handelsName);
            },
            error: function (result) {
                alert(result.data);
                submitButton.removeAttr("disabled");
            }
        });
    }

    //
    // <Partner Selection>
    //

    var _dropdownCurrent = null;
    var _dropdownGridCurrent = null;

    function PickPartnerAddress(partnerKennung) {

        var dropdownThis = $("#" + partnerKennung.substr(0, 1) + "-" + "dropdown");
        _dropdownCurrent = dropdownThis;
        _dropdownGridCurrent = $("#" + partnerKennung.substr(0, 1) + "-" + "dropdown-grid");

        $.ajax(
        {
            type: "POST",
            url: "PickPartnerAddress",
            data: { partnerKennung: partnerKennung },
            loadingShow: true,
            success: function (result) {
                ShowPartnerAddressGrid(result);
            },
            error: function (result) {
                alert(result.data);
            }
        });

        return false;
    }

    function AddressSelect(id) {
        $.ajax(
        {
            type: "POST",
            url: "PickPartnerAddressFinished",
            data: { id: id },
            loadingShow: false,
            success: function (result) {
                //console.log(result.partnerKennung);
                //console.log(result.partnerName);
                var dropdownTextSpan = $("#" + result.partnerKennung.toLowerCase().substr(0, 1) + "-dropdown-text");
                //console.log(dropdownTextSpan);
                dropdownTextSpan.html(result.partnerName);
                var hiddenFieldName = "Halter";
                if (result.partnerKennung.toLowerCase().substr(0, 1) == "k")
                    hiddenFieldName = "Kaeufer";
                else if (result.partnerKennung.toLowerCase().substr(0, 1) == "z")
                    hiddenFieldName = "ZahlerKfzSteuer";
                $("#fahrzeuge-bestand input[name='" + hiddenFieldName + "']").val(result.partnerID);

                ClosePartnerAddressGrid();
            },
            error: function (result) {
                alert(result.data);
            }
        });

        return false;
    }

    function ShowPartnerAddressGrid(result) {
        _dropdownCurrent.find("i").removeClass("icon-chevron-right").addClass("icon-chevron-down");

        $("#divPartnerSelection").html(result);
        FormPreparePrivateAdressenPflege();

        $("#divFahrzeugDetails").slideUp();
        $("#divPartnerSelection").slideDown();
        scrollToTop();

        setTimeout(function () {
            $(".grid-column-overall-filter").focus();
            setTimeout(BreadcrumbsMoveNext(_adressenKennungLocalized), 1000);
        }, 500);
    }

    function ClosePartnerAddressGrid(postFunction) {
        setTimeout(function() {
            $("#divPartnerSelection").slideUp();
            $("#divFahrzeugDetails").slideDown();
            scrollToTop();
            BreadcrumbsMovePrev();
        }, 150);

        _dropdownCurrent.find("i").removeClass("icon-chevron-down").addClass("icon-chevron-right");
        _dropdownCurrent = null;
        _dropdownGridCurrent = null;

        if (typeof (postFunction) !== "undefined")
            eval(postFunction);
        else
            setTimeout("LoadingHide()", 50);

        return false;
    }

    //
    // </Partner Selection>
    //

    function OnDataBound_GridFahrzeugAkteBestand() {
        FilteredData_Grid_OnDataBound($(this));
        jQuery('.tooltips').tooltip();
        LoadingHide();
        App.initUniform();  // 20150728
    }

    function OnColumnShowHide_GridFahrzeugAkteBestand() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_GridFahrzeugAkteBestand() {
        FilteredData_Grid_OnColumnReorder($(this));
    }

    // HalterAdresse
    function OnDataBound_HalterAdressenAuswahlGrid() {
        FilteredData_Grid_OnDataBound($(this));
        $('.tooltips').tooltip();
    }

    function OnColumnShowHide_HalterAdressenAuswahlGrid() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_HalterAdressenAuswahlGrid() {
        FilteredData_Grid_OnColumnReorder($(this));
    }

    function GridHalterAdresseOnSelect(id) {
        $("#TmpSelectionKey").val(id);
        $("#TmpSelectionType").val("HALTER");
        $("#FahrzeugAkteBestandSearchForm").submit();
    }

    // KaeuferAdresse
    function OnDataBound_KaeuferAdressenAuswahlGrid() {
        FilteredData_Grid_OnDataBound($(this));
        $('.tooltips').tooltip();
    }

    function OnColumnShowHide_KaeuferAdressenAuswahlGrid() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_KaeuferAdressenAuswahlGrid() {
        FilteredData_Grid_OnColumnReorder($(this));
    }

    function GridKaeuferAdresseOnSelect(id) {
        $("#TmpSelectionKey").val(id);
        $("#TmpSelectionType").val("KAEUFER");
        $("#FahrzeugAkteBestandSearchForm").submit();
    }

    // Adressen allgemein
    function AjaxFormAdressenShowGrid(addressType) {
        $.ajax(
            {
                type: "POST",
                url: addressType + "AdressenShowGrid",
                data: {},
                loadingShow: true,
                success: function (result) {
                    $("#InnerAdressen").html(result);
                    GridAllColumnFilterApplyToGrid(addressType + "AdressenAuswahlGrid");

                    $.magnificPopup.open({
                        items: { src: $("#InnerAdressen") },
                        type: 'inline',
                        alignTop: true,
                        removalDelay: 300,
                        mainClass: 'my-mfp-zoom-in'
                    });
                }
            });

        return false;
    }

    function OnComplete_AdressenAuswahlGrid() {
        var grid = $(this);
        setTimeout(function () {
            var gridHeight = parseInt(grid.css('height').replace(/px/, ""));
            var newHeight = (gridHeight + 80) + 'px';
            grid.closest('.t-window-content').animate({ height: newHeight }, 200);
        }, 300);
    }

</script>

<div id="InnerAdressen" class="white-popup mfp-hide">
</div>
