@Html.FormNewLine("top0")

<a class="DateRangePicker first" onclick="return DateRangePickerLinkClick(this, '@ViewData["DatePickerProperty"]');">Heute</a>
<a class="DateRangePicker" onclick="return DateRangePickerLinkClick(this, '@ViewData["DatePickerProperty"]');">Gestern</a>
<a class="DateRangePicker" onclick="return DateRangePickerLinkClick(this, '@ViewData["DatePickerProperty"]');">Letzte 3 Tage</a>
<a class="DateRangePicker" onclick="return DateRangePickerLinkClick(this, '@ViewData["DatePickerProperty"]');">Letzte 7 Tage</a>
<a class="DateRangePicker" onclick="return DateRangePickerLinkClick(this, '@ViewData["DatePickerProperty"]');">Letzte 30 Tage</a>
<a class="DateRangePicker" onclick="return DateRangePickerLinkClick(this, '@ViewData["DatePickerProperty"]');">Letzter Monat</a>
<a class="DateRangePicker" onclick="return DateRangePickerLinkClick(this, '@ViewData["DatePickerProperty"]');">Dieser Monat</a>
<a class="DateRangePicker reset" onclick="return DateRangePickerLinkClick(this, '@ViewData["DatePickerProperty"]');">Leeren</a>

@*@ViewData["DatePickerProperty"]*@