@using CkgDomainLogic.DomainCommon.Models
@model Adresse

<div id="@MvcAjaxOptions.AjaxFormContainerName" class="SForm SLabelAlignedForm">
    @using (Ajax.BeginForm("AddressDetailsFormSave", "DomainCommon", null, new MvcAjaxOptions { OnComplete = "GridItemDetailsFormPreparePrivateAjax();" }, htmlAttributes: new { @class = "form-horizontal form-bordered form-row-stripped", id = "ajaxForm" }))
    {
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.InternalKey)
        @Html.HiddenFor(m => m.InternalKey2)
        @Html.HiddenFor(m => m.IsValid)
        @Html.HiddenFor(m => m.NoSaveButUiRefreshOnly)

        @Html.ValidationSummaryResponsive()

        
        @Html.SimpleFormTextBoxFor(m => m.Name1)
        @Html.SimpleFormTextBoxFor(m => m.Name2)
        @Html.SimpleFormTextBoxFor(m => m.Strasse)
        @Html.SimpleFormTextBoxFor(m => m.PLZ)
        @Html.SimpleFormTextBoxFor(m => m.Ort)
        @Html.SimpleFormDropDownListFor(m => m.Land, Adresse.Laender.ToSelectList())
        @Html.SimpleFormTextBoxFor(m => m.Kennung)

        <div class="form-actions">
            <button type="submit" class="btn green"><i class="icon-ok"></i> Speichern</button>
            <button type="button" class="btn" onclick="CloseItemDetails();">Abbrechen</button>
        </div>
    
        <script type="text/javascript">
            _modelIsValid = @Model.IsValid.ToString().ToLower();
            _modelIsInsertMode = @Model.InsertModeTmp.ToString().ToLower();
        </script>
    }
</div>