@using CkgDomainLogic.Equi.Models
@model EquiHistorie

<form action="#" class="form-horizontal label-width-120">
    <h4 class="form-section">Fahrzeugdaten</h4>
    <div class="row-fluid" id="zeile1_1">
        <div class="span4">
            @Html.FormTextBoxFor(m => m.Hersteller, new { @class = "m-wrap small", @readonly = "readonly" })
        </div>
        <div class="span4 margin-left-5">
            @Html.FormTextBoxFor(m => m.Fahrzeugmodell, new { @class = "m-wrap small", @readonly = "readonly" })
        </div>
        <div class="span4 margin-left-5">
        </div>
    </div>
    <div class="row-fluid" id="zeile1_2">
        <div class="span4">
            @Html.FormTextBoxFor(m => m.HerstellerSchluessel, new { @class = "m-wrap small", @readonly = "readonly" })
        </div>
        <div class="span4 margin-left-5">
            @Html.FormTextBoxFor(m => m.TypSchluessel, new { @class = "m-wrap small", @readonly = "readonly" })
        </div>
        <div class="span4 margin-left-5">
            @Html.FormTextBoxFor(m => m.VarianteVersion, new { @class = "m-wrap small", @readonly = "readonly" })
        </div>
    </div>
    <h3 class="form-section">Briefdaten</h3>
    <div class="row-fluid" id="zeile2_1">
        <div class="span4">
            @Html.FormTextBoxFor(m => m.Briefnummer, new { @class = "m-wrap small", @readonly = "readonly" })
        </div>
        <div class="span4 margin-left-5">
            @Html.FormTextBoxFor(m => m.Erstzulassungsdatum, new { @class = "m-wrap small", @readonly = "readonly" })
        </div>
        <div class="span4 margin-left-5">
            @Html.FormTextBoxFor(m => m.Abmeldedatum, new { @class = "m-wrap small", @readonly = "readonly" })
        </div>
    </div>
    <div class="row-fluid" id="zeile2_2">
        <div class="span4">
            @Html.FormTextBoxFor(m => m.Referenz1, new { @class = "m-wrap small", @readonly = "readonly" })
        </div>
        <div class="span4 margin-left-5">
            @Html.FormTextAreaFor(m => m.Halter, new { @class = "m-wrap small", @readonly = "readonly" })
        </div>
        <div class="span4 margin-left-5">
            @Html.FormTextAreaFor(m => m.Standort, new { @class = "m-wrap small", @readonly = "readonly" })
        </div>
    </div>
    <div class="row-fluid input-medium" id="zeile2_3">
        <div class="span4">
            @Html.FormCheckBoxFor(m => m.CocVorhanden, new { @disabled = "disabled" })
        </div>
        <div class="span4 margin-left-5">
        </div>
        <div class="span4 margin-left-5">
        </div>
    </div>
    <h3 class="form-section">Änderungsdaten</h3>
    <div class="row-fluid" id="zeile3_1">
        <div class="span4">
            @Html.FormTextBoxFor(m => m.Ummeldedatum, new { @class = "m-wrap small", @readonly = "readonly" })
        </div>
        <div class="span4 margin-left-5">
            @Html.FormTextBoxFor(m => m.KennzeichenAlt, new { @class = "m-wrap small", @readonly = "readonly" })
        </div>
        <div class="span4 margin-left-5">
        </div>
    </div>
    <div class="row-fluid" id="zeile3_2">
        <div class="span4">
            @Html.FormCheckBoxFor(m => m.Briefaufbietung, new { @disabled = "disabled" })
        </div>
        <div class="span4 margin-left-5">
            @Html.FormTextBoxFor(m => m.BriefnummerAlt, new { @class = "m-wrap small", @readonly = "readonly" })
        </div>
        <div class="span4 margin-left-5">
        </div>
    </div>
</form>