@*@model CkgDomainLogic.Autohaus.Models.AuslieferAdresse*@
@model CkgDomainLogic.Autohaus.Models.AuslieferAdresse

@{
    // ViewBag.AddressNo = 2;
    
}
<h4>@Localize.DeliveryAddresses</h4>

<style>
    .control-label {
        width: 100px !important;
    }
    .controls 
    {
        margin-left: 120px !important;
    }
    .chzn-choices {
        @*width: 80% !important;*@
        width: 215px !important;
    }
    
    #Adressdaten_Bemerkung {
        width: 205px !important;
    }
    
</style>

<script>
    function CallAjaxFormAdressenShowGrid(addressNo) {
        $('#CurrentAddressFormNo').val(addressNo);
        alert("CallAjaxFormAdressenShowGrid " + addressNo);
        AjaxFormAdressenShowGrid('Ausliefer');
    }

    function AjaxFormAuslieferAdressenInit(addressNo) {
        alert("AjaxFormAuslieferAdressenInit " + addressNo);
        AjaxFormAdressePrepareAutoComplete($("#Adressdaten_Adresse_Name1"), "AuslieferAdresseGetAutoCompleteItems");
        AjaxFormAdressePrepareAutoCompleteReset("AjaxFormAuslieferAdressen");
    }

    function SelectAuslieferAdresse(partnerrolle) {
        alert("SelectAuslieferAdresse-Partnerrolle: " + partnerrolle);
        if ($("#Adressdaten_Partnerrolle").val() != partnerrolle) {
            $("#AjaxFormAuslieferAdressen").submit();
        }
    }

    function SaveAuslieferAdresse(addressNo) {
        alert("SaveAuslieferAdresse " + addressNo);
        $("#TmpSaveAddressOnly").val(true);
        $("#AjaxFormAuslieferAdressen").submit();
    }

</script>

<input type="text" id="CurrentAddressFormNo" value="0" />

<div class="row-fluid">
    <div class="span4" style="">
        @Html.Partial("Partial/AuslieferAdressenForm", Model, new ViewDataDictionary {{"AddressNo", 1}, {"Partnerrolle", "Z7"}})
    </div>
    <div class="span4" style="">
        @Html.Partial("Partial/AuslieferAdressenForm", Model, new ViewDataDictionary { { "AddressNo", 2 }, { "Partnerrolle", "Z8" } })
    </div>
    <div class="span4" style="">
        @Html.Partial("Partial/AuslieferAdressenForm", Model, new ViewDataDictionary { { "AddressNo", 3 }, { "Partnerrolle", "Z9" } })
    </div>
</div>

Bemerkung @Localize.RequiredWhenOtherIsSelected<br/>
@Html.FormRequiredFieldsSummary()


