@using CkgDomainLogic.DomainCommon.Models
@model CkgDomainLogic.Autohaus.Models.AuslieferAdresse

@{
    var addressNo = ViewBag.AddressNo;
    var divId = "DivAuslieferAdressen" + addressNo;
    var partnerRolle = ViewBag.Partnerrolle;
    Model.Adressdaten.Partnerrolle = partnerRolle;
}

<div id="@divId" style="width:100%">
    @*AdressNo: @addressNo*

    @*<div class="form-actions" style="padding: 5px; padding-left: 85px;">*@
    <div class="" style="margin-bottom: 10px;">
        @*<a href="#" onclick="return AjaxFormAdressenShowGrid('Ausliefer');" class="btn white">Adresse wählen <i class="icon-chevron-right"></i></a>*@
        <a href="#" onclick="return CallAjaxFormAdressenShowGrid('@addressNo');" class="btn btn-block white bold">Adresse @addressNo wählen <i class="icon-chevron-right"></i></a>
    </div>

    @using (Ajax.BeginForm("AuslieferAdressenForm", "Zulassung", null,
        new MvcAjaxOptions {UpdateTargetId = divId, OnComplete = "AjaxFormAuslieferAdressenComplete();"},
        htmlAttributes: new {@class = "form-horizontal", id = "AjaxFormAuslieferAdressen" + addressNo})) // + addressNo 
    {
        @*@Html.Hidden("AddressFormId", addressNo)*@
        @Html.HiddenFor(m => m.Adressdaten.Adresse.ID)
        @Html.HiddenFor(m => m.Adressdaten.Adresse.IsValid)
        @Html.HiddenFor(m => m.Adressdaten.Adresse.KundenNr)
        @Html.HiddenFor(m => m.Adressdaten.Adresse.Kennung)
        @Html.HiddenFor(m => m.Adressdaten.Adresse.Typ)
        @Html.HiddenFor(m => m.Adressdaten.Adresse.TmpSelectionKey)
        @Html.HiddenFor(m => m.Adressdaten.Adresse.NoSaveButUiRefreshOnly)
        @*@Html.HiddenFor(m => m.Adressdaten.Partnerrolle)*@
        @Html.TextBoxFor(m => m.Adressdaten.Partnerrolle)
        @Html.HiddenFor(m => m.TmpSaveAddressOnly)
        @Html.HiddenFor(m => m.TmpSaveAddressSuccessful)

        @Html.FormValidationSummary()

        @Html.SpanAlert("AuslieferAdressenMessage")

        @*<input id="TmpSelectedPartnerrolle" type="text" value="@partnerRolle" name="TmpSelectedPartnerrolle" />*@

   @*     @Html.FormRadioButtonListFor(m => m.TmpSelectedPartnerrolle, CkgDomainLogic.Autohaus.Models.Vorgang.AuslieferAdressenPartnerRollen.ToSelectList(), new { col = "left" })*@
        @Html.FormTextBoxFor(m => m.Adressdaten.Adresse.Name1, new {@class = "m-wrap medium ", @style = "width:50px !important;"})

        @Html.FormTextBoxFor(m => m.Adressdaten.Adresse.Name2, new {@class = "m-wrap medium"})

        @Html.FormTextBoxFor(m => m.Adressdaten.Adresse.Strasse, new {@class = "m-wrap medium"})

        @Html.FormTextBoxFor(m => m.Adressdaten.Adresse.PLZ, new {@class = "m-wrap xsmall"})

        @Html.FormTextBoxFor(m => m.Adressdaten.Adresse.Ort, new {@class = "m-wrap medium"})

        @*@Html.FormDropDownListFor(m => m.Adressdaten.Adresse.Land, Adresse.Laender.ToSelectList(), new { @class = "m-wrap medium" },
            postControlHtml: @<text><button type="button" class="btn green margin-left-20" style="width: 200px;" onclick="SaveAuslieferAdresse();"><i class="icon-ok"></i> @Localize.SaveAddress</button></text>)*@

        @Html.FormDropDownListFor(m => m.Adressdaten.Adresse.Land, Adresse.Laender.ToSelectList(), new {@class = "m-wrap medium"})

        @Html.FormMultiSelectListFor(m => m.ZugeordneteMaterialien, Model.Materialien.ToSelectList(), new { @id = "ZugeordneteMaterialien" + addressNo, @class = "m-wrap chosen material" })

        @Html.FormTextBoxFor(m => m.Adressdaten.Bemerkung, new {@class = "m-wrap large", maxlength = 50},
                        postControlHtml: @<text>
                                            <div>@Localize.RequiredWhenOtherIsSelected</div>
                                        </text>)

        @*@Html.FormPlaceHolder(@<text><div style="width: 270px;">@Localize.RequiredWhenOtherIsSelected</div></text>)*@
        @*@Html.FormRequiredFieldsSummary()*@

        <script type="text/javascript">
            _modelIsValid = @Model.IsValid.ToString().ToLower();

            DocumentReadyBind(AjaxFormAuslieferAdressenInit('@addressNo'));
            AjaxFormAuslieferAdressenInit('@addressNo');

//            $(":radio[name='TmpSelectedPartnerrolle']").click(function() { SelectAuslieferAdresse($(this).val()); });

            $(function() {
                ShowHideFieldBemerkung('@addressNo');

                $("#ZugeordneteMaterialien" + '@addressNo').chosen().change(function () {
                    RemoveUsedMaterials();
                    ShowHideFieldBemerkung('@addressNo');
                });

            });

        </script>
    }
</div>
