@using CkgDomainLogic.Autohaus.Models
@model BankAdressdaten

<div id="DivBankAdressdaten" class="margin-top-20">
    @using (Ajax.BeginForm("BankAdressdatenForm", "Zulassung", null,
                new MvcAjaxOptions { UpdateTargetId = "DivBankAdressdaten", OnComplete = "AjaxFormBankAdressdatenComplete();" },
                    htmlAttributes: new { @class = "form-horizontal", id = "AjaxFormBankAdressdaten" }))
    {
        @Html.FormValidationSummary()
        

        @Html.HiddenFor(m => m.DatenFuerCpd)
        
        <div class="row-fluid">
            
            <div class="span6">
                
                @using (Html.PortletBox(Localize.DifferentAddress, "icon-home"))
                {
                    @Html.HiddenFor(m => m.Cpdkunde)
                    @Html.HiddenFor(m => m.CpdMitEinzugsermaechtigung)

                    @Html.PartialFor(m => m.Adressdaten.Adresse, "Partial/BankAdressdatenReForm")

                    @Html.FormRadioButtonListFor(m => m.Bankdaten.Zahlungsart, Bankdaten.Zahlungsarten.ToSelectList())
                }

            </div>

            <div class="span6">
                
                @using (Html.PortletBox(Localize.BankData, "icon-book"))
                {
                    @Html.FormTextBoxFor(m => m.Bankdaten.Kontoinhaber, new { @class = "m-wrap" })
                    
                    @Html.PartialFor(m => m.Bankdaten, "Partial/BankdatenForm")
                }

            </div>

        </div>

        
        <script type="text/javascript">
            
            _modelIsValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();

            _skipBankAddressData = ($("#SkipBankAdressdaten").val().toString().toLowerCase() == 'true');

            TrySkipBankAddressData();

        </script>
    }
</div>
