@model CkgDomainLogic.Autohaus.ViewModels.KroschkeZulassungViewModel 

<style type="text/css">
    .form-wizard .progress {
        margin-bottom: 10px!important;
    }
    
    .reserve-button {
        background-color: #9B9B9B !important;
        color:#FFF;
        padding-left: 44px;
        padding-right: 44px;
    }
    
    .updateAnzAbmButton {
        background-color: #9B9B9B !important;
        color:#FFF;
        padding-left: 24px;
        padding-right: 24px;
    }
    
    .controls.no-left-margin {
        margin-left: 0 !Important;
    }
    
    #divWkzLink .btn {
        padding-left: 44px;
        padding-right: 44px;
    }
    
    #EvbInfo {
        width: 430px;
    }
    
    .form-actions-top {
        padding-left: 162px !important;
    }
</style>

<script type="text/javascript">

    var _modelIsValid = false;
    var _customButtonText = '@(Model.ObjectKey.IsNullOrEmpty() ? Localize.AddToShoppingCart : Localize.UpdateShoppingCart)';
    var _showShoppingcartInitial = @(Model.ShoppingCartInitialShow.ToString().ToLower());
    var _skipBankAddressData = false;

    function KroschkeZulassungFormPreparePrivate() {
        FormPreparePrivate();
    }

    function FormPreparePrivate() {
        try { FormWizardInitPrivate(); } catch (e) { }
        try { MultiSelectPreparePrivate(); } catch (e) { }
        ShoppingCartMenuRefreshCount();

        if (_showShoppingcartInitial) {
            LoadingShow();
            ShoppingCartShow();
        }
    };

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
        $('.tooltips').tooltip();
        setTimeout('LoadingHide()', 1000);
    }

    function FormWizardShowHideSaveButton(show, delay) {
        setTimeout(function () {
            $(".button-custom1 i").removeClass("m-icon-swapright").addClass("icon-shopping-cart");
            FormWizard.ButtonCustom1Show(show, _customButtonText);
        }, (typeof (buttonText) !== 'undefined' ? delay : 0));
    }

    function FormWizardInitPrivate() {
        FormWizard.Init(function () {
            FormWizard.ActionsShow(true);
            FormWizard.tabClickDisabled = true;
        });

        FormWizard.OnNext(function (step, maxSteps) {
            var stepName = FormWizard.GetStepKey(step - 1);

            try {
                $("#AjaxForm" + stepName).submit();
                window.scrollTo(0, 0);
                return false;
            }
            catch (e) {
                return true;
            }
        });

        FormWizard.OnPrev(function (step, maxSteps) {
            var stepName = FormWizard.GetStepKey(step + 1);

            FormWizardShowHideSaveButton(stepName == "Receipt", 500);

            var prevStepName = FormWizard.GetStepKey(step);
            if (prevStepName == "BankAdressdaten" && _skipBankAddressData) {
                FormWizard.ButtonPrevInvoke();
            }
            else if (prevStepName == "Zulassungsdaten") {
                InitZulassungsdatenControls();
            }

            window.scrollTo(0, 0);
            return true;
        });

        FormWizard.OnCustom1(function (step, maxSteps) {
            SaveZulassung();

            return true;
        });

        FormWizard.OnSubmit(function () {
            LoadingShow();
            SpanAlertWarning("WaitHint", '@Localize.PleaseWaitWhileProcessingYourRequest.ToJavascriptString()', 120000);
            AjaxRequestNextStep();

            return true;
        });

        FormWizard.OnRestart(function () {
            LocationReloadWithoutQueryString();
        });
    }

    function GetGrid(gridName) {
        return $("#" + gridName).data("tGrid");
    }

    function GridRefresh(gridName) {
        GetGrid(gridName).pageTo(1);
    }

    function AjaxRequestNextStep() {
        var nextTabKey = FormWizard.GetNextTabKey();
        $.ajax({
            type: "POST",
            url: nextTabKey,
            data: {},
            loadingShow: true,
            success: function (result) {
                SpanAlertWarningHide("WaitHint");
                if (typeof (result.message) !== "undefined") {
                    alert(result.message);
                    return;
                }
                FormWizard.SetNextTabHtmlAndMoveNext(result);
                FormPreparePrivateAjax();

                if (nextTabKey.toLowerCase() == "receipt")
                    ShoppingCartMenuRefreshCount();
            }
        });
    }

    function SaveZulassung() {
        var nextTabKey = FormWizard.GetNextTabKey();
        $.ajax({
            type: "POST",
            url: "Save",
            data: {},
            loadingShow: true,
            success: function (result) {
                if (typeof (result.message) !== "undefined") {
                    alert(result.message);
                    return;
                }
                FormWizard.SetNextTabHtmlAndMoveNext(result);
                FormPreparePrivateAjax();

                if (nextTabKey.toLowerCase() == "receipt")
                    ShoppingCartMenuRefreshCount();
            },
            error: function (jqXhr, exception) {
                alert(jqXhr.responseText);
            }
        });
    }

    function ShoppingCartZulassungItemEdit(id, zulParams) {
        $.ajax({
            type: "POST",
            url: "ShoppingCartZulassungItemEdit",
            data: { id: id },
            loadingShow: true,
            success: function (result) {
                if (typeof (result.message) !== "undefined") {
                    alert(result.message);
                    return;
                }

                var targetUrl = "/ServicesMvc/Autohaus/Zulassung/ZulassungFromShoppingCart" + zulParams;
                location.assign(targetUrl);
            },
            error: function (jqXhr, exception) {
                alert(jqXhr.responseText);
            }
        });
    }

    function ShoppingCartZulassungItemRemove(id) {

        if (!confirm('@Localize.ItemDeleteConfirm.ToJavascriptString()'))
            return false;

        $.ajax({
            type: "POST",
            url: "ShoppingCartZulassungItemRemove",
            data: { id: id },
            loadingShow: false,
            success: function () {
                FilterGrid("GridShoppingCart");
                ShoppingCartMenuRefreshCount();

                _gridShoppingCart_MultiSelectItemCount--;
                GridShoppingCart_MultiSelectItemCountRefresh();
            }
        });

        return false;
    }

    function ShoppingCartSubmitFinished(result) {
        LoadingHide();
        $(".form-wizard").html(result);
        ShoppingCartHide();
    }

    function WarenkorbSelectedKunnrChanged() {
        $.ajax({
            type: "POST",
            url: "WarenkorbSelectedKunnrChanged",
            data: { kunnr: $("#WarenkorbSelectedKunnr").val() },
            loadingShow: true,
            success: function (result) {
                GetGrid("GridShoppingCart").ajaxRequest();
            }
        });
    }

    // Rechnungsdaten
    function AjaxFormRechnungsdatenComplete() {
        FormPrepareAjax();

        if (_modelIsValid) {
            AjaxRequestNextStep();
            return;
        }
    }

    // HalterAdresse
    function AjaxFormHalterAdresseComplete() {
        FormPrepareAjax();

        if (_modelIsValid) {
            AjaxRequestNextStep();
            return;
        }

        $(".mfp-close").trigger("click");
    }

    function OnDataBound_HalterAdressenAuswahlGrid() {
        FilteredData_Grid_OnDataBound($(this));
        $('.tooltips').tooltip();
    }

    function OnColumnShowHide_HalterAdressenAuswahlGrid() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_HalterAdressenAuswahlGrid() {
        FilteredData_Grid_OnColumnReorder($(this));
    }

    function GridHalterAdresseOnSelect(id) {
        $("#TmpSelectionKey").val(id);
        $("#AjaxFormHalterAdresse").submit();
    }

    // ZahlerKfzSteuer
    function AjaxFormZahlerKfzSteuerComplete() {
        FormPrepareAjax();

        $(".mfp-close").trigger("click");

        if (_modelIsValid) {
            AjaxRequestNextStep();
            return;
        }
    }

    function OnDataBound_ZahlerKfzSteuerAdressenAuswahlGrid() {
        FilteredData_Grid_OnDataBound($(this));
        $('.tooltips').tooltip();
    }

    function OnColumnShowHide_ZahlerKfzSteuerAdressenAuswahlGrid() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_ZahlerKfzSteuerAdressenAuswahlGrid() {
        FilteredData_Grid_OnColumnReorder($(this));
    }

    function GridZahlerKfzSteuerAdresseOnSelect(id) {
        $("#Adressdaten_Adresse_TmpSelectionKey").val(id);
        $("#AjaxFormZahlerKfzSteuer").submit();
    }

    // BankAdressdaten
    function AjaxFormBankAdressdatenComplete() {
        FormPrepareAjax();

        if (_modelIsValid) {
            AjaxRequestNextStep();
            return;
        }
    }

    var _ibanPrev = null;
    function TryLoadBankdatenAusIban(textbox) {

        if (_ibanPrev == $(textbox).val())
            return;
        _ibanPrev = $(textbox).val();

        if ($(textbox).val().length < 22)
            return;

        LoadBankdatenAusIban();
    }

    function LoadBankdatenAusIban() {

        var iban = $("#Bankdaten_Iban").val();

        $.ajax(
            {
                type: "POST",
                url: "LoadBankdatenAusIban",
                data: { iban: iban },
                loadingShow: true,
                success: function (result) {
                    if (result.Swift == null || result.Swift == '') {
                        $("#Bankdaten_Swift").attr("readonly", false);
                        $("#Bankdaten_Swift").attr("placeholder", "");
                        $("#Bankdaten_Swift").val("");
                        $("#Bankdaten_Geldinstitut").attr("readonly", false);
                        $("#Bankdaten_Geldinstitut").attr("placeholder", "");
                        $("#Bankdaten_Geldinstitut").val("");
                        return;
                    }

                    $("#Bankdaten_Swift").val(result.Swift);
                    $("#Bankdaten_Swift").attr("readonly", true);
                    $("#Bankdaten_KontoNr").val(result.KontoNr);
                    $("#Bankdaten_Bankleitzahl").val(result.Bankleitzahl);
                    $("#Bankdaten_Geldinstitut").val(result.Geldinstitut);
                    SpanAlertSuccess("bankDataHint", '@Localize.BankDataSuccessfullyRetrievedFromIban.ToJavascriptString()', 1800);
                }
            });

        return false;

    }

    function TrySkipBankAddressData() {
        if (FormWizard.GetNextTabKey() == "BankAdressdaten" && _skipBankAddressData) {
            $("#AjaxFormBankAdressdaten").submit();
        }
    }

    // AuslieferAdressen
    function AjaxFormAuslieferAdressenComplete() {
        FormPrepareAjax();

        $(".mfp-close").trigger("click");

        if (_modelIsValid) {
            AjaxRequestNextStep();
            return;
        }

        var saveSuccessful = $("#AuslieferAdresseZ7_TmpSaveAddressSuccessful").val().toString().toLowerCase();
        if (saveSuccessful == 'true') {
            SpanAlertSuccess("AuslieferAdressenMessage", '@Localize.SaveSuccessful', 3000);
            $("#AuslieferAdresseZ7_TmpSaveAddressSuccessful").val(false);
        }
    }

    function OnDataBound_AuslieferAdressenAuswahlGrid() {
        FilteredData_Grid_OnDataBound($(this));
        $('.tooltips').tooltip();
    }

    function OnColumnShowHide_AuslieferAdressenAuswahlGrid() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_AuslieferAdressenAuswahlGrid() {
        FilteredData_Grid_OnColumnReorder($(this));
    }

    function GridAuslieferAdresseOnSelect(id) {
        $('#SelectedAddressId').val(id);
        $("#AjaxFormAuslieferAdressen").submit();
    }

    function LoadKfzKreisAusHalterAdresse() {

        $.ajax(
            {
                type: "POST",
                url: "LoadKfzKreisAusHalterAdresse",
                data: {},
                loadingShow: true,
                success: function (result) {
                    if (result.kfzKreis == '') {
                        SpanAlertWarning("kfzKreisHint", '@Localize.RegDistrictCouldNotBeRetrievedFromCarOwnerAddr.ToJavascriptString()', 1800);
                        return;
                    }

                    $("#Zulassungskreis").val(result.kfzKreis);
                    ZulassungskreisOnChange();
                    SpanAlertSuccess("kfzKreisHint", '@Localize.RegDistrictSuccessfullyRetrievedFromCarOwnerAddr.ToJavascriptString()', 1800);
                }
            });

        return false;

    }

    function CheckKennzeichenReserviert() {
        $("#UiUpdateOnly").val(true);
        $("#AjaxFormZulassungsdaten").submit();
    }

    function ZulassungskreisOnChange() {
        $.ajax(
            {
                type: "POST",
                url: "GetKennzeichenLinkeSeite",
                data: { zulassungsKreis: $("#Zulassungskreis").val() },
                loadingShow: false,
                success: function (result) {
                    $("#Kennzeichen").val(result.kennzeichenLinkeSeite);
                    $("#Wunschkennzeichen2").val(result.kennzeichenLinkeSeite);
                    $("#Wunschkennzeichen3").val(result.kennzeichenLinkeSeite);

                    $('.editkennz').val(result.kennzeichenLinkeSeite); // MMA

                    // MMA ITA8083
                    $('#WunschkennzeichenReservierenUrl').val(result.zulassungsstelleUrl);
                    ShowHideWunschkennzeichenUrl();

                    if (typeof (result.Versandzulassung) !== "undefined") {
                        $("#Versandzulassung").val(result.Versandzulassung);
                        $("#ExpressversandMoeglich").val(result.ExpressversandMoeglich);
                        $("#ZulassungsartMatNr").val(result.ZulassungsartMatNr);

                        ApplyZulassungsart();
                    }
                }
            });

        return false;
    }

    function UpdateZulassungsart() {
        $.ajax(
            {
                type: "POST",
                url: "UpdateZulassungsart",
                data: { haltereintragVorhanden: $(":radio[name=HaltereintragVorhanden]:checked").val(), expressversand: $("#Expressversand").is(":checked") },
                loadingShow: false,
                success: function (result) {
                    $("#ZulassungsartMatNr").val(result.ZulassungsartMatNr);
                }
            });

        return false;
    }

    function InitZulassungsdatenControls() {
        $("#EvbInfo").closest(".controls").addClass("no-left-margin");

        ApplyZulassungsart();

        if ($(":radio[name=HaltereintragVorhanden]").length) {
            $(":radio[name=HaltereintragVorhanden]").change(function () {
                UpdateZulassungsart();
            });
        }

        if ($("#Expressversand").length) {
            $("#Expressversand").change(function () {
                UpdateZulassungsart();
            });
        }
    }

    function ApplyZulassungsart() {
        var versZul = $("#Versandzulassung").val();
        var exprVers = $("#ExpressversandMoeglich").val();

        if ((typeof (versZul) !== "undefined") && versZul.toString().toLowerCase() == 'true') {
            $(":radio[name=HaltereintragVorhanden]").uniformRadioDisable();
            $("#Expressversand").closest(".control-group").show();
        } else {
            $(":radio[name=HaltereintragVorhanden]").uniformRadioEnable();
            $("#Expressversand").closest(".control-group").hide();
        }

        if ((typeof (exprVers) !== "undefined") && exprVers.toString().toLowerCase() == 'true') {
            $("#Expressversand").closest("label").show();
        }
        else {
            $("#Expressversand").closest("label").hide();
        }
        $.uniform.update($("#Expressversand"));
    }

    // MMA ITA8083
    function ShowHideWunschkennzeichenUrl() {
        var url = $('#WunschkennzeichenReservierenUrl').val();
        $('#LinkWunschkennzeichen').attr('href', url);
        if (url == undefined || url == '') {
            $('#divWkzLink').hide();
        } else {
            $('#divWkzLink').show();
        }
    }
    function ShowHideMindesthaltedauer() {
        var controlGroup = $("#MindesthaltedauerDays").closest(".control-group");
        var id = $('#ZulassungsartMatNr').val();
        var tagHaltedauer = $('#MindesthaltedauerDays');
        if (id == "000000000000000619") {                   // Firmeneigene Zulassung
            if (tagHaltedauer.val() == "") {  // Falls noch kein Wert vorhanden, Default setzen
                tagHaltedauer.val("0");
            } else {
                // Vom User eingegebenen Wert beim Blättern im Wizard nicht überschreiben
            }
            controlGroup.show();
        } else {
            tagHaltedauer.val("");
            controlGroup.hide();
        }
    }

    // OptionenDienstleistungen
    function AjaxFormOptionenDienstleistungenComplete() {
        FormPrepareAjax();

        if (_modelIsValid) {
            AjaxRequestNextStep();
            return;
        }
    }

    function CheckKennzeichenSondergroesse() {
        var kennzGr = $("#KennzeichenGroesseId");

        var kennzSondergr = $("#KennzeichenSondergroesse").is(":checked");
        if (kennzSondergr) {
            kennzGr.attr('disabled', false);
        } else {
            kennzGr.attr('disabled', true);
        }
    }

    function CheckSaisonkennzeichen() {
        var sais1 = $("#SaisonBeginn");
        var sais2 = $("#SaisonEnde");

        var saisKennz = $("#Saisonkennzeichen").is(":checked");
        if (saisKennz) {
            sais1.attr('disabled', false);
            sais2.attr('disabled', false);
        } else {
            sais1.attr('disabled', true);
            sais2.attr('disabled', true);
        }
    }

    // Adressen allgemein
    function AjaxFormAdressePrepareAutoCompleteReset(formID) {
        var form = $("#" + formID);
        form.find("input:text:not([id$='Name1'])").each(function () {
            $(this).bind('keyup', function () {
                try { $("[id$='Name1']").first().autocomplete("disable"); }
                catch (e) { }
            });
        });
    }

    function AjaxFormAdressePrepareAutoComplete(tb, url) {

        var form = tb.closest("form");
        var textboxValues = '';
        form.find("input:text:not([id$='Name1'])").each(function () {
            textboxValues = $(this).val();
        });
        if (textboxValues != '')
            return;

        $.ajax({
            type: "POST",
            url: url,
            data: {},
            loadingShow: false,
            success: function (result) {
                AjaxFormAdresseInitAutoComplete(tb, result.items);
            }
        });
    }

    function AjaxFormAdresseInitAutoComplete(tb, items) {
        tb.autocomplete({
            minLength: 0,
            source: items,
            select: function (event, ui) {
                $("[id$='TmpSelectionKey']").first().val(ui.item.value);
                var form = tb.closest("form");
                form.submit();
            }
        });
        tb.autocomplete("enable");
    }

    function AjaxFormAdressenShowGrid(addressType) {

        $.ajax(
            {
                type: "POST",
                url: addressType + "AdressenShowGrid",
                data: {},
                loadingShow: true,
                success: function (result) {
                    $("#InnerAdressen").html(result);
                    GridAllColumnFilterApplyToGrid(addressType + "AdressenAuswahlGrid");

                    $.magnificPopup.open({
                        items: { src: $("#InnerAdressen") },
                        type: 'inline',
                        alignTop: true,
                        removalDelay: 300,
                        mainClass: 'my-mfp-zoom-in'
                    });
                }
            });

        return false;
    }

    function OnComplete_AdressenAuswahlGrid() {
        var grid = $(this);
        setTimeout(function () {
            var gridHeight = parseInt(grid.css('height').replace(/px/, ""));
            var newHeight = (gridHeight + 80) + 'px';
            grid.closest('.t-window-content').animate({ height: newHeight }, 200); // .css('height', newHeight);
        }, 300);
    }

    function CleanUpKennzeichen(e) {
        var evt = (e) ? e : window.event;
        var key = (evt.keyCode) ? evt.keyCode : evt.which;

        // 0-9
        if (key >= 48 && key <= 57) {
            return true;
        }
        // A-Z
        if (key >= 65 && key <= 90) {
            return true;
        }
        // a-z
        if (key >= 97 && key <= 122) {
            return true;
        }
        // ä,ö,ü,Ä,Ö,Ü,-
        if (key == 132 || key == 148 || key == 129 || key == 142 || key == 153 || key == 154 || key == 45) {
            return true;
        }

        // alle anderen Zeichen nicht zulassen
        return false;
    }

    function UpdateGridInfo(count) {
        if (count == 0) {
            $("#FahrzeugAuswahlCount").addClass('hide');
            $("#uncheckAllRecords").attr("checked", false);
            $.uniform.update($("#uncheckAllRecords"));
            return;
        }
        $("#FahrzeugAuswahlCount").removeClass('hide');
        $("#FahrzeugAuswahlCount > span").html('Sie haben ' + count + ' Fahrzeug' + (count == 1 ? '' : 'e') + ' ausgewählt!');
        $("#uncheckAllRecords").attr("checked", true);
        $.uniform.update($("#uncheckAllRecords"));
    }

    // 20150815 MMA Ausgelagert, da genutzt in ZulassungsdatenForm und FahrzeugdatenForm
    function SetFinValue(finId, field, value) {
        $.ajax({
            type: "POST",
            url: "SetFinValue",
            data: { finId: finId, field: field, value: value },
            loadingShow: false,
            success: function (result) {
                if (result.ok == true) {
                }
                if (result.ok == false) {
                    alert(result.message);
                }
            }
        });
    };

</script>

<div id="InnerAdressen" class="white-popup mfp-hide">
</div>
