@using CkgDomainLogic.Autohaus.Models
@using CkgDomainLogic.DomainCommon.Models
@using CkgDomainLogic.Fahrzeugbestand.Models
@using GeneralTools.Models;

@model Fahrzeugdaten

@{
    var isMassenzulassung = Convert.ToBoolean(ViewData["IsMassenzulassung"]) || Convert.ToBoolean(Request["IsMassenzulassung"]);    // MMA Info, ob Massenzulassung oder nicht, wird mit InputForm "IsMassenzulassung" über Ajax.BeginForm hinweg durchgeschleift
    var isMassenabmeldung = Convert.ToBoolean(ViewData["IsMassenabmeldung"]) || Convert.ToBoolean(Request["IsMassenabmeldung"]);
    var modusAbmeldung = Convert.ToBoolean(ViewData["ModusAbmeldung"]) || Convert.ToBoolean(Request["ModusAbmeldung"]);
    var modusPartnerportal = Convert.ToBoolean(ViewData["ModusPartnerportal"]) || Convert.ToBoolean(Request["ModusPartnerportal"]);

    if (isMassenzulassung) { Model.FahrgestellNr = "MASSENZULASSUNG"; }
    if (isMassenabmeldung) { Model.FahrgestellNr = "MASSENABMELDUNG"; }

    var fahrzeugfarbenList = (List<Domaenenfestwert>)ViewData["FahrzeugfarbenList"];
    var isFromShoppingCart = Zulassungsdaten.GetZulassungViewModel().ZulassungFromShoppingCart;
}

<style>
    
    .fontUnderline {
        text-decoration: underline;
    }

    .inputwidth {
        width: 100px;
    }

    .fahrzeug-daten {
        float: left;
        margin: 0!important;
    }


    .fahrzeug-daten .prime-control {
        margin-top: -15px !important;
    }

    .kennzeichen-etikette-image {
        display: inline-block;
        margin: 0 0 0 10px;
        width: 300px;
        height: 80px;
        background: url(/ServicesMvc/_Themes/AH2015/images/kroschke-kennzeichen.png?v=20160329) 0 0 no-repeat;
        }
    .kroschke-prime-etikette-form {
        background: url(/ServicesMvc/images/kroschke-prime-etikette-bg.png);
        margin: 5px 0 20px 15px;
        padding: 15px 10px 10px 25px;
        border: 3px solid #8FC6DA;
        border-radius: 32px !important;
        box-shadow: 5px 5px 20px -1px rgba(0,0,0,0.75)!important;
        width: 360px;
    }
    .kroschke-signs-services {
        display: inline-block;
        background: url(/ServicesMvc/images/kroschke-signs-services.png);
        width: 346px;
        height: 33px;
        vertical-align:top;
        margin: 0 0 10px 0;
    }
    .kroschke-prime-etikette-form .control-group {
        margin-bottom: 0!important;
    }
    .kroschke-prime-etikette-form .control-label {
        width: 150px !important;
        text-align: left;
    }
    .kroschke-prime-etikette-form .controls {
        margin-left: 160px !important;
    }
    .kroschke-prime-etikette-form .controls input {
        width: 170px !important;
        font-weight: bold;
        border-color: #a0a0a0 !important;
        border-radius: 7px !important;
        background-color: ivory;
            }
    .kroschke-prime-etikette-form .controls input.no-border-bottom:not(.input-validation-error){
        border-bottom: 0 !important;
    }

    
    .m-wrap.tiny {
        width: 30px !Important;
            }
</style>

<script type="text/javascript">

    _modelIsValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();

    var _selectedItemsCount = 0;

    function TrackFin(tb) {
        var val = tb.val().toUpperCase();

        $(".kroschke-prime-etikette-form span[id='FahrgestellNr']").html(val);
    }

    function AjaxFormFahrzeugdatenComplete() {
        FormPrepareAjax();
        if (_modelIsValid) {
            AjaxRequestNextStep();
            return;
        }
    }

    function OnDataBound_GridFahrzeugAuswahl() {
        FilteredData_Grid_OnDataBound($(this));
        $('.tooltips').tooltip();
        // prepare multi row selection
        App.initUniform();
        Grid_PrepareMultiRowSelected("GridFahrzeugAuswahl");
        InitDefaultColorAutocomplete($(".colorautocomplete"));
    }

    function OnRowDataBound_GridFahrzeugAuswahl(e) {
        $(e.row).addClass((e.row.sectionRowIndex % 2 == 0) ? "t-grid-selected" : "t-grid-selected-alt");
        $(e.row).find("#ZulassungFahrzeugartId").val(e.dataItem.ZulassungFahrzeugartId);
        ShowHideKennzLabelColumns();
    }

    function ShowHideKennzLabelDiv() {
        var isSelected = $('#HasEtikett').is(':checked');
        var divObj = $('#KennzeichenLabelFields');

        if (isSelected) {
            divObj.removeClass("hide");
        } else {
            divObj.addClass("hide");
        }
    }

    function ShowHideKennzLabelColumns() {
        var isSelected = $('#HasEtikett').is(':checked');
        var grid = $("#GridFahrzeugAuswahl").data("tGrid");
        if (isSelected) {
            grid.showColumn("FzgModell");
            grid.showColumn("Farbe");
        } else {
            grid.hideColumn("FzgModell");
            grid.hideColumn("Farbe");
        }
    }

    function InitDefaultColorAutocomplete(tb) {
        var items = @Html.Raw(Json.Encode(fahrzeugfarbenList.ToList().Select(a => a.Beschreibung.ToJavascriptString())));

        tb.autocomplete({
                minLength: 0,
                source: items,
                create: function () {
                    $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
                        return $('<li>')
                            .append('<a>' + FromJavascriptString(item.label) + '</a>')
                            .appendTo(ul);
                    };
                }
            })
            .focus(function(){
                if ($(this).attr('state') != 'open') {
                    $(this).autocomplete("search");
                }
            })
            .blur(function() {
                // Da Click auf Defaultfarbe das Feld nicht auf "dirty" setzt und somit auch der onChance-Event nicht ausgelöst wird, hier manuelle Verarbeitung...
                var oldValue = $(this).data("oldValue");
                var newValue = $(this).val();
                if (oldValue != newValue) {
                    var tr = $(this).closest('tr');
                    var grid = $("#GridFahrzeugAuswahl").data("tGrid");
                    var dataItem = grid.dataItem(tr);
                    var finId = dataItem["FinID"];
                    var field = $(this).data('fieldname');
                    var value = $(this).val();
                    SetFinValue(finId, field, value);
                }
                $(this).data("oldValue",$(this).val());
            });
        tb.on("autocompleteselect", function (e, ui) {
            e.preventDefault();

            this.value = FromJavascriptString(ui.item.label);
        });
    }

    function ZulassungVehicleAdd() {
        var numberOfVehiclesToAdd = $("#AnzahlHinzuzufuegendeFahrzeuge").val();

        if (!numberOfVehiclesToAdd || numberOfVehiclesToAdd == 0)
            return;

        $.ajax({
            type: "POST",
            url: "VehicleAdd",
            data: { anzFahrzeuge: numberOfVehiclesToAdd, fahrzeugartId: $("#FahrzeugartId").val() },
            loadingShow: false,
            success: function (result) {
                if (result.ok == true) {
                    var grid = $("#GridFahrzeugAuswahl").data("tGrid");
                    grid.ajaxRequest();
                }
                if (result.ok == false) {
                    alert(result.message);
                }
            }
        });
    }

    function ZulassungVehicleRemove(finId) {
        $.ajax({
            type: "POST",
            url: "VehicleRemove",
            data: { finId: finId },
            loadingShow: false,
            success: function (result) {
                if (result.ok == true) {
                    var grid = $("#GridFahrzeugAuswahl").data("tGrid");
                    grid.ajaxRequest();
                }
                if (result.ok == false) {
                    alert(result.message);
                }
            }
        });
    }

    // Änderung eines Fahrzeugparameters bei Massenzulassung
    $(document).off('change', '.editvinvalue');
    $(document).on('change', '.editvinvalue', function () {            // Auswirkung auf ein Fahrzeug
        var tr = $(this).closest('tr');
        var grid = $("#GridFahrzeugAuswahl").data("tGrid");
        var dataItem = grid.dataItem(tr);
        var finId = dataItem["FinID"];
        var field = $(this).data('fieldname');
        var value = $(this).val();
        SetFinValue(finId, field, value);
    });

</script>

<div id="DivFahrzeugdaten" class="margin-top-20">    
    @using (Ajax.BeginForm("FahrzeugdatenForm", "Zulassung", null,
                           new MvcAjaxOptions { UpdateTargetId = "DivFahrzeugdaten", OnComplete = "AjaxFormFahrzeugdatenComplete();" },
                           htmlAttributes: new { @class = "form-horizontal", id = "AjaxFormFahrzeugdaten" }))
    {
        @Html.FormValidationSummary()
        
        if (isMassenzulassung || isMassenabmeldung)
        {
            @Html.Hidden("IsMassenzulassung", isMassenzulassung)
            @Html.Hidden("IsMassenabmeldung", isMassenabmeldung)
            @Html.HiddenFor(m => m.Zb2Nr)
            @Html.HiddenFor(m => m.TuevAu)
            @Html.HiddenFor(m => m.FahrgestellNr)

            @Html.FormTextBoxFor(m => m.AuftragsNr, new { @class = "m-wrap medium uppercase", col = "left" })
            @Html.FormTextBoxFor(m => m.VerkaeuferKuerzel, new { @class = "m-wrap small", col = "right" })

            @Html.FormTextBoxFor(m => m.BestellNr, new { @class = "m-wrap medium uppercase", col = "left" })
            @Html.FormTextBoxFor(m => m.Kostenstelle, new { @class = "m-wrap small uppercase", col = "right" })
            
            @Html.FormDropDownListFor(m => m.FahrzeugartId, Fahrzeugdaten.FahrzeugartList.ToSelectList(), new { @class = "m-wrap small" })

            @Html.FormCheckBoxFor(m => m.HasEtikett, new { @class = "m-wrap", onChange = "ShowHideKennzLabelColumns();" })
        }
        else
        {
            <div class="span6 form-horizontal fahrzeug-daten" id="fahrzeug-daten-left">

                @Html.FormTextBoxFor(m => m.AuftragsNr, new {@class = "m-wrap medium uppercase"})
                @Html.FormDropDownListFor(m => m.FahrzeugartId, Fahrzeugdaten.FahrzeugartList.ToSelectList(), new {@class = "m-wrap small"})

                @Html.FormTextBoxFor(m => m.VerkaeuferKuerzel, new {@class = "m-wrap small"})
                @Html.FormTextBoxFor(m => m.FahrgestellNr, new {onkeyup = "TrackFin($(this))", @class = "m-wrap medium uppercase", maxlength = 17})

                @Html.FormTextBoxFor(m => m.BestellNr, new {@class = "m-wrap medium uppercase"})
                @Html.FormTextBoxFor(m => m.Zb2Nr, new {@class = "m-wrap medium uppercase"})

                @if (modusAbmeldung)
            {
                    @Html.FormTextBoxFor(m => m.Kostenstelle, new {@class = "m-wrap medium uppercase"})
                    @Html.FormTextBoxFor(m => m.TuevAu, new {@class = "m-wrap small", maxlength = 4},
                        postControlHtml: @<text>
                                            <span class="margin-left-10">@string.Format("{0}: {1}", Localize.Format, Localize.DateFormat_MMJJ)</span>
                                        </text>)
            }
            else
            {
                    @Html.FormTextBoxFor(m => m.Kostenstelle, new {@class = "m-wrap medium uppercase"})
            }
            
            </div>

            <div class="span6 form-horizontal fahrzeug-daten" id="fahrzeug-daten-right">

                @if (!modusAbmeldung && !modusPartnerportal)
                {
                    @Html.FormPrimeCheckBoxFor(m => m.HasEtikett, @<text><span class="kennzeichen-etikette-image">&nbsp;</span></text>, new { onChange = "ShowHideKennzLabelDiv();" })
                }

            <div id="ValidationMsgHasEtikett"></div>
                <div id="KennzeichenLabelFields" class="kroschke-prime-etikette-form">
                    <div class="kroschke-signs-services"></div>
                    @Html.FormTextBlockFor(m => m.KennzeichenHinweis, new { @class = "m-wrap medium" })
                    @Html.FormTextBlockFor(m => m.HalterName, new { @class = "m-wrap medium" })

                    @Html.FormTextBoxFor(m => m.FzgModell, new {@class = "m-wrap medium no-border-bottom"})
                    @Html.FormTextBoxFor(m => m.Farbe, new { @class = "m-wrap medium colorautocomplete" })

                    @Html.FormTextBlockFor(m => m.FahrgestellNr, new { @class = "m-wrap medium uppercase" })

                    <div class="margin-top-5"></div>

                    @Html.FormTextBlockFor(m => m.AgName, new { @class = "m-wrap medium" }, labelText: @Model.AgKundenNr)
                </div>

            </div>
        }
    }
    
    @if (isMassenzulassung || isMassenabmeldung)
    {
        using (@Html.PortletBox("Fahrzeugauswahl", "icon-table", "light-grey", false))
        {
            var gridName = "GridFahrzeugAuswahl";
            
                @(Html.Telerik()
                      .Grid<FahrzeugAkteBestand>()
                      .Name(gridName)
                    .XAjaxDataBinding("FahrzeugAuswahlAjaxBinding", "Zulassung")    // Fahrzeugliste anzeigen
                      .Columns(columns =>
                      {
                      columns.XBound(c => c.FinID).Visible(false);

                          if (!isFromShoppingCart)
                          {
                              columns.XBound(c => c.Aktion).Filterable(false).ClientTemplate(
                                  "<button onclick='return ZulassungVehicleRemove(\"<#= data.FinID #>\");' class='btn mini gray tooltips' data-original-title='" + Localize.VehicleDelete + "' data-placement='right'><i class='halflings-icon white remove'></i></button>");
                          }

                          columns.XBound(c => c.FIN).ClientTemplate(
                                  Html.TextBox("FIN", "<#= data.FIN #>", new Dictionary<string, object> { { "class", "m-wrap medium uppercase editvinvalue" }, { "data-fieldname", "FIN" } }).ToHtmlString()
                              ).Title(Localize.VIN + " <span class='requiredField requiredFieldMarker'>*</span>");

                          columns.XBound(c => c.HandelsName).ClientTemplate(
                                  Html.TextBox("HandelsName", "<#= data.HandelsName #>", new Dictionary<string, object> { { "class", "m-wrap medium editvinvalue" }, { "data-fieldname", "HandelsName" } }).ToHtmlString()
                              );

                          columns.XBound(c => c.FzgModell).ClientTemplate("<input type='text' class='editvinvalue etikettcol' data-fieldname='FzgModell' value='<#= data.FzgModell #>' />").Title(Localize.Model + " <span class='requiredField requiredFieldMarker'>*</span>").Hidden(!Model.HasEtikett);
                          columns.XBound(c => c.Farbe).ClientTemplate("<input type='text' class='inputwidth colorautocomplete etikettcol' data-fieldname='Farbe' value='<#= data.Farbe #>' />").Title(Localize.Color + " <span class='requiredField requiredFieldMarker'>*</span>").Hidden(!Model.HasEtikett);

                          columns.XBound(c => c.ZulassungFahrzeugartId).ClientTemplate(
                                  Html.DropDownList("ZulassungFahrzeugartId", Fahrzeugdaten.FahrzeugartList.ToSelectList(), new Dictionary<string, object> { { "class", "m-wrap small editvinvalue" }, { "data-fieldname", "ZulassungFahrzeugartId" } }).ToHtmlString()
                          );
                      })
                      .XPageSize(10)
                      .XAutoColumnConfiguration()
                      .ClientEvents(events => events.OnDataBound("OnDataBound_" + gridName).OnRowDataBound("OnRowDataBound_" + gridName))
                      .XSort(sortOrder => sortOrder.Add(c => c.FIN).Ascending())
                    .XToolBar("Zulassung")
                          )

            if (!isFromShoppingCart)
            {
                <div class="form-actions clearfix">
                    <div class="pull-left">
                        @Html.TextBoxFor(m => m.AnzahlHinzuzufuegendeFahrzeuge, new { @class = "m-wrap tiny", maxlength = 3 })
                        <button class="btn blue" onclick="ZulassungVehicleAdd();">@Localize.AddVehicleVehicles</button>
                    </div>
                </div>
            }
        }
    }
    
</div>

<script>
    
    function FahrzeugdatenStepInit() {
        //console.log("FahrzeugdatenStepInit()");
        ShowHideKennzLabelDiv();
        InitDefaultColorAutocomplete($(".colorautocomplete"));
        GridAllColumnFilterApplyToGrid("GridFahrzeugAuswahl");

        $('#Farbe').show(); // Workaround
    }

    FahrzeugdatenStepInit();

</script>