@using CkgDomainLogic.Autohaus.Models
@model Fahrzeugdaten

<div id="DivHaendlerkennzeichen" class="margin-top-20">
    
    @using (Ajax.BeginForm("HaendlerkennzeichenForm", "Zulassung", null,
        new MvcAjaxOptions {UpdateTargetId = "DivHaendlerkennzeichen", OnComplete = "AjaxFormHaendlerkennzeichenComplete();"}, new {@class = "form-horizontal", id = "AjaxFormHaendlerkennzeichen"}))
    {
        @Html.FormValidationSummary()

        @Html.FormDropDownListFor(m => m.HaendlerKennzeichenTyp, Model.HaendlerKennzeichenTypen.ToSelectList(), new {@class = "m-wrap large" })
        @Html.FormTextBoxFor(m => m.Kennzeichen, new {@class = "m-wrap medium uppercase"},
            postControlHtml:@<text>
                                @Html.FormTextBoxFor(m => m.KennzeichenMenge, new { @class = "m-wrap xsmall" }, useRawTemplate:true)
                             </text>)
        


        @Html.FormTextBoxFor(m => m.AuftragsNr, new { @class = "m-wrap large uppercase", col = "left" })
        @Html.FormTextBoxFor(m => m.VerkaeuferKuerzel, new { @class = "m-wrap small", col = "right" })

        @Html.FormTextBoxFor(m => m.BestellNr, new { @class = "m-wrap large uppercase", col = "left" })
        @Html.FormTextBoxFor(m => m.Kostenstelle, new { @class = "m-wrap small uppercase", col = "right" })
    }

    <script type="text/javascript">
        _modelIsValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
    </script>

</div>
