@using CkgDomainLogic.Autohaus.Models
@model OptionenDienstleistungen

<div id="DivOptionenDienstleistungen" class="margin-top-20">
    @using (Ajax.BeginForm("OptionenDienstleistungenForm", "Zulassung", null,
                new MvcAjaxOptions { UpdateTargetId = "DivOptionenDienstleistungen", OnComplete = "AjaxFormOptionenDienstleistungenComplete();" },
                    htmlAttributes: new { @class = "form-horizontal label-width-200", id = "AjaxFormOptionenDienstleistungen" }))
    {
        @Html.FormValidationSummary()
        
        
        <div class="dienstleistungen-wrapper">
            
            @Html.HiddenFor(m => m.GewaehlteDienstleistungenString)

            <div class="dienstleistungen-header">
                <span class="header-left">@Localize.AvailableServices</span>
                <span class="header-right">@Localize.SelectedServices</span>
            </div>

            <select multiple id="pre-selected-options" class="multiselect hide" name="pre-selected-options[]">
                @foreach (var dl in Model.AvailableDienstleistungen)
                {
                    <option value="@dl.MaterialNr" @dl.SelectedAsString>@dl.Name</option>
                }
            </select>
        </div>
        
        @Html.HiddenFor(m => m.ZulassungsartMatNr)
        
        @Html.FormCheckBoxFor(m => m.NurEinKennzeichen, new { @class = "m-wrap xsmall" })
        
        @Html.FormCheckBoxFor(m => m.KennzeichenSondergroesse, new { @class = "m-wrap xsmall", onchange = "CheckKennzeichenSondergroesse()" },
                                    postControlHtml: @<text>
                                                            @Html.DropDownListFor(m => m.KennzeichenGroesseId, Model.KennzeichengroesseListForMatNr.ToSelectList(), new { @class = "m-wrap small margin-left-50" })
                                                            <a href="~/Documents/Templates/KfzKennzeichengroessen.pdf" target="_blank" class="btn yellow tooltips margin-right-5 margin-bottom-0" data-original-title='@Localize.KennzeichenGroessenPDF' data-placement="top"> @Localize._Kennzeichen <i class="icon-info-sign"></i></a>
                                                        </text>)

        @Html.FormCheckBoxFor(m => m.Saisonkennzeichen, new { @class = "m-wrap xsmall", onchange = "CheckSaisonkennzeichen()" },
                                    postControlHtml: @<text>
                                                            @Html.DropDownListFor(m => m.SaisonBeginn, OptionenDienstleistungen.SaisonMonate.ToSelectList(), new { @class = "m-wrap xsmall margin-left-50" })
                                                            @Html.DropDownListFor(m => m.SaisonEnde, OptionenDienstleistungen.SaisonMonate.ToSelectList(), new { @class = "m-wrap xsmall margin-left-5" })
                                                        </text>)
        
        if (Zulassungsdaten.IstGebrauchtzulassung(Model.ZulassungsartMatNr))
        {
            @Html.FormCheckBoxFor(m => m.KennzeichenVorhanden, new { @class = "m-wrap xsmall" })
        }
        else
        {
            @Html.HiddenFor(m => m.KennzeichenVorhanden)
        }

        if (Zulassungsdaten.IstAbmeldung(Model.ZulassungsartMatNr))
        {
            @Html.FormCheckBoxFor(m => m.VorhandenesKennzeichenReservieren, new { @class = "m-wrap xsmall" })
        }
        else
        {
            @Html.HiddenFor(m => m.VorhandenesKennzeichenReservieren)
        }

        if (Zulassungsdaten.IstFirmeneigeneZulassung(Model.ZulassungsartMatNr))
        {
            @Html.FormDatePickerFor(m => m.HaltedauerBis, new { @class = "m-wrap small" })
        }
        else
        {
            @Html.HiddenFor(m => m.HaltedauerBis)
        }

        if (Zulassungsdaten.IstUmkennzeichnung(Model.ZulassungsartMatNr))
        {
            @Html.FormTextBoxFor(m => m.AltesKennzeichen, new { @class = "m-wrap medium uppercase" })
        }
        else
        {
            @Html.HiddenFor(m => m.AltesKennzeichen)
        }
        
        @Html.FormTextAreaFor(m => m.Bemerkung, new { @class = "m-wrap large" })
        

        <script type="text/javascript">

            _modelIsValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();

            CheckKennzeichenSondergroesse();
            CheckSaisonkennzeichen();
            
            MultiSelectPreparePublic(true);

        </script>
    }
</div>
