@model CkgDomainLogic.Autohaus.ViewModels.KroschkeZulassungViewModel

<style type="text/css">
    .restart-with-new-order {
        margin-top: 40px;
    }
    .receipt-no {
        min-width: 130px;
        display: inline-block;
        font-weight: bold;
    }
    .receipt-fin {
        min-width: 180px;
        display: inline-block;
        font-weight: bold;
    }
    .receipt-row {
        margin-top: 5px;
        margin-bottom: 15px;
    }
    .receipt-download-buttons {
        display: inline-block;
    }
    .receipt-download-all {
        min-width: 210px;
        display: inline-block;
        font-weight: bold;
    }
</style>

@if (Model.SaveErrorMessage.IsNotNullOrEmpty())
{
    <div class="alert alert-error">
        <span class="label label-important"><i class="icon-bell"></i><span class="margin-left-5">@Localize.AnErrorHasOccured!</span></span><br /><br />
        @Model.SaveErrorMessage.ToHtml()
    </div>
}
else
{
    <div class="alert alert-success">
        @if (Model.SaveDataToErpSystem)
        {
            <i class="icon-check"></i><span class="padding-left-5"><strong>@Localize.ThankYou</strong>, @Localize.WeReceivedYourOrder!</span>
        }
        else
        {
            <i class="icon-check"></i><span class="padding-left-5"><strong>@Localize.SaveSuccessful</strong></span>
        }
    </div>
    
    <div id="ReceiptFormActions">
    
        @if (Model.AuftragslisteAvailable)
        {
            <a href="AuftragslisteAsPdf" class="btn yellow tooltips margin-right-5 margin-bottom-10" data-original-title='@Localize.OrderListAsPdfFile' data-placement="top"> @Localize.OrderList <i class="icon-download-alt"></i></a>
        }
        
        @foreach (var zulassung in Model.ZulassungenForReceipt)
        {
            var zulassungBelegNr = zulassung.BelegNr;   // MMA
            
            <div class="receipt-row">
                <div class="receipt-no">@Localize.Receipt #@zulassung.BelegNr</div>
                <div class="receipt-fin">@Localize.VIN @zulassung.Fahrzeugdaten.FahrgestellNr</div>
                <div class="receipt-download-buttons">
                    @if (zulassung.KundenformularPdf != null)
                    {
                        <a href="KundenformularAsPdf?id=@zulassung.BelegNr" class="btn blue tooltips margin-right-5 margin-bottom-5" data-original-title='@Localize.CustomerFormAsPdfFile' data-placement="top"> @Localize.CustomerForm <i class="icon-download-alt"></i></a>
                    }

                    @foreach (var pdfFormular in zulassung.Zusatzformulare.Where(p => !p.IstAuftragsListe && p.Belegnummer == zulassungBelegNr))
                    {
                        <a href="ZusatzformularAsPdf?id=@pdfFormular.Belegnummer&typ=@pdfFormular.Typ" class="btn blue tooltips margin-right-5 margin-bottom-5"> @pdfFormular.LabelForGui <i class="icon-download-alt"></i></a>
                    }

                    @if (zulassung.VersandlabelPdf != null)
                    {
                        <a href="VersandlabelAsPdf?id=@zulassung.BelegNr" class="btn blue tooltips margin-right-5 margin-bottom-5" data-original-title='@Localize.ShippingLabelAsPdfFile' data-placement="top"> @Localize.ShippingLabel <i class="icon-download-alt"></i></a>
                    }
                </div>
            </div>
        }
        <div class="receipt-row">
            <a href="AllDocumentsAsPdf" class="btn blue tooltips margin-right-50 margin-bottom-5 float-right">@Localize.AllPdf <i class="icon-download-alt"></i></a>
        </div>
    </div>
}

<div class="restart-with-new-order hide">
    <a href="javascript:LocationReloadWithoutQueryString();" class="btn green button-restart">@Localize.OccurrenceCreate <i class="m-icon-swapright m-icon-white"></i></a>
</div>

@if (Model.SaveErrorMessage.IsNotNullOrEmpty())
{
    <script type="text/javascript">
        try { FormWizard.ButtonPrevShowDelayed(); } catch(e) {}
    </script>
}

<script type="text/javascript">

    try { FormWizardShowHideSaveButton(false); } catch (e) { }

    // MCarl, 7.9.2015: Einblenden des Restart-Buttons vorübergehend deaktiviert, da aufgrund unterschiedlicher css-Klassen im neuen AH-Design
    // dann 2 Restart-Buttons auftauchen
//    if ($(".formWizardStepSpanGeneral").length == 0)
//        $(".restart-with-new-order").show();

    function LocationReloadWithoutQueryString() {
        var isMassenzulassung = '@Model.Zulassung.Zulassungsdaten.IsMassenzulassung';
        var isMassenabmeldung = '@Model.Zulassung.Zulassungsdaten.IsMassenabmeldung';
        var isSchnellabmeldung = '@Model.Zulassung.Zulassungsdaten.IsSchnellabmeldung';
        var isVersandzulassung = '@Model.ModusVersandzulassung';
        var isSonderzulassung = '@Model.ModusSonderzulassung';
        var sonderzulassungMode = '@Model.SonderzulassungsMode.ToString("F")';
        var isAbmeldung = '@Model.ModusAbmeldung';
        var isPartnerportal = '@Model.ModusPartnerportal';

        if (isSonderzulassung !== "True" && (isMassenzulassung === "True" || isMassenabmeldung === "True")) {
            window.location = "../Fahrzeugbestand/index";
        } else if (window.location.pathname.indexOf("ZulassungFromShoppingCart") > -1) {
            var replaceAction = "Index";

            if (isSchnellabmeldung === "True") {
                replaceAction = "Schnellabmeldung";
            } else if (isVersandzulassung === "True") {
                if (isPartnerportal === "True") {
                    replaceAction = "VersandzulassungPartner";
                } else {
                    replaceAction = "Versandzulassung";
                }
            } else if (isSonderzulassung === "True") {
                if (sonderzulassungMode === "Default")
                    replaceAction = "Sonderzulassung";
                else
                    replaceAction = "Sz" + sonderzulassungMode;
            } else if (isAbmeldung === "True") {
                replaceAction = "Abmeldung";
            }

            window.location = window.location.pathname.replace("ZulassungFromShoppingCart", replaceAction);

        } else {
            window.location = window.location.pathname;
        }
    }

</script>