@using CkgDomainLogic.Autohaus.Models
@model Rechnungsdaten
@{
    var kundenList = (List<Kunde>)ViewData["KundenList"];
}

<div id="DivRechnungsdaten" class="margin-top-20">
    @using (Ajax.BeginForm("RechnungsdatenForm", "Zulassung", null,
                new MvcAjaxOptions { UpdateTargetId = "DivRechnungsdaten", OnComplete = "AjaxFormRechnungsdatenComplete();" },
                    htmlAttributes: new { @class = "form-horizontal", id = "AjaxFormRechnungsdaten" }))
    {
        @Html.FormValidationSummary()
        

        @Html.FormDropDownListFor(m => m.KundenNr, kundenList.ToSelectList(), new { @class = "m-wrap xlarge" }, labelText: (Model.ModusPartnerportal ? Localize.CoStarPartner : Localize.Customer))

        if (Model.ModusPartnerportal)
        {
            @Html.FormTextBlockFor(m => m.PartnerportalHinweis, labelHidden: true)
        }
        
                
        @Html.FormRequiredFieldsSummary()
        
        
        <script type="text/javascript">
            _modelIsValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
        </script>
    }
</div>
