@using CkgDomainLogic.Fahrzeugbestand.Models
@model GeneralSummary

@{
    var isMassenzulassung = (bool)TempData["IsMassenzulassung"];
    var isMassenabmeldung = (bool) TempData["IsMassenabmeldung"];
    var isSchnellabmeldung = (bool) TempData["IsSchnellabmeldung"];
}

<h4>@Model.Header</h4>

@Html.SpanAlert("WaitHint")

<div class="SummaryItems">
    @foreach (var item in Model.Items)
    {
        <div class="SummaryItem @item.Tag">
            <h5 class="SummaryItemTitle">@item.TitleAsHtml</h5>
    
            <div class="SummaryItemBody">
                @item.BodyAsHtml
            </div>
        </div>
    }
</div>

@if (isMassenzulassung)
{
<div id="divPortletFahrzeugauswahl">
    @using (@Html.PortletBox(Localize.Vehicles, "icon-table", "light-grey", false))
    {
        var gridName = "GridFahrzeugAnzeige";
        @(Html.Telerik()
              .Grid<FahrzeugAkteBestand>()
              .Name(gridName)
              .XAjaxDataBinding("FahrzeugAuswahlSelectedAjaxBinding", "Zulassung")
              .Columns(columns =>
                  {
                      columns.XBound(c => c.FinID).Visible(false);
                      columns.XBound(c => c.FIN);
                      columns.XBound(c => c.ZulassungFahrzeugart);
                      columns.XBound(c => c.HandelsName);
                      columns.XBound(c => c.WunschKennz1);
                      columns.XBound(c => c.WunschKennz2);
                      columns.XBound(c => c.WunschKennz3);
                      columns.XBound(c => c.ReservationNr);
                      columns.XBound(c => c.ReservationName);
                      columns.XBound(c => c.Evb);
                  })
              .XAutoColumnConfiguration()
              .XPageSize(10)
              .XSort(sortOrder => sortOrder.Add(c => c.FinID).Ascending())
         )
    }
</div>
}
else if (isMassenabmeldung)
{
<div id="divPortletFahrzeugauswahl">
    @using (@Html.PortletBox(Localize.Vehicles, "icon-table", "light-grey", false))
    {
        var gridName = "GridFahrzeugAnzeige";
        @(Html.Telerik()
              .Grid<FahrzeugAkteBestand>()
              .Name(gridName)
              .XAjaxDataBinding("FahrzeugAuswahlSelectedAjaxBinding", "Zulassung")
              .Columns(columns =>
                  {
                      columns.XBound(c => c.FinID).Visible(false);
                      columns.XBound(c => c.FIN);
                      columns.XBound(c => c.ZulassungFahrzeugart);
                      columns.XBound(c => c.HandelsName);
                      columns.XBound(c => c.Kennzeichen);
                  })
              .XAutoColumnConfiguration()
              .XPageSize(10)
              .XSort(sortOrder => sortOrder.Add(c => c.FinID).Ascending())
         )
    }
</div>
}
else if (isSchnellabmeldung)
{
<div id="divPortletFahrzeugauswahl">
    @using (@Html.PortletBox(Localize.Vehicles, "icon-table", "light-grey", false))
    {
        var gridName = "GridFahrzeugAnzeige";
        @(Html.Telerik()
              .Grid<FahrzeugAkteBestand>()
              .Name(gridName)
              .XAjaxDataBinding("FahrzeugAuswahlSelectedAjaxBinding", "Zulassung")
              .Columns(columns =>
              {
                  columns.XBound(c => c.FinID).Visible(false);
                  columns.XBound(c => c.FIN);
                  columns.XBound(c => c.Kennzeichen);
                  columns.XBound(c => c.VorhandenesKennzReservieren);
                  columns.XBound(c => c.Halter);
                  columns.XBound(c => c.TuevAu);
                  columns.XBound(c => c.Briefnummer);
              })
              .XAutoColumnConfiguration()
              .XPageSize(10)
              .XSort(sortOrder => sortOrder.Add(c => c.FinID).Ascending())
         )
    }
</div>
}

<script type="text/javascript">
    FormWizardShowHideSaveButton(true);
</script>
