@using CkgDomainLogic.Fahrzeugbestand.Models
@model GeneralSummary

<h4>@Model.Header</h4>

@Html.SpanAlert("WaitHint")

<div class="SummaryItems">
    @foreach (var item in Model.Items)
    {
        <div class="SummaryItem @item.Tag">
            <h5 class="SummaryItemTitle">@item.TitleAsHtml</h5>
    
            <div class="SummaryItemBody">
                @item.BodyAsHtml
            </div>
        </div>
    }
</div>

<div id="divPortletFahrzeugauswahl">
    @using (@Html.PortletBox(Localize.Vehicles, "icon-table", "light-grey", false))
    {
        var gridName = "GridFahrzeugAnzeige";
        @(Html.Telerik()
                .Grid<FahrzeugAkteBestand>()
                .Name(gridName)
                    .XAjaxDataBinding("FahrzeugAuswahlSelectedAjaxBinding", "Zulassung")
                .Columns(columns =>
                {
                    columns.XBound(c => c.FIN);
                    columns.XBound(c => c.FahrzeugArt);
                    columns.XBound(c => c.HandelsName);
                    columns.XBound(c => c.WunschKennz1);
                    columns.XBound(c => c.WunschKennz2);
                    columns.XBound(c => c.WunschKennz3);
                    columns.XBound(c => c.ReservationNr);
                    columns.XBound(c => c.ReservationName);
                    columns.XBound(c => c.Evb);
                })
                .XAutoColumnConfiguration()
                .XPageSize(10)
                .XSort(sortOrder => sortOrder.Add(c => c.FIN).Ascending())
        )
}
</div>

<script type="text/javascript">
    FormWizardShowHideSaveButton(true);
</script>

