@using CkgDomainLogic.Fahrzeugbestand.Models
@model CkgDomainLogic.Autohaus.ViewModels.KroschkeZulassungViewModel

@{
    var twoColumnMode = Model.SummaryHasDocuments;
}

<h4>@Model.ZulassungSummary.Header</h4>

@Html.SpanAlert("WaitHint")

<div class="form-horizontal">

    <div class="row-fluid">

        <div class="@(twoColumnMode ? "span8" : "span12")">
            
            @using (Html.PortletBox("", "icon-table", isCollapsible: false))
            {
                <div class="SummaryItems">
                    @foreach (var item in Model.ZulassungSummary.Items)
                    {
                        <div class="SummaryItem @item.Tag">
                            <h5 class="SummaryItemTitle">@item.TitleAsHtml</h5>
    
                            <div class="SummaryItemBody">
                                @item.BodyAsHtml
                            </div>
                        </div>
                    }
                </div>
            }

        </div>

        @if (twoColumnMode)
        {
            <div class="span4">

                @using (Html.PortletBox(Localize.RequiredDocumentsForRegistration, "icon-file", isCollapsible: false))
                {
                    if (Model.SummaryHasZiPoolDocuments)
                    {
                        @Html.Partial("Partial/ErforderlicheDokumente", Model.ZiPoolDetails.ErforderlicheDokumente)
                    }
                    if (Model.SummaryHasSeparateNecessaryDocuments)
                    {
                        @Html.Partial("Partial/ErforderlicheDokumente", Model.SeparateNecessaryDocuments)
                    }
                }

            </div>
        }

    </div>

</div>

@if (Model.Zulassung.Zulassungsdaten.IsMassenzulassung)
{
<div id="divPortletFahrzeugauswahl">
    @using (@Html.PortletBox(Localize.Vehicles, "icon-table", "light-grey", false))
    {
        var gridName = "GridFahrzeugAnzeige";
        @(Html.Telerik()
              .Grid<FahrzeugAkteBestand>()
              .Name(gridName)
              .XAjaxDataBinding("FahrzeugAuswahlSelectedAjaxBinding", "Zulassung")
              .Columns(columns =>
                  {
                      columns.XBound(c => c.FinID).Visible(false);
                      columns.XBound(c => c.FIN);
                      columns.XBound(c => c.HandelsName);
                      columns.XBound(c => c.Evb);
                      columns.XBound(c => c.WunschKennz1);
                      columns.XBound(c => c.WunschKennz2);
                      columns.XBound(c => c.WunschKennz3);
                      columns.XBound(c => c.ReservationNr);
                      columns.XBound(c => c.ReservationName);
                      columns.XBound(c => c.MindesthaltedauerDays);
                      columns.XBound(c => c.ZulassungFahrzeugart);
                  })
              .XAutoColumnConfiguration()
              .XPageSize(10)
              .XSort(sortOrder => sortOrder.Add(c => c.FinID).Ascending())
         )
    }
</div>
}
else if (Model.Zulassung.Zulassungsdaten.IsMassenabmeldung)
{
<div id="divPortletFahrzeugauswahl">
    @using (@Html.PortletBox(Localize.Vehicles, "icon-table", "light-grey", false))
    {
        var gridName = "GridFahrzeugAnzeige";
        @(Html.Telerik()
              .Grid<FahrzeugAkteBestand>()
              .Name(gridName)
              .XAjaxDataBinding("FahrzeugAuswahlSelectedAjaxBinding", "Zulassung")
              .Columns(columns =>
                  {
                      columns.XBound(c => c.FinID).Visible(false);
                      columns.XBound(c => c.FIN);
                      columns.XBound(c => c.HandelsName);
                      columns.XBound(c => c.Kennzeichen);
                      columns.XBound(c => c.ZulassungFahrzeugart);
                  })
              .XAutoColumnConfiguration()
              .XPageSize(10)
              .XSort(sortOrder => sortOrder.Add(c => c.FinID).Ascending())
         )
    }
</div>
}
else if (Model.Zulassung.Zulassungsdaten.IsSchnellabmeldung)
{
<div id="divPortletFahrzeugauswahl">
    @using (@Html.PortletBox(Localize.Vehicles, "icon-table", "light-grey", false))
    {
        var gridName = "GridFahrzeugAnzeige";
        @(Html.Telerik()
              .Grid<FahrzeugAkteBestand>()
              .Name(gridName)
              .XAjaxDataBinding("FahrzeugAuswahlSelectedAjaxBinding", "Zulassung")
              .Columns(columns =>
              {
                  columns.XBound(c => c.FinID).Visible(false);
                  columns.XBound(c => c.FIN);
                  columns.XBound(c => c.Kennzeichen);
                  columns.XBound(c => c.VorhandenesKennzReservieren);
                  columns.XBound(c => c.Halter);
                  columns.XBound(c => c.TuevAu);
                  columns.XBound(c => c.Briefnummer);
              })
              .XAutoColumnConfiguration()
              .XPageSize(10)
              .XSort(sortOrder => sortOrder.Add(c => c.FinID).Ascending())
         )
    }
</div>
}

<script type="text/javascript">

    FormWizardShowHideSaveButton(true);
    setTimeout(function () { ResizeSummaryContainers(); }, 200);

    $(window).on('resize', function () {
        ResizeSummaryContainers();
    });

</script>
