@using CkgDomainLogic.Autohaus.Models
@model Zulassungsdaten

<style>
    .fontUnderline {
        text-decoration: underline    
    }

    .inputwidth {
        width: 100px;
    }
    
    .inputwidth-large {
        width: 150px;
    }
    
    .inputwidth-small {
        width: 50px;
    }
    
    .blockdisabled {
        background-color: #F0F0F0 !important;
        color: gray !important;
    }
    

    .evb-vers-info {
        margin-top: 5px !important;
        margin-bottom: 0 !important;
        line-height: 20px;
    }
    
    .m-wrap.tiny {
        width: 30px !Important;
    }

    .zulassungsdaten {
        float: left;
        margin: 0!important;
    }

    .zulassungsdaten-required-fields-summary {
        float: none;
        display: table;
        width: 100%;
    }



    .zulassungsdaten .prime-control {
        margin: 20px 0 0 60px !important;
        padding-bottom: 15px!important;
    }

    span.expressversand {
        display: inline-block;
        margin: 0 0 0 10px;
        width: 100px;
        height: 64px;
        background: url(/ServicesMvc/_Themes/AH2015/images/express-versand.png) 0 0 no-repeat;
        padding: 0 0 0 0;
    }

    .control-label.k-header {
        text-align: left;
    }
    .kroschke-evb-control-group-border {
        border: 1px solid #e0e0e0;
        border-radius: 12px!important;
        padding: 10px!important;
        margin-bottom: 20px;
        min-height: 33px;
    }
    .kroschke-evb-control-group-border .control-group {
        margin-bottom: 0 !important;
    }
    .kroschke-evb-control-group {
        margin-bottom: 0!important;
    }
    .kroschke-evb-control-group .control-label {
        padding-top: 24px;
    }
    .kroschke-evb-control-group .controls {
        padding-top: 20px;
    }
    .kroschke-evb {
        background: url(/ServicesMvc/_Themes/AH2015/images/kroschke-evb.png) 55px 0px no-repeat;
        height: 53px;
    }

    #evb-info {
        display: block;
        min-height: 48px;
        vertical-align: middle;
        margin: 5px 0 0 0 !important;
        border: 0 !important;
        border-radius: 10px !important;
    }
    #evb-info i {
        display: table-cell;
        vertical-align: middle;
        width: 48px;
        height: 48px;
        background: 0 0 no-repeat;
    }
    #evb-info.alert-warning i {
        background: url(/ServicesMvc/images/icons/48x48/delete.png) 0 0 no-repeat;
    }
    #evb-info.alert-success i {
        background: url(/ServicesMvc/images/icons/48x48/ok.png) 0 0 no-repeat;
    }
    #evb-info div {
        display: table-cell;
        vertical-align: middle;
        padding-left: 10px;
    }

    #hint-versandzulassung {
        display: block;
        vertical-align: middle;
        margin: 0 0 0 0 !important;
        border: 0 !important;
        border-radius: 10px !important;
    }
    #hint-versandzulassung i {
        display: table-cell;
        vertical-align: middle;
        width: 48px;
        height: 48px;
        background: 0 0 no-repeat;
    }
    #hint-versandzulassung.alert-success i {
        background: url(/ServicesMvc/images/icons/48x48/ok.png) 0 0 no-repeat;
    }
    #hint-versandzulassung div {
        display: table-cell;
        vertical-align: middle;
        padding-left: 10px;
    }


</style>

<script type="text/javascript">
    _modelIsValid = @Model.IsValid.ToString().ToLower();
    
    var _selectedItemsCount = 0;
    
    function SetEvb(finId, evb, tagObj) { 
        $.ajax({
            type: "POST",
            url: "SetEvb",
            data: { finId: finId, evb: evb.toUpperCase() },
            loadingShow: false,
            success: function(result) {
                    
                // Etwaige Error-Markierungen entfernen...
                $('#validationErrorEvb').remove();
                $(tagObj).closest(".control-group").removeClass("error");
                $(tagObj).removeClass("input-validation-error");
                    
                // wenn fin = null, dann wurde für jedes Fahrzeug soeben die selbe evb vergeben. Dies jetzt noch visualisieren...
                if (result.ok == true && finId == "") {
                    $('.editevb').val(evb);
                    $('#GridFahrzeugAuswahlZulassung .editevb').removeClass("input-validation-error");
                }

                if (result.ok == false) {
                    $(tagObj).closest(".control-group").addClass("error");
                    $(tagObj).addClass("input-validation-error");
                    $(tagObj).after("<span id='validationErrorEvb' class='help-inline'>" + result.message + "</span>");
                }
            }
        });
    }
    
    function SetZulassungskreis(zulassungskreis) {
        $.ajax({
            type: "POST",
            url: "SetKreisAll",
            data: { zulassungskreis: zulassungskreis },
            loadingShow: false,
            success: function (result) {
                if (result.ok == true) {
                    $('.editkennz').val(zulassungskreis + "-");
                }
                if (result.ok == false) {
                    alert(result.message);
                }
            }
        });
    }

    
    function AjaxFormZulassungsdatenComplete() {
        FormPrepareAjax();

        if (_modelIsValid) {
            AjaxRequestNextStep();
            return;
        }
    }   

    $(function () {
        $('#Zulassungskreis').off('change').on('change').change(function() {
            var zulassungskreis = $(this).val();
            SetZulassungskreis(zulassungskreis);
        });  
        
        InitEvbVersInfo("EvbNr", "evb-info"); // Anzeige der Versichererdaten gem. EVB

        EvbTest();
    });

    function EvbTest() {
        var group = $("#EvbNr").closest(".control-group");
        var label = group.find(".control-label");

        group.addClass("kroschke-evb-control-group");
        label.addClass("kroschke-evb");
    }

    function UpdateAnzahlAbmeldungen() {
        var anzAbm = $("#AnzahlAbmeldungen").val();

        $.ajax({
            type: "POST",
            url: "UpdateAnzahlAbmeldungen",
            data: { anzAbmeldungen: anzAbm },
            loadingShow: false,
            success: function (result) {
                if (result.ok == true) {
                    var grid = $("#GridFahrzeugAuswahlAbmeldung").data("tGrid");
                    grid.ajaxRequest();
                }
                if (result.ok == false) {
                    alert(result.message);
                }
            }
        });

        return false;
    }

    function SetFinValue_Textbox(gridname, classselector, toupper) {
        $(document).off('change', classselector);
        $(document).on('change', classselector, function () {            // Auswirkung auf ein Fahrzeug
            var tr = $(this).closest('tr');
            var grid = $("#" + gridname).data("tGrid");
            var dataItem = grid.dataItem(tr);
            var finId = dataItem["FinID"];
            var field = $(this).data('fieldname');
            var value = $(this).val();
            if (toupper == true) {
                value = value.toUpperCase();
            }
            SetFinValue(finId, field, value);
        });
    }

    @if (Model.IsMassenzulassung || Model.IsMassenabmeldung || Model.IsSchnellabmeldung)
    {
        <text>
            $(function () {
                $("#EvbNr").off('change').on('change').change(function () {     // Auswirkung auf alle Fahrzeuge
                    var tagObj = $(this);
                    var evb = $(this).val();
                    SetEvb("", evb, tagObj);
                });

                $(document).off('change', '.editevb');
                $(document).on('change', '.editevb', function () {              // Auswirkung auf ein Fahrzeug
                    var tagObj = $(this);
                    var evb = $(this).val();
                    var tr = $(this).closest('tr');
                    var grid = $("#GridFahrzeugAuswahlZulassung").data("tGrid");
                    var dataItem = grid.dataItem(tr);
                    var finId = dataItem["FinID"];
                    SetEvb(finId, evb, tagObj);
                });
        
                // Kennzeichenänderung bei Massenzulassung
                SetFinValue_Textbox("GridFahrzeugAuswahlZulassung", '.editkennz', true);
        
                // Kennzeichenänderung bei Massen-/Schnellabmeldung
                SetFinValue_Textbox("GridFahrzeugAuswahlAbmeldung", '.editkennzabm', true);
        
                // "Vorhandenes Kennzeichen reservieren"-Checkbox bei Massen-/Schnellabmeldung
                $(document).off('change', '.editkennzres');
                $(document).on('change', '.editkennzres', function () {            // Auswirkung auf ein Fahrzeug
                    var tr = $(this).closest('tr');
                    var grid = $("#GridFahrzeugAuswahlAbmeldung").data("tGrid");
                    var dataItem = grid.dataItem(tr);
                    var finId = dataItem["FinID"];
                    var field = $(this).data('fieldname');
                    var value = $(this).prop('checked');
                    SetFinValue(finId, field, value);
                });

                // Kennzeichenänderung bei Massenabmeldung
                $(document).off('focus', '.blockwk');
                $(document).on('focus', '.blockwk', function () {     
                    var tr = $(this).closest('tr');
                    tr.find('.blockrk').addClass('blockdisabled');
                    tr.find('.blockwk').removeClass('blockdisabled');
                });
                $(document).off('focus', '.blockrk');
                $(document).on('focus', '.blockrk', function () {    
                    var tr = $(this).closest('tr');
                    tr.find('.blockrk').removeClass('blockdisabled');
                    tr.find('.blockwk').addClass('blockdisabled');
                });

                // FIN-Änderung bei Schnellabmeldung
                SetFinValue_Textbox("GridFahrzeugAuswahlAbmeldung", '.editfinabm', true);

                // Halteränderung bei Schnellabmeldung
                SetFinValue_Textbox("GridFahrzeugAuswahlAbmeldung", '.edithalterabm', false);

                // TÜV/AU-Änderung bei Schnellabmeldung
                SetFinValue_Textbox("GridFahrzeugAuswahlAbmeldung", '.edittuevauabm', false);

                // Briefnummer-Änderung bei Schnellabmeldung
                SetFinValue_Textbox("GridFahrzeugAuswahlAbmeldung", '.editbriefnummerabm', false);

                $(document).off('keypress', '.edittuevauabm');
                $(document).on('keypress', '.edittuevauabm', function (e) {    
                    return NumbersOnly(e, false);
                });
        });      
          
        function OnRowDataBound_GridFahrzeugAuswahlZulassung(e) {
        var fin = e.dataItem.FIN;
        var resKennz = e.dataItem.ResKennz;
        var reservationNr = e.dataItem.ReservationNr;
        var reservationName = e.dataItem.ReservationName;
        if (resKennz || reservationNr || reservationName) {
            $('#WunschKennz1_' + fin).addClass('blockdisabled');
            $('#WunschKennz2_' + fin).addClass('blockdisabled');
            $('#WunschKennz3_' + fin).addClass('blockdisabled');
            $('#ResKennz_' + fin).removeClass('blockdisabled');
            $('#ReservationNr_' + fin).removeClass('blockdisabled');
            $('#ReservationName_' + fin).removeClass('blockdisabled');
        }
    }           
        
        </text>
    }

    ShowHideMindesthaltedauer();    // 20150528 MMA
    ShowHideWunschkennzeichenUrl(); // 20150602 MMA

    setTimeout(function() {
        ZulassungskreisOnChange();
    }, 100);
</script>

<div id="DivZulassungsdaten" class="margin-top-20">
    @using (Ajax.BeginForm("ZulassungsdatenForm", "Zulassung", null,
            new MvcAjaxOptions { UpdateTargetId = "DivZulassungsdaten", OnComplete = "AjaxFormZulassungsdatenComplete();" },
                htmlAttributes: new { @class = "form-horizontal label-width-250", id = "AjaxFormZulassungsdaten" }))
    {
        @Html.FormValidationSummary()
        @Html.HiddenFor(m => m.IsMassenzulassung)
        @Html.HiddenFor(m => m.IsMassenabmeldung)
        @Html.HiddenFor(m => m.ModusAbmeldung)
        @Html.HiddenFor(m => m.ModusVersandzulassung)
        @Html.HiddenFor(m => m.ModusSonderzulassung)
        @Html.HiddenFor(m => m.ZulassungskreisBezeichnung)
        @Html.HiddenFor(m => m.WunschkennzeichenReservierenUrl) 
        @Html.HiddenFor(m => m.ZulassungsartAutomatischErmitteln) 
        @Html.HiddenFor(m => m.Versandzulassung) 
        @Html.HiddenFor(m => m.ExpressversandMoeglich)
        @Html.HiddenFor(m => m.IsSchnellabmeldung)
        @Html.HiddenFor(m => m.AnzahlAbmeldungenAenderbar)

        if (Model.ModusAbmeldung)
        {
            @Html.Partial("Partial/ZulassungsdatenFormAbmeldung", Model)
        }
        else
        {
            @Html.Partial("Partial/ZulassungsdatenFormAnmeldung", Model)
        }

        <div class="zulassungsdaten-required-fields-summary">
            @Html.FormRequiredFieldsSummary()
        </div>

    }
</div>
