@using CkgDomainLogic.Autohaus.Models
@model Zulassungsdaten
@{
    var materialList = (List<Material>)ViewData["MaterialList"];
}

<style>
    .fontUnderline {
        text-decoration: underline    
    }
</style>

<div id="DivZulassungsdaten" class="margin-top-20">
    @using (Ajax.BeginForm("ZulassungsdatenForm", "Zulassung", null,
                new MvcAjaxOptions { UpdateTargetId = "DivZulassungsdaten", OnComplete = "AjaxFormZulassungsdatenComplete();" },
                    htmlAttributes: new { @class = "form-horizontal label-width-175", id = "AjaxFormZulassungsdaten" }))
    {
        @Html.FormValidationSummary()

        
        @Html.HiddenFor(m => m.ModusAbmeldung)
        @Html.HiddenFor(m => m.ZulassungskreisBezeichnung)

        if (Model.ModusAbmeldung)
        {
            @Html.HiddenFor(m => m.ZulassungsartMatNr)
            @Html.FormDatePickerFor(m => m.Abmeldedatum, new { @class = "m-wrap small" })
            @Html.HiddenFor(m => m.Zulassungskreis)

            @Html.FormTextBoxFor(m => m.Kennzeichen, new { @class = "m-wrap medium uppercase", @onkeypress = "return CleanUpKennzeichen();", col = "left" })
            @Html.FormCheckBoxFor(m => m.VorhandenesKennzeichenReservieren, new { @class = "m-wrap", col = "right" }, labelHidden: true)
        }
        else
        {
            @*@Html.FormDropDownListFor(m => m.ZulassungsartMatNr, materialList.ToSelectList(), new { @class = "m-wrap medium" })*@
            @Html.FormDropDownListFor(m => m.ZulassungsartMatNr, materialList.ToSelectList(), new { @class = "m-wrap medium", onchange = "ShowHideMindesthaltedauer()", col = "left" })
            @Html.FormTextBoxFor(m => m.MindesthaltedauerDays, new { @class = "m-wrap small uppercase", col = "right", maxlength = 7 }) // 20150528 
        
            @Html.FormDatePickerFor(m => m.Zulassungsdatum, new { @class = "m-wrap small" })

            @Html.FormTextBoxFor(m => m.Zulassungskreis, new { @class = "m-wrap xsmall uppercase", @onchange = "return ZulassungskreisOnChange();" },
                                postControlHtml: @<text>
                                                        <a href="#" onclick="return LoadKfzKreisAusHalterAdresse()" class="btn white mini margin-left-10 margin-right-20"><i class="icon-chevron-left margin-right-5"></i> @Localize.LoadDistrictFromOwnerAddress</a>
                                                        @Html.SpanAlert("kfzKreisHint")
                                                    </text>)

            @Html.FormTextBoxFor(m => m.EvbNr, new { @class = "m-wrap small uppercase", maxlength = 7 })

            <div id="divWkzLink" class="">
                <a id="LinkWunschkennzeichen" href="@Model.WunschkennzeichenReservierenUrl" target="_blank" class=" white margin-left-10 margin-right-20 margin-bottom-10 fontBold fontUnderline"><i class="margin-right-5"></i> Kennzeichen reservieren?</a>
            </div>

            @Html.FormTextBoxFor(m => m.Kennzeichen, new { @class = "m-wrap medium uppercase", @onkeypress = "return CleanUpKennzeichen();", col = "left" })
            @Html.FormCheckBoxFor(m => m.KennzeichenReserviert, new { @class = "m-wrap", onchange = "CheckKennzeichenReserviert()", col = "right" }, labelHidden: true)
        
            @Html.FormTextBoxFor(m => m.Wunschkennzeichen2, new { @class = "m-wrap medium uppercase", @onkeypress = "return CleanUpKennzeichen();", col = "left" })
            @Html.FormTextBoxFor(m => m.ReservierungsName, new { @class = "m-wrap medium", col = "right" })
        
            @Html.FormTextBoxFor(m => m.Wunschkennzeichen3, new { @class = "m-wrap medium uppercase", @onkeypress = "return CleanUpKennzeichen();", col = "left" })
            @Html.FormTextBoxFor(m => m.ReservierungsNr, new { @class = "m-wrap medium", col = "right" })
        }

                
        @Html.FormRequiredFieldsSummary()
        
    }
</div>
<script type="text/javascript">
            
    _modelIsValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
            
    CheckKennzeichenReserviert();

    ShowHideMindesthaltedauer();    // 20150528 MMA
    ShowHideWunschkennzeichenUrl(); // 20150602 MMA
            
    // MMA ITA8083
    function ShowHideMindesthaltedauer() {
        var controlGroup = $("#MindesthaltedauerDays").closest(".control-group");
        var id = $('#ZulassungsartMatNr').val();
        if (id == "000000000000000619") {           //  Firmeneigene Zulassung
            $("#MindesthaltedauerDays").val("0");   
            controlGroup.show();
        } else {                
            $("#MindesthaltedauerDays").val("");
            controlGroup.hide();
        }
    }

    // MMA ITA8083
    function ShowHideWunschkennzeichenUrl() {
        // alert("ShowHide: " + $('#LinkWunschkennzeichen').attr('href'));
        var url = $('#LinkWunschkennzeichen').attr('href');
        
        if (url == undefined || url == '') {
            $('#divWkzLink').hide();
        } else {
            $('#divWkzLink').show();
        }
    }

</script>
