@using CkgDomainLogic.Autohaus.Models
@using CkgDomainLogic.Fahrzeugbestand.Models
@model Zulassungsdaten

<style>
    .fontUnderline {
        text-decoration: underline    
    }

    .inputwidth {
        width: 100px;
    }
</style>

<script>
    _modelIsValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
    
    var _selectedItemsCount = 0;
    
    CheckKennzeichenReserviert();
    
    function SetEvb(fin, evb, tagObj) { 
        $.ajax({
            type: "POST",
            url: "SetEvb",
            data: { fin: fin, evb: evb.toUpperCase() },
            loadingShow: false,
            success: function(result) {
                    
                // Etwaige Error-Markierungen entfernen...
                $('#validationErrorEvb').remove();
                $(tagObj).closest(".control-group").removeClass("error");
                $(tagObj).removeClass("input-validation-error");
                    
                // wenn fin = null, dann wurde für jedes Fahrzeug soeben die selbe evb vergeben. Dies jetzt noch visualisieren...
                if (result.ok == true && fin == "") {
                    $('.editevb').val(evb);
                    $('#GridFahrzeugAuswahlZulassung .editevb').removeClass("input-validation-error");
                }

                if (result.ok == false) {
                    $(tagObj).closest(".control-group").addClass("error");
                    $(tagObj).addClass("input-validation-error");
                    $(tagObj).after("<span id='validationErrorEvb' class='help-inline'>" + result.message + "</span>");
                }
            }
        });
    }
    
    function SetZulassungskreis(zulassungskreis) {
        $.ajax({
            type: "POST",
            url: "SetKreisAll",
            data: { zulassungskreis: zulassungskreis },
            loadingShow: false,
            success: function (result) {
                if (result.ok == true) {
                    $('.editkennz').val(zulassungskreis + "-");
                }
                if (result.ok == false) {
                    alert(result.message);
                }
            }
        });
    }

    function SetFinValue(fin, field, value) {
        $.ajax({
                type: "POST",
                url: "SetFinValue",
                data: { fin: fin, field: field, value: value },
                loadingShow: false,
                success: function (result) {
                    if (result.ok == true) {
                    }
                    if (result.ok == false) {
                        alert(result.message);
                    }
                }
            });
    }
    
    function AjaxFormZulassungsdatenComplete() {
        FormPrepareAjax();

        if (_modelIsValid) {
            AjaxRequestNextStep();
            return;
        }
    }   

    $(function () {
        $('#Zulassungskreis').off('change').on('change').change(function() {
            var zulassungskreis = $(this).val();
            SetZulassungskreis(zulassungskreis);
        });        
    });

    @if (Model.IsMassenzulassung || Model.IsMassenabmeldung)
    {
        <text>
            $(function () {
                $("#EvbNr").off('change').on('change').change(function () {     // Auswirkung auf alle Fahrzeuge
                    var tagObj = $(this);
                    var evb = $(this).val();
                    SetEvb("", evb, tagObj);
                });

                $(document).off('change', '.editevb');
                $(document).on('change', '.editevb', function () {              // Auswirkung auf ein Fahrzeug                    
                    var tagObj = $(this);
                    var evb = $(this).val();
                    var tr = $(this).closest('tr');
                    var grid = $("#GridFahrzeugAuswahlZulassung").data("tGrid");
                    var dataItem = grid.dataItem(tr);
                    var fin = dataItem["FIN"];
                    SetEvb(fin, evb, tagObj);
                });
        
                // Kennzeichenänderung bei Massenzulassung
                $(document).off('change', '.editkennz');
                $(document).on('change', '.editkennz', function () {            // Auswirkung auf ein Fahrzeug
                    var tr = $(this).closest('tr');
                    var grid = $("#GridFahrzeugAuswahlZulassung").data("tGrid");
                    var dataItem = grid.dataItem(tr);
                    var fin = dataItem["FIN"];
                    var field = $(this).data('fieldname');
                    var wkennz = $(this).val();
                    SetFinValue(fin, field, wkennz.toUpperCase());
                });
        
                // Kennzeichenänderung bei Massenabmeldung
                $(document).off('change', '.editkennzabm');
                $(document).on('change', '.editkennzabm', function () {            // Auswirkung auf ein Fahrzeug
                    var tr = $(this).closest('tr');
                    var grid = $("#GridFahrzeugAuswahlAbmeldung").data("tGrid");
                    var dataItem = grid.dataItem(tr);
                    var fin = dataItem["FIN"];
                    var field = $(this).data('fieldname');
                    var wkennz = $(this).val();
                    SetFinValue(fin, field, wkennz.toUpperCase());
                });
        
                // "Vorhandenes Kennzeichen reservieren"-Checkbox bei Massenabmeldung
                $(document).off('change', '.editkennzres');
                $(document).on('change', '.editkennzres', function () {            // Auswirkung auf ein Fahrzeug
                    var tr = $(this).closest('tr');
                    var grid = $("#GridFahrzeugAuswahlAbmeldung").data("tGrid");
                    var dataItem = grid.dataItem(tr);
                    var fin = dataItem["FIN"];
                    var field = $(this).data('fieldname');
                    var value = $(this).prop('checked');
                    SetFinValue(fin, field, value);
                });
        });
        </text>
    }

    CheckKennzeichenReserviert();
    ShowHideMindesthaltedauer();    // 20150528 MMA
    ShowHideWunschkennzeichenUrl(); // 20150602 MMA
</script>

<div id="DivZulassungsdaten" class="margin-top-20">
    @using (Ajax.BeginForm("ZulassungsdatenForm", "Zulassung", null,
            new MvcAjaxOptions { UpdateTargetId = "DivZulassungsdaten", OnComplete = "AjaxFormZulassungsdatenComplete();" },
                htmlAttributes: new { @class = "form-horizontal label-width-175", id = "AjaxFormZulassungsdaten" }))
    {
        @Html.FormValidationSummary()
        @Html.HiddenFor(m => m.IsMassenzulassung)
        @Html.HiddenFor(m => m.IsMassenabmeldung)
        @Html.HiddenFor(m => m.ModusAbmeldung)
        @Html.HiddenFor(m => m.ModusVersandzulassung)
        @Html.HiddenFor(m => m.ZulassungskreisBezeichnung)
        @Html.HiddenFor(m => m.WunschkennzeichenReservierenUrl) 

        if (Model.ModusAbmeldung)
        {
            @Html.Partial("Partial/ZulassungsdatenFormAbmeldung", Model)
        }
        else
        {
            @Html.Partial("Partial/ZulassungsdatenFormAnmeldung", Model)
        }
                
        @Html.FormRequiredFieldsSummary()
        
    }
</div>
