@using CkgDomainLogic.Admin.Models
@model AppBatchZuordnungSelektor

<div id="divAppZuordnungenSuche">
    @using (Ajax.BeginForm("LoadAppZuordnungen", "AppBatchZuordnung", null,
        new MvcAjaxOptions("divAppZuordnungenSuche") { OnComplete = "ShowAppZuordnungen();" }, new { id = "AppZuordnungenForm" }))
    {    
        <div class="form-horizontal" id="searchForm">
            
            @Html.FormValidationSummary()


            @Html.FormDropDownListFor(m => m.SelectedAppId, AppBatchZuordnungSelektor.AppList.ToSelectList(), new { @class = "m-wrap" })


            @Html.FormRequiredFieldsSummary()

            <div class="form-actions">
                <button type="submit" class="btn blue"><i class='icon-search margin-right-10'></i>@Localize.SearchAsVerb</button>
            </div>
        </div>  
        
        <script type="text/javascript">
            _modelStateValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
        </script>
    }
</div>