@model CkgDomainLogic.KroschkeZulassung.ViewModels.KroschkeZulassungViewModel

@Html.Partial("Partial/Common")

<div class="page-title">
    @Localize.KroschkeZulassung  <small></small>
    @Html.Partial("ShoppingCart/Menu")
</div>
@Html.Partial("ShoppingCart/Common")


<div class="portlet app-view hidden-on-shopping-cart-opened">
    
    @Html.FormWizard("icon-file", "", Model.StepFriendlyNames, Model.StepKeys)

    <div id="formWizardTab1" class="hide">
        @Html.Partial("Partial/" + Model.FirstStepPartialViewName)
    </div>
</div>



