@model CkgDomainLogic.Autohaus.ViewModels.AutohausZulassungViewModel

<h3 class="page-title">@Localize.Autohaus_Zulassung  <small></small></h3>

<div class="portlet app-view beauftragung">
    
    @Html.FormWizard("icon-file", "", Model.StepFriendlyNames, Model.StepKeys)

    <div id="formWizardTab1" class="hide">
        @Html.Partial("Zulassung/" + Model.FirstStepPartialViewName)
    </div>
</div>

@Html.HiddenFor(m => m.FreieZulassungsOption.FahrzeugID)

@Html.Partial("Zulassung/Partial/Common")


