@using CkgDomainLogic.Fahrzeuge.ViewModels
@model CarporterfassungViewModel

<h3 class="page-title" id="headerTitle">@Localize.Fahrzeuge_Carporterfassung<small></small></h3>

@Html.SpanAlert("Message")

<div id="divCarporterfassungEdit">
    @Html.Partial("Carporterfassung/FahrzeugerfassungForm", Model.AktuellesFahrzeug)
</div>

<div id="divCarporterfassungGrid">
</div>

<script type="text/javascript">

    function FormPreparePrivate() {
        $("#Kennzeichen").focus();
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
    }

    function GetGrid() {
        return $("#GridCarporterfassung").data("tGrid");
    }

    function GridLoadingHide() {
        // needed for chrome browser: Explicitely hide grids loading icon on multiple subsequent grid ajax requests (because of filter control initializing)
        setTimeout('$("#GridCarporterfassungItems .t-grid-pager .t-status .t-icon").removeClass("t-loading")', 500);
    }

    function GridRefresh() {
        GetGrid().ajaxRequest();
    }

    function OnDataBound_GridCarporterfassung() {
        FilteredData_Grid_OnDataBound($(this));
        $('.tooltips').tooltip();
    }

    function OnColumnShowHide_GridCarporterfassung() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_GridCarporterfassung() {
        FilteredData_Grid_OnColumnReorder($(this));
    }

    function AjaxFormFahrzeugerfassungComplete() {
        FormPreparePrivateAjax();
        
        if (_modelIsValid) {
            SpanAlertSuccess("Message", '@Localize.SaveSuccessful.ToJavascriptString()', 10000);
            NeuesFahrzeugErfassen(false);
            setTimeout('$("#Kennzeichen").focus();', 500);
        }
    }

    function LoadFahrzeugdaten(kennzeichen, bestandsnummer, fin) {
        $.ajax(
        {
            type: "POST",
            url: "LoadFahrzeugdaten",
            data: { kennzeichen: kennzeichen, bestandsnummer: bestandsnummer, fin: fin },
            loadingShow: true,
            success: function (result) {
                FormPreparePrivateAjax();

                if (result.Status != "") {
                    SpanAlertWarning("Message", '@Localize.VehicleDataCouldNotBeRetrieved.ToJavascriptString() (' + result.Status + ')', 10000);
                    return;
                }

                $("#Kennzeichen").val(result.Kennzeichen);
                $("#FahrgestellNr").val(result.FahrgestellNr);
                $("#AuftragsNr").val(result.AuftragsNr);
                $("#MvaNr").val(result.MvaNr);
                $("#CarportName").val(result.CarportName);
                $("#Carport").val(result.Carport);
                $("#Status").val(result.Status);
                SpanAlertSuccess("Message", '@Localize.VehicleDataSuccessfullyRetrieved.ToJavascriptString()', 10000);
            }
        });
    }
    
    function LoadFahrzeugdatenZuKennzeichen() {
        var kennzeichen = $("#Kennzeichen").val();
        LoadFahrzeugdaten(kennzeichen, "", "");
    }

    function LoadFahrzeugdatenZuBestandsnummer() {
        var bestandsnummer = $("#MvaNr").val();
        LoadFahrzeugdaten("", bestandsnummer, "");
    }

    function LoadFahrzeugdatenZuFin() {
        var fin = $("#FahrgestellNr").val();
        LoadFahrzeugdaten("", "", fin);
    }

    function ListeAnzeigen() {
        $.ajax(
        {
            type: "POST",
            url: "ListeAnzeigen",
            loadingShow: true,
            success: function (result) {
                ShowGrid(result);
            }
        });
    }

    function FahrzeugBearbeiten(kennzeichen) {
        $.ajax(
        {
            type: "POST",
            url: "FahrzeugBearbeiten",
            loadingShow: true,
            data: { kennzeichen: kennzeichen },
            success: function (result) {
                ShowEdit(result);
            }
        });
    }

    function NeuesFahrzeugErfassen(clearList) {
        $.ajax(
        {
            type: "POST",
            url: "NeuesFahrzeugErfassen",
            loadingShow: true,
            data: { clearList: clearList },
            success: function (result) {
                ShowEdit(result);
            }
        });
    }

    function ShowGrid(result) {      
        $("#divCarporterfassungEdit").slideUp();
        $("#divCarporterfassungGrid").html(result);
        GridAllColumnFilterApplyToGrid("GridCarporterfassung");
        $("#divCarporterfassungGrid").slideDown();
        setTimeout('LoadingHide();', 500);
        window.scrollTo(0, 0);
    }

    function ShowEdit(result) {
        _kennzeichenAlt = "";
        $("#divCarporterfassungGrid").slideUp();
        $("#divCarporterfassungEdit").html(result);
        $("#divCarporterfassungEdit").slideDown();
        setTimeout('LoadingHide();', 500);
        FormPreparePrivateAjax();
        window.scrollTo(0, 0);
    }

    function FahrzeugeSpeichern() {
        $.ajax(
        {
            type: "POST",
            url: "FahrzeugeSpeichern",
            loadingShow: true,
            success: function (result) {
                SpanAlertWarning("Message", '@Localize.SaveSuccessful.ToJavascriptString()', 10000);
                ShowGrid(result);
            }
        });
    }

</script>
