@using CkgDomainLogic.Fahrzeuge.ViewModels
@using CkgDomainLogic.Fahrzeuge.Models
@model FahrzeugvoravisierungViewModel

<h3 class="page-title" id="headerTitle"> @Localize.Fahrzeug_Voravisierung</h3>
            

@using (Html.FormSearchBox())
{    
   @Html.Partial("Fahrzeugvoravisierung/FahrzeugvoravisierungSuche", @Model.FahrzeugvoravisierungSelektor)
}

<h3><small>Excel Upload</small></h3>

<div id="divExcelUpload" class="portlet app-view">
       
    @Html.FormWizard("icon-arrow-up", "", new[] { "Excel Datei hochladen", "Fertig!" })

    <div id="formWizardTab1" class="hide">      
        @Html.Partial("Fahrzeugvoravisierung/ExcelUpload/FileUpload")                                                                                   
    </div>

</div>


<script type="text/javascript">

        var _formWizardForceHideSubmitButton = false;
       
        function FormPreparePrivate() {
            LoadingHide();
            FormWizardInitPrivate();
        }

        function FormPreparePrivateAjax() {
            FormPrepareAjax();
            $(".t-status").hide();
        }

        function OnSubmitComplete() {
            if ($(":radio[value=volkswagen]").is(':checked')) {
                $("#DownloadCsvTemplateVW").removeClass('hide');
                $("#DownloadCsvTemplateOthers").addClass('hide');
            } else {
                $("#DownloadCsvTemplateVW").addClass('hide');
                $("#DownloadCsvTemplateOthers").removeClass('hide');
            }
           
            FormPreparePrivateAjax();
        }

        function FormWizardInitPrivate() {
            FormWizard.Init(function () {
                FormWizard.ActionsShow(false);
            });

            //        FormWizard.OnNext(function (step, maxSteps) {
            //            alert(_formWizardForceHideSubmitButton);
            //            if (step == 2 && _formWizardForceHideSubmitButton)
            //                FormWizard.ButtonSubmitShow(false);
            //            return true;
            //        });

            FormWizard.OnPrev(function (step, maxSteps) {
                if (step == 1)
                    FormWizard.ActionsShow(false);
                return true;
            });

            FormWizard.OnSubmit(function () {
                SubmitUpload();
            });

            FormWizard.OnRestart(function () {
                //alert('Ok, let´s restart! :)');
                LocationReloadWithoutQueryString();
            });
        }


        function UploadStart(e) {

            //$("#FahrzeugvoravisierungAuswahlForm").submit();
            // clear only the UI of our Upload Control:
            //$(this).children(".t-upload-files").remove();

            // because we are uploading in async mode, our "e.files" collection always has exact 1 entry:
            var fileName = e.files[0].name;

            if (fileName.toLowerCase().indexOf('.xls') <= 0) {
                alert('Bitte nur XLS-Dateien hochladen!');
                return false;
            }

            LoadingShow();

            return true;
        }

        function UploadFinished(e) {

            // clear only the UI of our Upload Control:
            $(this).children(".t-upload-files").remove();

            if (!e.response.success) {
                alert(e.response.message);
                return;
            }

            ShowGrid(false);
        }

        function UploadError(e) {
            e.preventDefault();
            alert('Fehler: Es gab ein Problem beim verarbeiten Ihrer Datei! Bitte prüfen Sie die Herstelleroption');
        }

        function ShowGrid() {
            $.ajax({
                type: "POST",
                url: "ExcelUploadAvisierungShowGrid",
                data: { showErrorsOnly: false },
                loadingShow: true,
                success: function (result) {
                    if (typeof (result.message) !== "undefined") {
                        alert(result.message);
                        return;
                    }
                    FormWizard.SetTabHtml(2, result);
                    FormPreparePrivateAjax();
                    FormWizard.ButtonNextInvoke();

                    GridAllColumnFilterApplyToGrid("FahrzeugvoravisierungGrid");

                    if (_formWizardForceHideSubmitButton)
                        FormWizard.ButtonSubmitShow(false);
                }
            });
        }
       
        function FilterGrid(showErrorsOnly) {
            $.ajax({
                type: "POST",
                url: "ExcelUploadAvisierungShowGrid",
                data: { showErrorsOnly: showErrorsOnly },
                loadingShow: true,
                success: function (result) {
                    FormWizard.SetTabHtml(2, result);
                    FormPreparePrivateAjax();
                }
            });
        }

        function UploadItemsShowErrorsOnlyChanged(cb) {
            FilterGrid(cb.is(':checked'));
            if (cb.is(':checked'))
                FormWizard.ButtonSubmitShow(cb.is(':checked') == false);
        }

        function SubmitUpload() {
            $.ajax({
                type: "POST",
                url: "ExcelUploadAvisierungSubmit",
                loadingShow: true,
                success: function (result) {
                    if (typeof (result.message) !== "undefined") {
                        alert(result.message);
                        return;
                    }
                    FormWizard.SetTabHtml(3, result);
                    FormPreparePrivateAjax();
                    FormWizard.ButtonNextInvoke();
                }
            });
        }

        /*
        
        // wird evtl. nicht gebraucht (Tests abwarten)

        function FahrzeugvoravisierungGrid_OnSelectionChange(cb) {

        Grid_FormatMultiRowSelected(cb);

        $.ajax({
        type: "POST",
        url: "FahrzeugAuswahlAvisierungSelectionChanged",
        data: { fin: cb.val(), isChecked: cb.is(':checked') },
        loadingShow: false,
        success: function (result) {
        var count = result.allSelectionCount;
        FahrzeugvoravisierungGrid_MultiSelectUpdate(result.allSelectionCount);
        //alert(result.itemsWithoutErrorOnly);
        FormWizard.ButtonSubmitShow(result.itemsWithoutErrorOnly == 0 && count > 0);
        }
        });
        }

        function FahrzeugvoravisierungGrid_OnAllSelectionChange(check) {
        $.ajax({
        type: "POST",
        url: "FahrzeugAuswahlAvisierungSelectionChanged",
        data: { fin: "", isChecked: check },
        loadingShow: true,
        success: function (result) {
        var count = result.allSelectionCount;
        FahrzeugvoravisierungGrid_MultiSelectUpdate(result.allSelectionCount);

        FilterGrid("FahrzeugvoravisierungGrid");
        }
        });
        }

        function FahrzeugvoravisierungGrid_MultiSelectUpdate(count) {
        if (count == 0) {
        // $("#FahrzeugAuswahlCount").addClass('hide');
        $("#uncheckAllRecords").attr("checked", false);
        $.uniform.update($("#uncheckAllRecords"));
        return;
        }

        $("#uncheckAllRecords").attr("checked", true);
        $.uniform.update($("#uncheckAllRecords"));
        //alert(count);
        }

        */

    function OnColumnReorder_FahrzeugvoravisierungGrid() {
        FilteredData_Grid_OnColumnReorder($(this));
    }
   
    function OnColumnShowHide_FahrzeugvoravisierungGrid() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }
   
    function OnDataBound_FahrzeugvoravisierungGrid() {
        FilteredData_Grid_OnDataBound($(this));
        jQuery('.tooltips').tooltip();
        LoadingHide();
    }
   
    function OnRowDataBound_FahrzeugvoravisierungGrid(e) {
        var hasError = e.dataItem["ValidationErrors"];

        if (hasError)
            $(e.row).addClass((e.row.sectionRowIndex % 2 == 0) ? "t-grid-error" : "t-grid-error-alt");
    }


</script>
