@using CkgDomainLogic.Fahrzeugbestand.Models
@model FahrzeugAkteBestandSelektor

<div id="divFahrzeugAkteBestandSuche">
    @using (Ajax.BeginForm("LoadFahrzeugAkteBestand", "Fahrzeugbestand", null,
        new MvcAjaxOptions("divFahrzeugAkteBestandSuche") { OnComplete = "TryShowFahrzeugAkteBestandGrid();" }, new { id = "FahrzeugAkteBestandSearchForm" }))
    {    
        <div class="form-horizontal">
            
            @Html.FormValidationSummary()

            @Html.HiddenFor(m => m.TmpSelectionKey)
            @Html.HiddenFor(m => m.TmpSelectionType)

            @Html.FormTextBoxFor(m => m.FIN, new { @class = "m-wrap uppercase", col = "left" })
            @Html.FormTextBoxFor(m => m.KundenReferenz, new { @class = "m-wrap", col = "right" })

            @Html.HiddenFor(m => m.Halter)
            @Html.HiddenFor(m => m.Kaeufer)
            @Html.FormTextBoxFor(m => m.HalterName, new { @class = "m-wrap responsive-control-shrink-100", col = "left", @readonly = "readonly" },
                postControlHtml: @<text>
                                     <a href="#" onclick="return AjaxFormAdressenShowGrid('Halter')" class="btn tooltips margin-left-5" data-original-title='@Localize.SelectCarOwnerAddress' data-placement='right'><i class="icon-search"></i></a>
                                     <a href="#" onclick="GridHalterAdresseOnSelect('ALLE')" class="btn tooltips margin-left-5" data-original-title='@Localize.ResetSelection' data-placement='right'><i class="icon-remove"></i></a>
                                  </text>)
            @Html.FormTextBoxFor(m => m.KaeuferName, new { @class = "m-wrap responsive-control-shrink-100", col = "right", @readonly = "readonly" },
                postControlHtml: @<text>
                                     <a href="#" onclick="return AjaxFormAdressenShowGrid('Kaeufer')" class="btn tooltips margin-left-5" data-original-title='@Localize.SelectBuyerAddress' data-placement='right'><i class="icon-search"></i></a>
                                     <a href="#" onclick="GridKaeuferAdresseOnSelect('ALLE')" class="btn tooltips margin-left-5" data-original-title='@Localize.ResetSelection' data-placement='right'><i class="icon-remove"></i></a>
                                  </text>)

            @Html.FormDropDownListFor(m => m.BriefbestandsInfo, FahrzeugAkteBestand.BriefbestandsInfoOptionen.ToSelectList(), new { @class = "m-wrap", col = "left" })
            @Html.FormTextBoxFor(m => m.BriefLagerort, new { @class = "m-wrap", col = "right" })
                    
            @Html.FormTextBoxFor(m => m.FahrzeugStandort, new { @class = "m-wrap", col = "left" })
            @Html.FormDatePickerFor(m => m.ErstZulassungsgDatum, new { @class = "m-wrap small", col = "right" })
                    
            @Html.FormDatePickerFor(m => m.ZulassungsgDatumAktuell, new { @class = "m-wrap small", col = "left" })
            @Html.FormDatePickerFor(m => m.AbmeldeDatum, new { @class = "m-wrap small", col = "right" })
                    
            @Html.FormTextBoxFor(m => m.Kennzeichen, new { @class = "m-wrap small", col = "left" })
            @Html.FormTextBoxFor(m => m.Briefnummer, new { @class = "m-wrap", col = "right" })
                    
            @Html.FormCheckBoxFor(m => m.CocVorhanden, new { @class = "m-wrap" }, labelHidden: true, postControlHtml: @<text><label class="checkbox">@Localize.CocAvailable</label></text>)


            @*@Html.FormRequiredFieldsSummary()*@

            <div class="form-actions">
                <button type="submit" class='btn blue'><i class='icon-search margin-right-10'></i>@Localize.SearchAsVerb</button>
            </div>
        </div>

        <script type="text/javascript">
            _modelStateValid = @Model.IsValid.ToString().ToLower();
            $("#TmpSelectionKey").val("");
            $("#TmpSelectionType").val("");
        </script>
    }
</div>

