@using CkgDomainLogic.Fahrzeugbestand.Models
@model FahrzeugAkteBestand

<div id="divFahrzeugDetails">
    @using (Ajax.BeginForm("UpdateFahrzeugDetails", "Fahrzeugbestand", null,
        new MvcAjaxOptions("divFahrzeugDetails") { OnComplete = "TryCloseFahrzeugDetails();" }, new { id = "FahrzeugDetailsForm" }))
    {    
        @Html.FormValidationSummary()
            
        @Html.HiddenFor(m => m.FinID)
        @Html.HiddenFor(m => m.IsSelected)


        @Html.FormTextBoxFor(m => m.FIN, new { @class = "m-wrap uppercase", col = "left" })
        @Html.FormTextBoxFor(m => m.KundenReferenz, new { @class = "m-wrap", col = "right" })

        @Html.FormDropDownListFor(m => m.FahrzeugArt, FahrzeugAkteBestand.FahrzeugArtOptionen.ToSelectList(), new { @class = "m-wrap", col = "left" })
        @Html.FormDropDownListFor(m => m.VerkaufsSparte, FahrzeugAkteBestand.VerkaufsSpartenOptionen.ToSelectList(), new { @class = "m-wrap", col = "right" })

        @Html.FormTextBoxFor(m => m.FahrzeugNummer, new { @class = "m-wrap", col = "left" })
        @Html.FormTextBoxFor(m => m.AuftragsNummer, new { @class = "m-wrap", col = "right" })
                
        @Html.FormTextBoxFor(m => m.FirmenReferenz1, new { @class = "m-wrap", col = "left" })
        @Html.FormTextBoxFor(m => m.FirmenReferenz2, new { @class = "m-wrap", col = "right" })

        @Html.HiddenFor(m => m.Halter)
        @Html.FormTemplateControl(Localize.Holder,
                @<text>
                    <a id="h-dropdown" class="btn white" onclick="return PickPartnerAddress('HALTER');">
                        <i class="icon-chevron-right margin-right-10"></i> 
                        <span id="h-dropdown-text" class="p-dropdown">@Model.SelectedHalter.GetAutoSelectString()</span>
                    </a>
                </text>, new { @class = "m-wrap", col = "left3" })                

        @Html.HiddenFor(m => m.Kaeufer)
        @Html.FormTemplateControl(Localize.Buyer,
                @<text>
                    <a id="k-dropdown" class="btn white" onclick="return PickPartnerAddress('KAEUFER');">
                        <i class="icon-chevron-right margin-right-10"></i> 
                        <span id="k-dropdown-text" class="p-dropdown">@Model.SelectedKaeufer.GetAutoSelectString()</span>
                    </a>
                </text>, new { @class = "m-wrap", col = "middle3" })

        @Html.HiddenFor(m => m.ZahlerKfzSteuer)
        @Html.FormTemplateControl(Localize.CarTaxPayer,
                @<text>
                    <a id="z-dropdown" class="btn white" onclick="return PickPartnerAddress('ZAHLERKFZSTEUER');">
                        <i class="icon-chevron-right margin-right-10"></i> 
                        <span id="z-dropdown-text" class="p-dropdown">@Model.SelectedZahlerKfzSteuer.GetAutoSelectString()</span>
                    </a>
                </text>, new { @class = "m-wrap", col = "right3" })

        @Html.FormDropDownListFor(m => m.BriefbestandsInfo, FahrzeugAkteBestand.BriefbestandsInfoOptionen.ToSelectList(), new { @class = "m-wrap", col = "left" })
        @Html.FormTextBoxFor(m => m.BriefLagerort, new { @class = "m-wrap", col = "right" })
                    
        @Html.FormTextBoxFor(m => m.FahrzeugStandort, new { @class = "m-wrap", col = "left" })
        @Html.FormDatePickerFor(m => m.ErstZulassungsgDatum, new { @class = "m-wrap small", col = "right" })
                    
        @Html.FormDatePickerFor(m => m.ZulassungsgDatumAktuell, new { @class = "m-wrap small", col = "left" })
        @Html.FormDatePickerFor(m => m.AbmeldeDatum, new { @class = "m-wrap small", col = "right" })
                    
        @Html.FormTextBoxFor(m => m.Kennzeichen, new { @class = "m-wrap small", col = "left" })
        @Html.FormTextBoxFor(m => m.Briefnummer, new { @class = "m-wrap", col = "right" })
                    
        @Html.FormCheckBoxFor(m => m.CocVorhanden, new { @class = "m-wrap", col = "left" }, labelHidden: true, postControlHtml: @<text><label class="checkbox">@Localize.CocAvailable</label></text>)
        @Html.FormTextAreaFor(m => m.Bemerkung, new { @class = "m-wrap", col = "right" }, rows: 2)

        @Html.FormTextBoxFor(m => m.HerstellerSchluessel, new { @class = "m-wrap small", col = "left" })
        @Html.FormTextBoxFor(m => m.TypSchluessel, new { @class = "m-wrap small uppercase", col = "right" })

        @Html.FormTextBoxFor(m => m.VvsSchluessel, new { @class = "m-wrap small", col = "left" })
        @Html.FormTextBoxFor(m => m.VvsPruefZiffer, new { @class = "m-wrap small", col = "right" })

        @Html.FormTextBoxFor(m => m.FabrikName, new { @class = "m-wrap medium", col = "left" })
        @Html.FormTextBoxFor(m => m.HandelsName, new { @class = "m-wrap medium", col = "right" })

        
        @Html.FormRequiredFieldsSummary()

        <div class="form-actions">
            <button type="submit" class='btn blue'><i class='icon-ok margin-right-10'></i><span>@(string.IsNullOrEmpty(Model.FinID) ? Localize.VehicleCreate : Localize.Save)</span></button>
            <button type="button" onclick="CloseFahrzeugDetails();" class='btn'><i class='halflings-icon remove margin-right-10'></i>@Localize.Cancel</button>

            <button type="button" onclick="ToggleFzgAkte();" class='hide btn purple margin-left-50'><i class='icon-search margin-right-10'></i>@Localize.Temporary</button>
        </div>
        
        <script type="text/javascript">
            _modelStateValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();

            InitCheckTypDaten();
        </script>
    }
</div>

