@model CkgDomainLogic.Uebfuehrg.Models.DienstleistungsAuswahl  

<div id="@Ajax.AutoFormWrapperDivID(Model.UiIndex)" class="margin-top-20">
    @using (Ajax.AutoForm(Model, "Uebfuehrg", Model.UiIndex))
    {
        @Html.FormValidationSummary(excludePropertyErrors: false)
        
        <div id="dienstleistungen-wrapper-@Model.UiIndex" class="dienstleistungen-wrapper-uebfuehrg">

            @Html.HiddenFor(m => m.UiIndex)
            @Html.HiddenFor(m => m.GewaehlteDienstleistungenString)
            @Html.HiddenFor(m => m.FahrtTyp)
            @Html.HiddenFor(m => m.FahrtIndex)

            <div class="dienstleistungen-header">
                <span class="header-left">Verfügbare Dienstleistungen</span>
                <span class="header-right">Gewählte Dienstleistungen</span>
            </div>

            <select multiple id="pre-selected-options-@Model.UiIndex" class="multiselect hide" name="pre-selected-options-(@Model.UiIndex)[]">
                @foreach (var dienstleistung in Model.AvailableDienstleistungen)
                {
                    <option value="@dienstleistung.ID" @dienstleistung.SelectedAsString>@dienstleistung.Name</option>
                }
            </select>
        
            <div class="bemerkungen">
                @Html.HiddenFor(m => m.Bemerkungen.FahrtIndex)
                @Html.FormTextAreaFor(m => m.Bemerkungen.Bemerkung, new { @class = "m-wrap medium" })
            </div>
        </div>


        <script type="text/javascript">

            _modelIsValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();

            MultiSelectPreparePrivate();

            function MultiSelectPreparePrivate() {
                $('#pre-selected-options-@Model.UiIndex').multiSelect();

                if (_multiSelectTwoRowMode) {
                    var headerSpanToMove = $(".dienstleistungen-header span.header-right");
                    var clone = headerSpanToMove.clone();
                    headerSpanToMove.hide();
                    $(".ms-container .ms-selection").prepend($("<div></div>").addClass("dienstleistungen-header").addClass("dienstleistungen-selected").html(clone));
                }

                $('#ms-pre-selected-options-@Model.UiIndex > .ms-selectable > .ms-list > li').each(function () {
                    if (_multiSelectTwoRowMode) 
                        $(this).prepend('<span class="dienstleistung-nicht-gewaehlt-checkbox">&nbsp;</span>');
                    else
                        $(this).append('<i class="icon-chevron-right"></i>');
                });
                $('#ms-pre-selected-options-@Model.UiIndex > .ms-selection > .ms-list > li').each(function () {
                    $(this).prepend('<i class="icon-ok dienstleistung-gewaehlt"></i>');
                    $(this).append('<i class="icon-remove"></i>');
                });
                $('#ms-pre-selected-options-@Model.UiIndex').removeClass('hide');

                $('#pre-selected-options-@Model.UiIndex').change(function() {
                    var selectedOptions = '';
                    $('#dienstleistungen-wrapper-@Model.UiIndex .ms-selection > .ms-list > .ms-selected').each(function () {
                        selectedOptions += (selectedOptions != '' ? ',' : '') + $(this).attr('id').replace(/-selection/, '');
                    });

                    //console.log($("#dienstleistungen-wrapper-@Model.UiIndex").attr("class"));
                    var hiddenInputGewaehlteDienstleistungenString = $("#dienstleistungen-wrapper-@Model.UiIndex").find("input[name=GewaehlteDienstleistungenString]");
                    //console.log("is: " + hiddenInputGewaehlteDienstleistungenString.val());
                    //console.log("wanted: " + selectedOptions);
                    hiddenInputGewaehlteDienstleistungenString.val(selectedOptions);
                });

                CheckRequiredDienstleistungsAuswahl();
            }
            
            function CheckRequiredDienstleistungsAuswahl() {
                $(".validation-summary-errors ul li").each(function(index, elem) {
                    var validationMessage = $(elem).text();
                    var splits = validationMessage.split("'");
                    if (splits.length < 2)
                        return;
                    
                    var requredDienstleistungsName = splits[1];
                    $(".ms-elem-selectable span").each(function(index2, elem2) {
                        if ($(elem2).text() == requredDienstleistungsName) {
                            $(elem2).addClass("required");
                            $(elem2).scrollIntoView({ ofsetY: 30, duration: '1500' });
                        }
                    });
                });
            }

        </script>
    }
</div>