@model CkgDomainLogic.Uebfuehrg.Models.DienstleistungsAuswahl  

<div id="@Ajax.AutoFormWrapperDivID(Model.UiIndex)" class="margin-top-20">
    @using (Ajax.AutoForm(Model, "Uebfuehrg", Model.UiIndex))
    {
        @Html.FormValidationSummary(excludePropertyErrors: false)
        
        <div id="dienstleistungen-wrapper-@Model.UiIndex" class="dienstleistungen-wrapper-uebfuehrg">

            @Html.HiddenFor(m => m.UiIndex)
            @Html.HiddenFor(m => m.GewaehlteDienstleistungenString)
            @Html.HiddenFor(m => m.FahrtTyp)
            @Html.HiddenFor(m => m.FahrtIndex)

            <div class="dienstleistungen-header">
                <span class="header-left">Verfügbare Dienstleistungen</span>
                <span class="header-right">Gewählte Dienstleistungen</span>
            </div>

            <select multiple id="pre-selected-options-@Model.UiIndex" class="multiselect hide" name="pre-selected-options-(@Model.UiIndex)[]">
                @foreach (var dienstleistung in Model.AvailableDienstleistungen)
                {
                    <option value="@dienstleistung.ID" @dienstleistung.SelectedAsString>@dienstleistung.Name</option>
                }
            </select>

            <div class="bemerkungen">
                @Html.HiddenFor(m => m.Bemerkungen.FahrtIndex)
                @Html.FormTextAreaFor(m => m.Bemerkungen.Bemerkung, new {@class = "m-wrap medium"})
            </div>

            <div class="dienstleistungen-header">
                <span class="header-left">Protokolle</span>
            </div>

            <div class="margin-top-15">
                @Html.Partial("Partial/ProtokollUpload", Model.UploadProtokolle)
            </div>
        </div>


        <script type="text/javascript">

            _modelIsValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();

            MultiSelectPreparePrivate();

            function MultiSelectPreparePrivate() {
                $('#pre-selected-options-@Model.UiIndex').multiSelect();

                $('#ms-pre-selected-options-@Model.UiIndex > .ms-selectable > .ms-list > li').each(function () {
                    $(this).append('<i class="icon-chevron-right"></i>');
                });
                $('#ms-pre-selected-options-@Model.UiIndex > .ms-selection > .ms-list > li').each(function () {
                    $(this).prepend('<i class="icon-ok dienstleistung-gewaehlt"></i>');
                    $(this).append('<i class="icon-remove"></i>');
                });
                $('#ms-pre-selected-options-@Model.UiIndex').removeClass('hide');

                $('#pre-selected-options-@Model.UiIndex').change(function() {
                    var selectedOptions = '';
                    $('#dienstleistungen-wrapper-@Model.UiIndex .ms-selection > .ms-list > .ms-selected').each(function () {
                        selectedOptions += (selectedOptions != '' ? ',' : '') + $(this).attr('id').replace(/-selection/, '');
                    });

                    //console.log($("#dienstleistungen-wrapper-@Model.UiIndex").attr("class"));
                    var hiddenInputGewaehlteDienstleistungenString = $("#dienstleistungen-wrapper-@Model.UiIndex").find("input[name=GewaehlteDienstleistungenString]");
                    //console.log("is: " + hiddenInputGewaehlteDienstleistungenString.val());
                    //console.log("wanted: " + selectedOptions);
                    hiddenInputGewaehlteDienstleistungenString.val(selectedOptions);
                });

                CheckRequiredDienstleistungsAuswahl();
            }
            
            function CheckRequiredDienstleistungsAuswahl() {
                $(".validation-summary-errors ul li").each(function(index, elem) {
                    var validationMessage = $(elem).text();
                    var splits = validationMessage.split("'");
                    if (splits.length < 2)
                        return;
                    
                    var requredDienstleistungsName = splits[1];
                    $(".ms-elem-selectable span").each(function(index2, elem2) {
                        if ($(elem2).text() == requredDienstleistungsName) {
                            $(elem2).addClass("required");
                            $(elem2).scrollIntoView({ ofsetY: 30, duration: '1500' });
                        }
                    });
                });
            }

            function UploadStart(e) {

                // because we are uploading in async mode, our "e.files" collection always has exact 1 entry:
                var fileName = e.files[0].name;

                if (fileName.toLowerCase().indexOf('.pdf') <= 0) {
                    alert('@Localize.FileUploadOnlyPdfLegal');
                    return false;
                }

                LoadingShow();

                return true;
            }

            function UploadFinished(e) {
                setTimeout("LoadingHide()", 1000);

                // clear only the UI of our Upload Control:
                $(this).children(".t-upload-files").remove();

                if (!e.response.success) {
                    alert(e.response.message);
                    return;
                }

                var protokollArt = e.response.uploadProtokollArt;
                $("#Dateiname_" + protokollArt).text(e.response.uploadFileName);
                $("#Dateiname_" + protokollArt).removeClass("hide");
                $("#spanUpload_" + protokollArt).addClass("hide");
                $("#btnRemoveProtokoll_" + protokollArt).removeClass("hide");
            }

            function UploadError(e) {
                e.preventDefault();
                setTimeout("LoadingHide()", 1000);
                alert('@Localize.ErrorFileCouldNotBeSaved');
            }

            function RemoveProtokoll(protokollArt)
            {
                $.ajax(
                {
                    type: "POST",
                    url: "RemoveProtokoll",
                    loadingShow: false,
                    data: { protokollArt: protokollArt },
                    success: function () {
                        $("#Dateiname_" + protokollArt).text("");
                        $("#Dateiname_" + protokollArt).addClass("hide");
                        $("#spanUpload_" + protokollArt).removeClass("hide");
                        $("#btnRemoveProtokoll_" + protokollArt).addClass("hide");
                    }
                });
            }

        </script>
    }
</div>