@model CkgDomainLogic.Uebfuehrg.Models.Fahrzeug 

<div id="Div_@Model.UiIndex" class="margin-top-20">
    @using (Ajax.BeginForm(@Model.GetType().Name + "Form", "Uebfuehrg", null,
                new MvcAjaxOptions { UpdateTargetId = "Div_" + Model.UiIndex, OnComplete = "AjaxFormComplete();" },
                    htmlAttributes: new { @class = "form-horizontal", id = "AjaxForm" + Model.UiIndex }))
    {
        <div class="margin-bottom-15">@Model.Header</div>

        <div class="margin-bottom-15">@Model.GetType().FullName</div>

        <div class="margin-bottom-15">Fahrzeug Index: @Model.FahrzeugIndex</div>

        <div class="margin-bottom-15">Autofahren ist nervig...</div>

        
        @Html.FormValidationSummary()
        
        @Html.HiddenFor(m => m.UiIndex)

        @Html.FormTextBoxFor(m => m.FIN, new { @class = "m-wrap medium" })

        @Html.FormTextBoxFor(m => m.Fahrzeugklasse, new { @class = "m-wrap medium" })

                
        @Html.FormRequiredFieldsSummary()
        
        
        <script type="text/javascript">

            _modelIsValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
        
        </script>
    }
</div>
