@model CkgDomainLogic.Uebfuehrg.Models.RgDaten 

<div id="@Ajax.AutoFormWrapperDivID(Model.UiIndex)" class="margin-top-20">
    @using (Ajax.AutoForm(Model, "Uebfuehrg", Model.UiIndex))
    {
        @Html.HiddenFor(m => m.UiIndex)

        @Html.FormValidationSummary()

        @Html.FormDropDownListFor(m => m.RgKundenNr, Model.RgAdressen.ToSelectList(), new { @class = "m-wrap large" })
        @Html.FormDropDownListFor(m => m.ReKundenNr, Model.ReAdressen.ToSelectList(), new { @class = "m-wrap large" })
        
        @Html.FormRequiredFieldsSummary()
        
        
        <script type="text/javascript">

            _modelIsValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();

            $("#RgKundenNr").on("change", function() {
                var matchingRgItems = $.grep($("#ReKundenNr option"), function (item, index) {
                    return ($(item).val() == $("#RgKundenNr").val());
                });
                if (matchingRgItems.length > 0)
                    // only if RE values contains the selected RG value, set default RE dropdown value to RG value
                    $("#ReKundenNr").val($("#RgKundenNr").val());
                }
            );
        
        </script>
    }
</div>