@model CkgDomainLogic.DomainCommon.Models.CommonSummary 

<div id="@Ajax.AutoFormWrapperDivID(Model.UiIndex)" class="margin-top-20">
    @using (Ajax.AutoForm(Model, "Uebfuehrg", Model.UiIndex))
    {
        <h4>@Model.Header</h4>

        <div class="SummaryItems">
            @foreach (var item in Model.Items)
            {
                <div class="SummaryItem @item.Tag">
                    <h5 class="SummaryItemTitle">@item.TitleAsHtml</h5>
    
                    <div class="SummaryItemBody">
                        @item.BodyAsHtml
                    </div>
                </div>
            }
        </div>        

        <script type="text/javascript">
            _modelIsValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
        </script>
    }
</div>