@model CkgDomainLogic.Zulassung.MobileErfassung.Models.UiModels.Passwortaenderung

@section Header {
    <h1>ZLD Mobile - Kennwort ändern</h1>
    <div>
        <input type="button" data-inline="true" data-mini="true" data-icon="home" onclick="location.href='@Url.Action("Selection", "Home")'" value="zurück zum Hauptmenü" />
        @Html.Partial("Partial/_LoginPartial")
    </div>
}

<h2>@ViewBag.Message</h2>

@using (Html.BeginForm("PasswortAendern", "Login", FormMethod.Post, new { data_ajax = "false" }))
{
    @Html.ValidationSummary()

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider" class="CenterAlignedText">Kennwort ändern</li>

        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.AltesPasswort)
            @Html.PasswordFor(m => m.AltesPasswort)            
        </li>
        
        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.NeuesPasswort)
            @Html.PasswordFor(m => m.NeuesPasswort)            
        </li>
        
        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.NeuesPasswortConfirm)
            @Html.PasswordFor(m => m.NeuesPasswortConfirm)            
        </li>

        <li>
            <input type="submit" value="Speichern"/>
        </li>
    </ul>
}

@Html.Partial("Partial/_ChangePasswordScripts")