@model CkgDomainLogic.Autohaus.Models.StatusverfolgungDetails

<style>

    .dd-handle {
        cursor: auto !important;
    }
    
    .datetimecolumn {
        width: 140px;
    }
    
</style>

<div class="form-horizontal">

    <h4 class="form-section">@Localize.Registration</h4>

    <h5>
        <i class="icon-road"></i>
        <span class="margin-left-10 margin-right-5 bold">@Localize.Customer</span>@Model.Zulassungsdaten.KundenNrAndName
        <span class="margin-left-10 margin-right-5 bold">@Localize.ReceiptNo</span>@Model.Zulassungsdaten.BelegNummer
        <span class="margin-left-10 margin-right-5 bold">@Localize.CarOwner</span> @Model.Zulassungsdaten.Referenz1
        <span class="margin-left-10 margin-right-5 bold">@Localize.VIN</span> @Model.Zulassungsdaten.Referenz2
        <span class="margin-left-10 margin-right-5 bold">@Localize.LicenseNo</span> @Model.Zulassungsdaten.Kennzeichen
    </h5>

    <h4 class="form-section">@Localize.Status</h4>

    @Html.FormValidationSummary()

    <div class="row-fluid">

        <div class="span1">
        </div>

        @foreach (var item in Model.Statusverfolgungsdaten)
        {
            <div class="span2">
                @Html.Partial("StatusverfolgungZulassungStatusItem", item)
            </div>
        }

        <div class="span1">
        </div>

    </div>

    <div class="row-fluid margin-top-10">

        <div class="span12">

            <ul class="dd-list">
    
                @foreach (var item in Model.Statusverfolgungsdaten.Where(s => s.IsCompleted))
                {
                    <li class="dd-item @(item.IsFailed ? "bg-color-ckg-lightred" : "")">
                        <div class="dd-handle">
                            <table>
                                <tr>
                                    <td class="datetimecolumn">
                                        <b>@item.StatusDatumUhrzeitFormatted</b>
                                    </td>
                                    <td>
                                        <span class="margin-left-10">@item.StatusText</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </li>
                }

                @if (Model.AktuellerStatusCode.In("S,L"))
                {
                    <li class="dd-item">
                        <div class="dd-handle">
                            <table>
                                <tr>
                                    <td class="datetimecolumn">
                                        <b>@Model.AktuellerStatusDatumUhrzeitFormatted</b>
                                    </td>
                                    <td>
                                        <span class="margin-left-10">@Model.AktuellerStatusText</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </li>
                }

            </ul>

        </div>

    </div>

    <div class="form-actions">            
        <button type="button" class="btn" onclick="CloseDetails();">@Localize.Close</button>
    </div>  

</div>
