@model CkgDomainLogic.DomainCommon.ViewModels.GridAdminViewModel

<div class="form-horizontal" id="CustomerUserSelectionDiv">
    
    <div class="row-fluid">
        <div class="span4">

            <div class="control-group">
                <label class="control-label">@Localize.Customer @Html.RequiredIndicator("")</label>
                <div class="controls">
                    <select id="customer-dropdown" class="m-wrap medium select2">
                        @foreach (var customer in Model.Customers)
                        {
                            <option value="@customer.CustomerID">@customer.Customername</option>
                        }
                    </select>
                </div>
            </div>    
        
        </div>    
        <div class="span4">
            
            <div id="user-control-group" class="control-group hide">
                <label class="control-label">@Localize.User</label>
                <div class="controls">
                    <select id="user-dropdown" class="m-wrap medium select2">
                    </select>
                </div>
            </div>    

        </div>
    </div>

    @Html.SpanAlert("message")

    @Html.FormRequiredFieldsSummary()

    <div class="form-actions hide">
        <button class='btn blue'><i class='icon-chevron-right margin-right-5'></i>@Localize.Continue</button>
    </div>

</div>