@model CkgDomainLogic.DomainCommon.ViewModels.GridAdminViewModel

<div id="divGridColumnTranslations" class="margin-bottom-10">
    @using (Ajax.BeginForm("EditGridColumnTranslations", "GridAdmin", null,
        new MvcAjaxOptions("divGridColumnTranslations") { OnComplete = "GridColumnTranslationsComplete();" }, new { id = "GridColumnTranslationsForm" }))
    {    
        <div class="form-horizontal" id="searchForm">
            
            @Html.FormValidationSummary()
            
            
            @Html.HiddenFor(m => m.CurrentTranslatedResource.Resource)
            @Html.HiddenFor(m => m.TmpDeleteCustomerTranslation)
            
            
            <div class="divider">Default</div>

            @Html.FormTextBoxFor(m => m.CurrentTranslatedResource.de, new { @class = "m-wrap medium", col = "left" })
            @Html.FormTextBoxFor(m => m.CurrentTranslatedResource.de_kurz, new { @class = "m-wrap small", col = "right" })

            @Html.FormTextBoxFor(m => m.CurrentTranslatedResource.en, new { @class = "m-wrap medium", col = "left" })
            @Html.FormTextBoxFor(m => m.CurrentTranslatedResource.en_kurz, new { @class = "m-wrap small", col = "right" })

            @Html.FormTextBoxFor(m => m.CurrentTranslatedResource.fr, new { @class = "m-wrap medium", col = "left" })
            @Html.FormTextBoxFor(m => m.CurrentTranslatedResource.fr_kurz, new { @class = "m-wrap small", col = "right" })


            <div class="divider">
                Kundenbezogen, für Kunde @Model.CurrentTranslatedResourceCustomer.CustomerID 
                
                @if (Model.CurrentTranslatedResourceCustomer.de.IsNotNullOrEmpty())
                {
                    <button onclick="return GridColumnTranslationsFormDeletCustomerTranslation()" class="btn mini red margin-left-10 tooltips" data-original-title="Diese kundenbezogene Übersetzung löschen!" data-placement="right">
                        <i class="icon-remove"></i> @Localize.Delete
                    </button>
                }
            </div>

            @Html.HiddenFor(m => m.CurrentTranslatedResourceCustomer.Resource)
            @Html.HiddenFor(m => m.CurrentTranslatedResourceCustomer.CustomerID)

            @Html.FormTextBoxFor(m => m.CurrentTranslatedResourceCustomer.de, new { @class = "m-wrap medium", col = "left" })
            @Html.FormTextBoxFor(m => m.CurrentTranslatedResourceCustomer.de_kurz, new { @class = "m-wrap small", col = "right" })

            @Html.FormTextBoxFor(m => m.CurrentTranslatedResourceCustomer.en, new { @class = "m-wrap medium", col = "left" })
            @Html.FormTextBoxFor(m => m.CurrentTranslatedResourceCustomer.en_kurz, new { @class = "m-wrap small", col = "right" })

            @Html.FormTextBoxFor(m => m.CurrentTranslatedResourceCustomer.fr, new { @class = "m-wrap medium", col = "left" })
            @Html.FormTextBoxFor(m => m.CurrentTranslatedResourceCustomer.fr_kurz, new { @class = "m-wrap small", col = "right" })
            

            @Html.FormRequiredFieldsSummary() <span class="margin-left-25">Translation-Key: <strong>@Model.CurrentTranslatedResource.Resource</strong></span>

            <div class="form-actions">
                <button type="submit" class='btn blue'><i class='icon-save margin-right-5'></i>@Localize.Save</button>
                <button onclick="return GridColumnTranslationsCancel()" class='btn grey'><i class='icon-remove margin-right-5'></i>@Localize.Cancel</button>
            </div>
        </div>  
        
        <script type="text/javascript">
            _modelStateGridColumnTranslationValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();

            GridColumnTranslationsFormPrepare();
        </script>
    }
</div>