@using CkgDomainLogic.Partner.Models
@model PartnerSelektor

<div id="divPartnerSuche">
    @using (Ajax.BeginForm("LoadPartners", "Partner", null,
        new MvcAjaxOptions("divPartnerSuche") { OnComplete = "TryShowPartnerGrid();" }, new { id = "PartnerSearchForm" }))
    {    
        <div class="form-horizontal">
            
            @Html.FormValidationSummary()
            
            @if (!String.IsNullOrEmpty(Model.Kunnr))
            {
                @Html.FormTextBoxFor(m => m.Kunnr, new { @class = "m-wrap" })
            }

            @Html.FormRadioButtonListFor(m => m.PartnerKennung, PartnerSelektor.PartnerKennungen, new { @class = "m-wrap" })

            <div class="form-actions">
                <button type="submit" id="btnPartnerSuche" class='btn blue'><i class='icon-search margin-right-10'></i>@Localize.SearchAsVerb</button>
            </div>
        </div>  
        
        <script type="text/javascript">
            _modelStateValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
            _partnerKennungLocalized = '@Model.PartnerKennungLocalized';
        </script>
    }
</div>




