@using CkgDomainLogic.Insurance.ViewModels
@model SchadenakteDocsViewModel

<div id="divSchadenakteDocsGrid">
    @Html.Partial("Schadenakte/Partial/Dokumente/SchadenakteDocsGrid")
</div>

<div id="divSchadenakteDocEdit"></div>

<div id="divDocCategoriesGrid" class="margin-right-30"></div>

<div id="divDocCategoryEdit"></div>

<script type="text/javascript" >

    // Dokumente
    function GetSchadenakteDocsGrid() {
        return $("#SchadenakteDocsGrid").data("tGrid");
    }

    function SchadenakteDocsLoadingHide() {
        // needed for chrome browser: Explicitely hide grids loading icon on multiple subsequent grid ajax requests (because of filter control initializing)
        setTimeout('$("#SchadenakteDocsGridItems .t-grid-pager .t-status .t-icon").removeClass("t-loading")', 500);
    }

    function OnDataBound_SchadenakteDocsGrid() {
        FilteredData_Grid_OnDataBound($(this));
        $('.tooltips').tooltip();
    }

    function OnColumnShowHide_SchadenakteDocsGrid() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_SchadenakteDocsGrid() {
        FilteredData_Grid_OnColumnReorder($(this));
    }

    function SchadenakteDocRemove(id) {
        var message = '@Localize.DocumentDoYouReallyWantToDelete.ToJavascriptString()';

        if (!confirm(message)) {
            return;
        }

        $.ajax({
            type: "POST",
            url: "DeleteSchadenakteDoc",
            data: { id: id.toString() },
            loadingShow: true,
            success: function (data) {
                var success = data["Success"];
                var message = data["Message"];
                if (success == true) {
                    SpanAlertSuccess("spanAlertSchadenverwaltung", message, 1800);
                    TrySchadenakteDocsGridRefresh();
                } else {
                    SpanAlertError("spanAlertSchadenverwaltung", message, 5000);
                }
            },
            error: function (result) {
                SpanAlertWarning("spanAlertSchadenverwaltung", result.data, 5000);
            }
        });
    }

    function SchadenakteDocEdit(id) {
        $.ajax({
            type: "POST",
            url: "ShowSchadenakteDocEdit",
            data: { id: id.toString() },
            loadingShow: true,
            success: function (result) {
                ShowSchadenakteDocEdit(result);
            },
            error: function (result) {
                SpanAlertWarning("spanAlertSchadenverwaltung", result.data, 5000);
            }
        });
    }

    function SchadenakteDocCreate() {
        $.ajax({
            type: "POST",
            url: "CreateSchadenakteDoc",
            data: { },
            loadingShow: true,
            success: function (result) {
                ShowSchadenakteDocEdit(result);
            },
            error: function (result) {
                SpanAlertWarning("spanAlertSchadenverwaltung", result.data, 5000);
            }
        });
    }

    function ShowSchadenakteDocEdit(result) {
        $("#divSchadenakteDocEdit").html(result);
        $("#divSchadenakteDocsGrid").slideUp();
        $("#divSchadenakteDocEdit").slideDown();

        FormPreparePrivateAjax();
        BreadcrumbsMoveNext("@Localize.Edit");
        TabsEnable(false);
    }

    function CloseSchadenakteDocEdit() {
        $("#divSchadenakteDocEdit").slideUp(function () {
            $("#divSchadenakteDocsGrid").delay(200).show();
            window.scrollTo(0, 0);
            BreadcrumbsMovePrev();
            TabsEnable(true);
        });
        TrySchadenakteDocsGridRefresh();
    }

    function TrySchadenakteDocsGridRefresh() {
        // Refresh grid only
        if (typeof (GetSchadenakteDocsGrid()) !== "undefined") {
            GetSchadenakteDocsGrid().ajaxRequest();
        }
    }

    // Kategorien
    function GetDocCategoriesGrid() {
        return $("#DocCategoriesGrid").data("tGrid");
    }

    function DocCategoriesLoadingHide() {
        // needed for chrome browser: Explicitely hide grids loading icon on multiple subsequent grid ajax requests (because of filter control initializing)
        setTimeout('$("#DocCategoriesGridItems .t-grid-pager .t-status .t-icon").removeClass("t-loading")', 500);
    }

    function OnDataBound_DocCategoriesGrid() {
        FilteredData_Grid_OnDataBound($(this));
        $('.tooltips').tooltip();
    }

    function OnColumnShowHide_DocCategoriesGrid() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_DocCategoriesGrid() {
        FilteredData_Grid_OnColumnReorder($(this));
    }

    function DocCategoryRemove(id) {
        var message = '@Localize.DocumentDoYouReallyWantToDelete.ToJavascriptString()';

        if (!confirm(message)) {
            return;
        }

        $.ajax({
            type: "POST",
            url: "DeleteDocCategory",
            data: { id: id.toString() },
            loadingShow: true,
            success: function (data) {
                var success = data["Success"];
                var message = data["Message"];
                if (success == true) {
                    SpanAlertSuccess("spanAlertSchadenverwaltung", message, 1800);
                    TryDocCategoriesGridRefresh();
                } else {
                    SpanAlertError("spanAlertSchadenverwaltung", message, 5000);
                }
            },
            error: function (result) {
                SpanAlertWarning("spanAlertSchadenverwaltung", result.data, 5000);
            }
        });
    }

    function DocCategoryEdit(id) {
        $.ajax({
            type: "POST",
            url: "ShowDocCategoryEdit",
            data: { id: id.toString() },
            loadingShow: true,
            success: function (result) {
                ShowDocCategoryEdit(result);
            },
            error: function (result) {
                SpanAlertWarning("spanAlertSchadenverwaltung", result.data, 5000);
            }
        });
    }

    function DocCategoryCreate() {
        $.ajax({
            type: "POST",
            url: "CreateDocCategory",
            data: {},
            loadingShow: true,
            success: function (result) {
                ShowDocCategoryEdit(result);
            },
            error: function (result) {
                SpanAlertWarning("spanAlertSchadenverwaltung", result.data, 5000);
            }
        });
    }

    function ShowDocCategories() {
        $.ajax({
            type: "POST",
            url: "ShowDocCategories",
            data: {},
            loadingShow: true,
            success: function (result) {
                ShowDocCategoriesGrid(result);
            },
            error: function (result) {
                SpanAlertWarning("spanAlertSchadenverwaltung", result.data, 5000);
            }
        });
    }

    function ShowDocCategoriesGrid(result, showCloseButton) {
        $("#divDocCategoriesGrid").html(result);
        $("#divSchadenakteDocsGrid").slideUp();
        $("#divDocCategoriesGrid").slideDown();

        GridAllColumnFilterApplyToGrid("DocCategoriesGrid");

        FormPreparePrivateAjax();

        BreadcrumbsMoveNext("@Localize.Categories");
        TabsEnable(false);
    }

    function ShowDocCategoryEdit(result, showCloseButton) {
        $("#divDocCategoryEdit").html(result);
        $("#divDocCategoriesGrid").slideUp();
        $("#divDocCategoryEdit").slideDown();

        FormPreparePrivateAjax();
        BreadcrumbsMoveNext("@Localize.Edit");
    }

    function CloseDocCategoriesGrid() {
        $("#divDocCategoriesGrid").slideUp(function () {
            $("#divDocCategoriesGrid").html('');
            $("#divSchadenakteDocsGrid").delay(200).show();
            window.scrollTo(0, 0);
            BreadcrumbsMovePrev();
            TabsEnable(true);
        });
    }

    function CloseDocCategoryEdit() {
        $("#divDocCategoryEdit").slideUp(function () {
            $("#divDocCategoriesGrid").delay(200).show();
            window.scrollTo(0, 0);
            BreadcrumbsMovePrev();
        });
        TryDocCategoriesGridRefresh();
    }

    function TryDocCategoriesGridRefresh() {
        // Refresh grid only
        if (typeof (GetDocCategoriesGrid()) !== "undefined") {
            GetDocCategoriesGrid().ajaxRequest();
        }
    }

</script>