@model CkgDomainLogic.Ueberfuehrung.ViewModels.UeberfuehrungHistoryViewModel

@Html.Partial("Partial/Styles")

<div id="HistoryAuftraegeWrapper">
    <div id="HistoryAuftragDetails">
        @Html.Partial("Partial/HistoryAuftragDetailsWithDocuments")
    </div>
</div>

@Html.Partial("Partial/_ScriptsGeneral")
@Html.Partial("Partial/_Scripts")
@Html.Partial("Partial/_Dialogs")

