@using CkgDomainLogic.Autohaus.Models
@using CkgDomainLogic.Autohaus.ViewModels
@model ZulassungsReportSelektor

@{
    var kundenList = (List<Kunde>)ViewData["KundenList"];

    kundenList = kundenList.ToListOrEmptyList().CopyAndInsertAtTop(new Kunde("", Localize.DropdownDefaultOptionAll));
}

<div id="divZulassungsReportSuche">
    @using (Ajax.BeginForm("LoadZulassungsReport", "ZulassungsReport", null,
        new MvcAjaxOptions("divZulassungsReportSuche") { OnComplete = "ShowZulassungsReport();" }, new { id = "ZulassungsReportForm" }))
    {    
        <div class="form-horizontal" id="searchForm">
            
            @Html.FormValidationSummary()


            @Html.FormDropDownListFor(m => m.KundenNr, kundenList.ToSelectList(), new { @class = "m-wrap", col = "left" })
            @Html.FormTextBoxFor(m => m.Kennzeichen, new { @class = "m-wrap uppercase", col = "right" })

            @Html.FormTextBoxFor(m => m.Referenz1, new { @class = "m-wrap", col = "left" })
            @Html.FormTextBoxFor(m => m.Referenz2, new { @class = "m-wrap", col = "right" })

            @Html.FormTextBoxFor(m => m.Referenz3, new { @class = "m-wrap", col = "left" })
            @Html.FormTextBoxFor(m => m.Referenz4, new { @class = "m-wrap", col = "right" })

            @Html.FormTextBoxFor(m => m.Referenz5, new { @class = "m-wrap" })

            @Html.FormDateRangePickerFor(m => m.ZulassungsDatumRange, new { col = "left" })
            @Html.FormDateRangePickerFor(m => m.AuftragsDatumRange, new { col = "right" })

            @Html.FormRadioButtonListFor(m => m.AuftragsArt, ZulassungsReportViewModel.AuftragsArtOptionen)


            @* @Html.FormRequiredFieldsSummary() *@
            @*<button class='FormDateRangePickerButton btn blue margin-left-180'><i class='icon-adjust margin-right-10'></i>Test it!</button>*@

            <div class="form-actions">
                <button type="submit" class='btn blue'><i class='icon-search margin-right-10'></i>@Localize.SearchAsVerb</button>
                
                @Html.FormPersistenceMenu(Model)
            </div>
        </div>  
        
        <script type="text/javascript">
            _modelStateValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
        </script>
    }
</div>


<script type="text/javascript">

    function ShowZulassungsReport() {
        
        FormPreparePrivateAjax();

        $.ajax({
            type: "POST",
            url: "ShowZulassungsReport",
            loadingShow: true,
            success: function (result) {

                SearchResultsTryHide();

                if (_modelStateValid) {
                    ShowZulassungsReportSearchResult(result);
                    //return;
                }

                LoadingHide();
            }
        });
    }

</script>