@using CkgDomainLogic.Equi.Models
@model EquiGrunddatenSelektor

<div id="divEquiSuche">
    @using (Ajax.BeginForm("LoadGrunddatenEquis", "Equi", null,
        new MvcAjaxOptions("divEquiSuche") { OnComplete = "ShowGrunddatenEquis();" }, new { id = "GrunddatenEquisForm" }))
    {    
        <div class="form-horizontal" id="searchForm">
            
            @Html.FormValidationSummary()

            @Html.FormMultiSelectListFor(m => m.Standorte, EquiGrunddatenSelektor.AlleStandorte.ToSelectList(), new { @class = "m-wrap chosen", col = "left" })
            @Html.FormMultiSelectListFor(m => m.Betriebsnummern, EquiGrunddatenSelektor.AlleBetriebsnummern.ToSelectList(), new { @class = "m-wrap chosen", col = "right" })

            @Html.FormMultiSelectListFor(m => m.Zielorte, EquiGrunddatenSelektor.AlleZielorte.ToSelectList(), new { @class = "m-wrap chosen" })

            @Html.FormTextAreaFor(m => m.Fahrgestellnummer, new { @class = "m-wrap uppercase", col = "left" }, null, 40, 3)
            @Html.FormTextAreaFor(m => m.Fahrgestellnummer10, new { @class = "m-wrap uppercase", col = "right" }, null, 40, 3)

            @Html.FormDateRangePickerFor(m => m.ErstzulassungsDatumRange, new { col = "left"})
            @Html.FormDateRangePickerFor(m => m.AbmeldeDatumRange, new { col = "right" })
            @Html.FormDateRangePickerFor(m => m.ErfassungsDatumRange)

            @Html.FormRadioButtonListFor(m => m.FahrzeugeMitZulassungsStatus, EquiGrunddatenSelektor.FahrzeugeZulassungsStatusWerte.ToSelectList(), new { @class = "m-wrap", col = "left" })
            @Html.FormCheckBoxFor(m => m.NurAbgemeldeteFahrzeuge, new { col = "right" }, labelHidden:true)
            

            @*@Html.FormRequiredFieldsSummary()*@

            <div class="form-actions">
                <button type="submit" class='btn blue'><i class='icon-search'></i>&nbsp;@Localize.Search</button>
            </div>
        </div>  
        
        <script type="text/javascript">
            _modelStateValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
        </script>
    }
</div>


<script type="text/javascript">

    function ShowGrunddatenEquis() {

        FormPreparePrivateAjax();

        $.ajax({
            type: "POST",
            url: "ShowGrunddatenEquis",
            loadingShow: true,
            success: function (result) {

                SearchResultsTryHide();

                if (_modelStateValid) {
                    ShowEquiSearchResult(result);
                    //return;
                }

                LoadingHide();
            }
        });
    }

</script>