@using CkgDomainLogic.Fahrzeuge.ViewModels
@using ServicesMvc.Areas.Fahrzeug.Models.HolBringService
@model CkgDomainLogic.Fahrzeuge.Models.HolBringService.Abholung 

@{
    //var dropDownHourList = (List<HolBringServiceViewModel.DropDownItem>)ViewData["DropDownHourList"];
    //var dropDownMinuteList = (List<HolBringServiceViewModel.DropDownItem>)ViewData["DropDownMinuteList"];

    //var dropDownHourList = (List<GlobalViewData.DdItem>)ViewData["DropDownHourList"];
    //var dropDownMinuteList = (List<GlobalViewData.DdItem>)ViewData["DropDownMinuteList"];

    var globalData = (GlobalViewData)ViewData["GlobalViewData"];
    
}

<div id="DivAbholung" class="margin-top-20">
    @using (Ajax.BeginForm("Abholung", "HolBringService", null,
                new MvcAjaxOptions { UpdateTargetId = "DivAbholung", OnComplete = "AjaxFormAbholungComplete();" },
                    htmlAttributes: new { @class = "form-horizontal", id = "AjaxFormAbholung" }))
    {
        @Html.FormValidationSummary()
        @Html.Hidden("formSubmit", "ok")
        
        <div class="row-fluid">
            <div class="span6 ">
                @Html.FormTextBoxFor(m => m.AbholungKunde, new { @class = "m-wrap " })
                @Html.FormTextBoxFor(m => m.AbholungStrasseHausNr, new { @class = "m-wrap " })
                
                @Html.FormTextBoxFor(m => m.AbholungPlz, new { @class = "m-wrap xsmall" })
                @Html.FormTextBoxFor(m => m.AbholungOrt, new { @class = "m-wrap " })
                @Html.HiddenFor(m => m.Land, new { @class = "m-wrap medium" })
            </div>
            
            <div class="span6 ">
                @Html.FormTextAreaFor(m => m.AbholungHinweis, new { @class = "m-wrap"}, rows: 9)
            </div>
        </div>
        
        @Html.FormTextBoxFor(m => m.AbholungAnsprechpartner, new { @class = "m-wrap ", col = "left" })
        @Html.FormTextBoxFor(m => m.AbholungTel, new { @class = "m-wrap ", col = "right" })
        
        @Html.FormDatePickerFor(m => m.AbholungDatum, new { @class = "m-wrap " })
                
        <div class="control-group">
            <label class="control-label">Abhol-Uhrzeit</label>
            <div class="controls">
                @Html.DropDownListFor(m => m.AbholungUhrzeitStunden, globalData.DropDownHours.ToSelectList(), new { @class = "dropdownwidth" })
                @Html.DropDownListFor(m => m.AbholungUhrzeitMinuten, globalData.DropDownMinutes.ToSelectList(), new { @class = " dropdownwidth" })
                
                @*<div class="input-append datepickerX">
                    <input id="AbholungDatumUhrzeitX" name="AbholungDatumUhrzeitX" type="text" class="m-wrap small " />
                    <span class="add-on">
                        <i class="icon-calendar"></i>
                    </span>
                </div>*@

            </div>
        </div>

        @Html.FormCheckBoxFor(m => m.AbholungMobilitaetsfahrzeug, new { @class = "m-wrap" }, labelHidden: true, postControlHtml: @<text><label class="checkbox">Mobilitätsfahrzeug</label></text>)
            
        <span class="clearfix"></span>
        
        @Html.FormRequiredFieldsSummary()

        <script type="text/javascript">
            _modelIsValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
        </script>
        
            }
    </div>

<script>
    
    $(function() {
        feiertageAsString = "14.07.2015,15.07.2015";

        $("#AbholungDatum").datepicker({    // AbholungDatumUhrzeitX
            minDate: new Date(2015, 5, 1),
            beforeShowDay: function (date) {
                var dateIsSelectable = !(date.getDay() == 0 || date.getDay() == 6);     // Keine Wochenenden

                if (dateIsSelectable) // Datum ab heute
                    dateIsSelectable = (date >= Date.today());

                var istFeiertag = feiertageAsString.indexOf(date.toString(dateFormat)) >= 0;
                if (dateIsSelectable)
                    dateIsSelectable = !istFeiertag;
                return [dateIsSelectable, ""];
            }
        });

    })
</script>