@using CkgDomainLogic.DomainCommon.Models
@model CkgDomainLogic.Fahrzeuge.Models.HolBringService.Auftraggeber 

@{
    var fahrzeugArtenList = (List<Domaenenfestwert>)ViewData["FahrzeugArtenList"];
}

<div id="DivAuftraggeber" class="margin-top-20">
    @using (Ajax.BeginForm("Auftraggeber", "HolBringService", null,
                new MvcAjaxOptions { UpdateTargetId = "DivAuftraggeber", OnComplete = "AjaxFormAuftraggeberComplete();" },
                    htmlAttributes: new { @class = "form-horizontal", id = "AjaxFormAuftraggeber" }))
    {
        @Html.FormValidationSummary()

        @Html.FormTextBoxFor(m => m.Auftragsersteller, new { @class = "m-wrap ", col = "left" })
        @Html.FormTextBoxFor(m => m.AuftragerstellerTel, new { @class = "m-wrap ", col = "right" })
        
        @Html.FormTextBoxFor(m => m.Betrieb, new { @class = "m-wrap ", col = "left" })
        @Html.FormTextBoxFor(m => m.Repco, new { @class = "m-wrap ", col = "right" })
        
        @Html.FormTextBoxFor(m => m.Ansprechpartner, new { @class = "m-wrap ", col = "left" })
        @Html.FormTextBoxFor(m => m.AnsprechpartnerTel, new { @class = "m-wrap ", col = "right" })
        
        <hr/>
        
        @Html.FormTextBoxFor(m => m.Kunde, new { @class = "m-wrap ", col = "left" })
        @Html.FormTextBoxFor(m => m.KundeTel, new { @class = "m-wrap ", col = "right" })
        
        @Html.FormTextBoxFor(m => m.Kennnzeichen, new { @class = "m-wrap small", col = "left" })
        
        @Html.FormDropDownListFor(m => m.FahrzeugartId, fahrzeugArtenList.ToSelectList(), new { @class = "m-wrap small", col = "right" })

        @Html.FormRequiredFieldsSummary()
        
        <script type="text/javascript">
            _modelIsValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
        </script>
    }
</div>
