@using CkgDomainLogic.Insurance.ViewModels
@model SchadenakteViewModel

<div class="margin-left-10">
    <h4 class="no-margin">
        <button onclick="CloseSchadenakte();" class="btn mini red tooltips" data-original-title="@Localize.Back" data-placement="right"><i class="halflings-icon white chevron-left"></i></button>
        <i class="icon-briefcase margin-left-10 margin-right-10"></i> <span>@Localize.DamageCase</span> <span id="idSchadenAkte">"@Model.Schadenakte.Schadenfall.EventName - @Model.Schadenakte.Schadenfall.Kennzeichen"</span>
    </h4>

    <div class="tabbable tabbable-custom margin-top-20">
        <ul class="nav nav-tabs">
            @*Anzeigereihenfolge umgedreht*@
            <li class="active"><a href="#tab_1_1" data-toggle="tab">@Localize.DamageRecord</a></li>
            <li><a href="#tab_1_2" data-toggle="tab">@Localize.Documents</a></li>
            <li><a href="#tab_1_3" id="tablink-termine" data-toggle="tab" class="schadenakte-termine">@Localize.Appointments</a></li>
            <li><a href="#tab_1_4" id="tablink-status" data-toggle="tab" class="schadenakte-status">@Localize.Status</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="tab_1_4">
                @Html.Partial("Schadenakte/Partial/Status", @Model.Schadenakte.Schadenfall)
            </div>               
            <div class="tab-pane" id="tab_1_3">
                @Html.Partial("Schadenakte/Partial/Termine", @Model.Schadenakte.Schadenfall)
            </div>               
            <div class="tab-pane overflow-x-auto" id="tab_1_2">
                @Html.Partial("Schadenakte/Partial/Dokumente", @Model.DocsViewModel)
            </div>               
            <div class="tab-pane active" id="tab_1_1">
                @Html.Partial("Schadenakte/Partial/Uebersicht", @Model.Schadenakte.Schadenfall)
            </div>               
        </div>
    </div>
</div>