@model CkgDomainLogic.DataConverter.ViewModels.DataConverterViewModel.WizardProzessauswahl

<script type="text/javascript">

    var firstRequest = '@Request["firstRequest"]';

    _modelIsValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();

    $(function() {

        $(window).resize(function() {
        });

        $('#SelectedProcess').chosen();
    });

    function UploadStart(e) {
        // because we are uploading in async mode, our "e.files" collection always has exact 1 entry:
        var filename = e.files[0].name;

        var fileExt = filename.split('.').pop().toLowerCase();

        if (fileExt != "txt" && fileExt != "csv" && fileExt != "xls" && fileExt != "xlsx") {
            alert("Nur folgende Formate sind möglich: txt, csv, xls, xlsx");
            return false;
        }

        LoadingShow();

        return true;
    }

    function UploadFinished(e) {
        setTimeout("LoadingHide()", 1000);

        // clear only the UI of our Upload Control:
        $(this).children(".t-upload-files").remove();

        if (!e.response.success) {
            alert(e.response.message);
            return;
        }

        $('#SourceFile_FilenameOrig').val(e.response.uploadFileName);
        $('#SourceFile_FilenameCsv').val(e.response.uploadFileNameCsv);

        $("#AjaxFormProzessauswahl").submit();
    }

    function UploadError(e) {
        e.preventDefault();
        setTimeout("LoadingHide()", 1000);
        alert('@Localize.ErrorFileCouldNotBeSaved');
    }

</script>

<div id="DivProzessauswahl" class="margin-top-20">
    
    <h4>Prozessauswahl</h4>

    @using (Ajax.BeginForm("Prozessauswahl", "Admin", null,
        new MvcAjaxOptions {UpdateTargetId = "DivProzessauswahl", OnComplete = "AjaxFormProzessauswahlComplete();"},
        htmlAttributes: new {@class = "form-horizontal", id = "AjaxFormProzessauswahl"}))
    {
        @Html.FormValidationSummary()

        <div class="row-fluid margin-top-40">
            <div class="span6">
                @Html.FormDropDownListFor(m => m.SelectedProcess, Model.ProcessList.ToSelectList(), new {@class = "m-wrap"})
            </div>
            <div class="span6">
                <div class="control-group">
                    <label class="control-label">Quelldatei</label>
                    <div class="controls">
                        @(Html.Telerik().Upload()
                              .Name("fileUpload")
                              .Localizable("de-DE")
                              .Async(async => async
                                  .Save("UploadStart", "Admin")
                                  .SaveField("uploadFiles")
                                  .AutoUpload(true))
                              .Multiple(false)
                              .ShowFileList(false)
                              .ClientEvents(events => events
                                  .OnUpload("UploadStart")
                                  .OnSuccess("UploadFinished")
                                  .OnError("UploadError")
                              )
                              )
                    </div>
                </div>
                @Html.HiddenFor(m => m.SourceFile.FilenameOrig)      
                @Html.HiddenFor(m => m.SourceFile.FilenameCsv)
            </div>
        </div>
    }
</div>
