@model CkgDomainLogic.FzgModelle.Models.ModellId

<div id="DivModellId">
    @using (Ajax.BeginForm("ModellIdDetailsFormSave", "ModellId", null,
                new MvcAjaxOptions { UpdateTargetId = "DivModellId", OnComplete = "ModellIdAjaxFormComplete();" },
                    htmlAttributes: new { @class = "form-horizontal", id = "ModellIdAjaxForm" }))
    {

        @Html.FormValidationSummary()

        @Html.HiddenFor(m => m.InsertModeTmp)
        
        if (Model.InsertModeTmp)
        {
            @Html.FormTextBoxFor(m => m.ID, new { @class = "m-wrap medium" })
        }
        else
        {
            @Html.HiddenFor(m => m.ID)
            @Html.FormTextBlockFor(m => m.ID, new { @class = "m-wrap medium" })
        }
        
        @Html.FormTextBoxFor(m => m.Bezeichnung, new { @class = "m-wrap large" })

        
        @Html.FormRequiredFieldsSummary()

        <div class="form-actions">
            <button type="submit" class="btn green"><i class="icon-ok"></i> Speichern</button>
            <button type="button" class="btn" onclick="CloseItemDetails();">Abbrechen</button>
        </div>

        <script type="text/javascript">
            _modelIsValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
        </script>
    }
</div>