@using CkgDomainLogic.Fahrzeuge.Models
@model TreuhandverwaltungSelektor

<div id="divTreuhandverwaltungKundenAuswahl">    
    @using (Ajax.BeginForm("LoadBerechtigungen", "Fahrzeuge", null,
        new MvcAjaxOptions("divTreuhandverwaltungKundenAuswahl") { OnComplete = "PrepareOnSubmitComplete();" }, new { id = "TreuhandverwaltungAuswahlForm" }))
    {                                                                                
                                                                                            
        <div class="form-horizontal" id="divAuswahlForm">  
             
            @Html.FormValidationSummary()               
                          
            @{Model.Reporttype = ReportType.Services; }          
                                                       
            @Html.FormDropDownListFor(m => m.Kundenkennung, TreuhandverwaltungSelektor.TreuhandGeberEmpty, new { @class = "m-wrap", onchange = "KundenkennungOnChange();" })
                                                                                               
            @if (!String.IsNullOrEmpty(Model.Treuhandberechtigungen))
            {
                <div id="divBerechtigungen" >                 
                    
                    <div id="divDwnloadLink" class="hide" > 
                        <h4>
                        <a href="DownloadCsvTemplate" class="btn white tooltips" data-original-title="@Localize.DownloadCsvFileTemplateTitle" data-placement="top">@Localize.DownloadCsvFileTemplate <i class="icon-chevron-right"></i></a>
                        </h4>
                   </div>
                   @Html.FormRadioButtonListFor(m => m.Berechtigung, Model.Treuhandberechtigungen.ToSelectList())     
                   <div id="divAktion" >  
                       @if (Model.HasAction)
                           {  @Html.FormRadioButtonListFor(m => m.Akion, Model.Akionen.ToSelectList())  } 
                           
                        @*<div class="form-actions">
                            <button class='btn blue'><i class='icon-progress'></i>&nbsp;@Localize.Continue</button>
                        </div>*@
                   </div>                                                             
                </div>                                
            }                                 
        </div>                                                 
    }
</div>


<script type="text/javascript"> 

    //$(":radio").click(function () { ShowElements(); }); // $(":radio").value

    $(":radio[value=0]").click(function () { ShowElements(); });
    $(":radio[value=1]").click(function () { ShowElements(); });
    $(":radio[value=2]").click(function () { ShowElements(); });

    $(":radio[value=abgelehnte]").click(function () { LoadFreigebenAblehnen(); });
    $(":radio[value=gesperrte]").click(function () { LoadFreigebenAblehnen(); });
          
    //LoadFreigebenAblehnen();
   
    function KundenkennungOnChange() {
        // FormWizard zurücksetzen       
        if ($(".button-prev").length > 0) {            
            FormWizard.ButtonPrevInvoke();
        }
        FormWizard.ActionsShow(false);
        $("#TreuhandverwaltungAuswahlForm").submit();
    }
   
    function PrepareOnSubmitComplete() {
        FormPrepareAjax();       
        ShowElements();
    }

    function ShowElements() {        
        if ($("#Berechtigung").length === 0) {
            $("#divDwnloadLink").hide();
            $("#divExcelUpload").hide();
            $("#divAktion").hide();   
        }            
        if ($(":radio[value=0]").is(":checked")) {
            $("#divDwnloadLink").hide();
            $("#divExcelUpload").hide();
            $("#divAktion").show();                 
        }
        if ($(":radio[value=1]").is(":checked")) {
            $("#divDwnloadLink").show();
            $("#divExcelUpload").show();
            $("#divAktion").hide();                        
        }
        if ($(":radio[value=2]").is(":checked")) {
            $("#divDwnloadLink").show();
            $("#divExcelUpload").show();
            $("#divAktion").hide();
        }
        // Kontextwechsel
        $("#divGrid").empty();        
    }
   
    function FormPreparePrivate() {
        ShowElements();
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
    }

    function OnDataBound_TreuhandverwaltungGrid() { }

    function OnColumnShowHide_TreuhandverwaltungGrid() { }

    function OnColumnReorder_TreuhandverwaltungGrid() { }

    function OnRowDataBound_TreuhandverwaltungGrid(e) {
        var hasError = e.dataItem["ValidationErrors"];

        if (hasError)
            $(e.row).addClass((e.row.sectionRowIndex % 2 == 0) ? "t-grid-error" : "t-grid-error-alt");
    }

    
    // -> 
    
    function LoadFreigebenAblehnen() {

        if ($(":radio[value=gesperrte]").is(":checked")) {           
            $.ajax({
                type: "POST",
                url: "LoadTreuhandverwaltungFreigabenGesperrte",
                loadingShow: true,
                success: function (result) {
                    ShowTreuhandverwaltungFreigabeSearchResult(result);
                    LoadingHide();
                    //alert("Post OK")
                }
            });
        }

        if ($(":radio[value=abgelehnte]").is(":checked")) {
            $.ajax({
                type: "POST",
                url: "LoadTreuhandverwaltungFreigabenAbgelehnte",
                loadingShow: true,
                success: function (result) {
                    ShowTreuhandverwaltungFreigabeSearchResult(result);
                    LoadingHide();
                    //alert("Post OK")
                }
            });
        }
    }        

    function ShowTreuhandverwaltungFreigabeSearchResult(result) {
        SearchFormHide();
        $("#divGrid").html(result);
        //alert("4");
        GridAllColumnFilterApplyToGrid("GridTreuhandverwaltungFreigabe");
        $("#divGrid").slideDown();
        //alert("5");
    }
             

    function OnDataBound_GridTreuhandverwaltungFreigabe(e) {
       
        if (e != null && e.dataItem != null) {
            var hasError = e.dataItem["ValidationErrors"];

            if (hasError)
                $(e.row).addClass((e.row.sectionRowIndex % 2 == 0) ? "t-grid-error" : "t-grid-error-alt");
        }
    }

    function OnColumnShowHide_GridTreuhandverwaltungFreigabe() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_GridTreuhandverwaltungFreigabe() {
        FilteredData_Grid_OnColumnReorder($(this));
    }

    function OnLoad_GridTreuhandverwaltungFreigabe() {        
    }


             
    function GridTreuhandverwaltungFreigabe_OnSelectionChange(cb) {

        Grid_FormatMultiRowSelected(cb);

        $.ajax({
            type: "POST",
            url: "FahrzeugAuswahlFreigabeSelectionChanged",
            data: { fin: cb.val(), isChecked: cb.is(':checked') },
            loadingShow: false,
            success: function (result) {
                var count = result.allSelectionCount;
                GridTreuhandverwaltungFreigabe_MultiSelectUpdate(result.allSelectionCount);
                //alert(count);
                if (count == 0) {
                    $("#formActions").addClass('hide');
                }
                else {
                    $("#formActions").removeClass('hide'); 
                 }
            }
        });
    }

    function GridTreuhandverwaltungFreigabe_MultiSelectUpdate(count) {
        if (count == 0) {
            // $("#FahrzeugAuswahlCount").addClass('hide');
            $("#uncheckAllRecords").attr("checked", false);
            $.uniform.update($("#uncheckAllRecords"));
            return;
        }

        $("#uncheckAllRecords").attr("checked", true);
        $.uniform.update($("#uncheckAllRecords"));
        //alert(count);
    }

    function FahrzeugeFreigeben() {
        $.ajax(
        {
            type: "POST",
            url: "FahrzeugeFreigeben",
            loadingShow: false,
            success: function (result) {
                LoadFreigebenAblehnen();
                FormPreparePrivateAjax();
            },
            error: function (result) {
            }
        });

        return false;
    }
 
    function FreigabeAblehnen() {
        $.ajax(
        {
            type: "POST",
            url: "FreigabeAblehnen",
            loadingShow: false,
            success: function (result) {
                LoadFreigebenAblehnen();
                FormPreparePrivateAjax();
            },
            error: function (result) {
            }
        });

        return false;
    }

    function AjaxFormKommentarEdit(fin) {

        $.ajax(
            {
                type: "POST",
                url: "FahrzeugKommentar",
                data: { fin: fin },
                loadingShow: true,
                success: function (result) {
                    var detailWindow = $("#KommentarBearbeiten").data("tWindow");
                    $("#InnerKommentarBearbeiten").html(result);
                    detailWindow.center().open();
                }
            });           
        return false;
    }


    function GridItemDetailsFormPreparePrivateAjax() {
        var detailWindow = $("#KommentarBearbeiten").data("tWindow");
        detailWindow.close();
        ShowFreigebenAblehnen();
        // das geht leider nicht
        if ($("input:checkbox:checked").length > 0) {
            $("#formActions").removeClass('hide');
        }
        else {
            $("#formActions").addClass('hide');           
        }       
    }


    function ShowFreigebenAblehnen() {        
        $.ajax({
            type: "POST",
            url: "ShowTreuhandverwaltungFreigabenGesperrte",
            loadingShow: true,
            success: function (result) {
                ShowTreuhandverwaltungFreigabeSearchResult(result);
                LoadingHide();
                //alert("ShowTreuhandverwaltungFreigabenGesperrte OK")
            }
        });               
    }        

    
    

    function GridTreuhandverwaltungFreigabe_OnAllSelectionChange(check) {
        $.ajax({
            type: "POST",
            url: "FahrzeugAuswahlFreigabeSelectionChanged",
            data: { fin: "", isChecked: check },
            loadingShow: true,
            success: function (result) {
                var count = result.allSelectionCount;
                TreuhandverwaltungGrid_MultiSelectUpdate(result.allSelectionCount);

                FilterGrid("TreuhandverwaltungGrid");
            }
        });
    }
       

</script>


@(Html.Telerik().Window()
        .Name("KommentarBearbeiten")
    .Visible(false)
    .Title(Localize.Comment)
    .Modal(true)
    .Draggable(true)
    .Scrollable(false)
    .Width(400)
    .Height(150)
    .Content(@<text><div id="InnerKommentarBearbeiten"></div></text>))
