@model CkgDomainLogic.Fahrzeuge.ViewModels.ZulassungViewModel

<h3 class="page-title">@Localize.Registration <small>@Localize.Vehicles</small></h3>

<div class="portlet app-view">
    
    @Html.FormWizard("icon-file", "", Model.StepFriendlyNames, Model.StepKeys)

    <div id="formWizardTab1" class="hide">
        @Html.Partial("Partial/GridFahrzeugAuswahl")
    </div>
</div>

@Html.Partial("Partial/Common")


