@using CkgDomainLogic.DomainCommon.Models
@model Adresse

@{ var currentController = ViewContext.RouteData.GetRequiredString("controller"); }

<div id="@MvcAjaxOptions.AjaxFormContainerName">
    @using (Ajax.BeginForm("AddressDetailsFormSave", currentController, null, new MvcAjaxOptions { OnComplete = "GridItemDetailsFormPreparePrivateAjax();" }, htmlAttributes: new { @class = "form-horizontal", id = "ajaxForm" }))
    {
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.KundenNr)
        @Html.HiddenFor(m => m.InternalKey)
        @Html.HiddenFor(m => m.InternalKey2)
        @Html.HiddenFor(m => m.IsValid)
        @Html.HiddenFor(m => m.NoSaveButUiRefreshOnly)
        @Html.HiddenFor(m => m.Kennung)

        @Html.FormValidationSummary()
        
        @Html.FormTextBoxFor(m => m.Name1, new { @class = "m-wrap medium", col = "left" })
        @Html.FormTextBoxFor(m => m.Name2, new { @class = "m-wrap medium", col = "right" })

        @Html.FormDropDownListFor(m => m.Land, Adresse.Laender.ToSelectList(), new { @class = "m-wrap medium", col = "left" })
        @Html.FormTextBoxFor(m => m.Strasse, new {@class = "m-wrap small", col = "right"}, labelText: Localize.StreetHouseNo,
            postControlHtml: @<text>
                                 @Html.TextBoxFor(m => m.HausNr, new { @class = "m-wrap xsmall margin-left-20" })
                              </text>)

        @Html.FormTextBoxFor(m => m.PLZ, new { @class = "m-wrap xsmall", col = "left" })
        @Html.FormTextBoxFor(m => m.Ort, new { @class = "m-wrap medium", col = "right" })

        @Html.FormTextBoxFor(m => m.Email, new { @class = "m-wrap medium", col = "left" })
        @Html.FormTextBoxFor(m => m.Telefon, new { @class = "m-wrap medium", col = "right" })

        @Html.FormTextBoxFor(m => m.Fax, new { @class = "m-wrap medium", col = "left" })
        @Html.FormCheckBoxFor(m => m.Gewerblich, new { @class = "m-wrap medium", col = "right" }, labelHidden: true, postControlHtml: @<text><label class="checker">@Localize.Commercial</label></text>)

        @Html.FormTextBoxFor(m => m.ReferenzNr, new { @class = "m-wrap medium", col = "left" })
        @Html.FormTextAreaFor(m => m.Bemerkung, new { @class = "m-wrap medium", col = "right" })

        <div id="divEvbInfo">
            @Html.FormTextBoxFor(m => m.EvbNr, new { @class = "m-wrap medium uppercase", col = "left", maxlength = 7 })
            @Html.FormDatePickerFor(m => m.Stichtagsabbuchung, new { @class = "m-wrap medium", col = "right" })
        </div>


        @Html.HiddenFor(m => m.KontoNr)
        @Html.HiddenFor(m => m.Bankleitzahl)

        @Html.FormTextBoxFor(m => m.Iban, new { @class = "m-wrap medium uppercase", col = "left", @onkeyup = "return TryLoadBankdatenAusIban(this)", @onpaste = "return TryLoadBankdatenAusIban(this)" },
                        postControlHtml: @<text>@Html.SpanAlert("bankDataHint")</text>)

        @Html.FormTextBoxFor(m => m.Swift, new { @class = "m-wrap medium uppercase", col = "right", @readonly = "readonly" },
                        postControlHtml: @<text><span class="no-break-container">(@Localize.WillBeCalculated.ToLower())</span></text>)

        @Html.FormTextBoxFor(m => m.Geldinstitut, new { @class = "m-wrap medium", @readonly = "readonly"},
                        postControlHtml: @<text><span class="no-break-container">(@Localize.WillBeCalculated.ToLower())</span></text>)
        

        if (Model.InsertModeTmp)
        {
            @Html.FormMultiSelectListFor(m => m.KennungenToInsert, CkgDomainLogic.Partner.Models.PartnerSelektor.PartnerKennungen.ToSelectList(), new { @class = "m-wrap chosen" },
                                            postControlHtml: @<text>
                                                                <a href="#" onclick="return false" class="btn white mini margin-left-10 valign-top tooltips" data-original-title="@Localize.PartnerRoleAddHint" data-placement="right"><i class="icon-info-sign bigger margin-right-5"></i> @Localize.PartnerRole</a>
                                                             </text>)
        }

        @Html.FormRequiredFieldsSummary()

        <div class="form-actions">
            <button type="submit" class="btn green"><i class="icon-ok"></i>@Localize.Save</button>
            <button type="button" class="btn" onclick="CloseItemDetails();">@Localize.Cancel</button>
        </div>
    
        <script type="text/javascript">
            _modelIsValid = @Model.IsValid.ToString().ToLower();
            _modelIsInsertMode = @Model.InsertModeTmp.ToString().ToLower();

            $(function(){ 
                if ($('#Kennung').val() == 'HALTER') {
                    $('#divEvbInfo').show();
                } else {
                    $('#divEvbInfo').hide();
                }
            });
            

        </script>
    }
</div>