@using CkgDomainLogic.Zulassung.MobileErfassung.Models
@model CkgDomainLogic.Zulassung.MobileErfassung.ViewModels.ZulMobileErfassungViewModel
  
<div class="VerticalSpacer10">&nbsp;</div>
<table width="100%">
    <colgroup>
        <col class="TableColumn90"/>
        <col class="TableColumnAuto"/>
    </colgroup>
    <thead> 
    </thead>  
    <tbody>
        <tr>
            <td>
                @Model.PropertyDisplayNames["VkBur"]
            </td>
            <td>
                <label id="lblVkBur">@Model.VkBurNeuanlage</label>
            </td>
        </tr>
        <tr>
            <td>
                @Model.PropertyDisplayNames["Kunde"]
            </td>
            <td>
                <select id="ddlKunde" name="ddlKunde">
                    @if (Model.StammdatenNeuanlage.Kunden.Count > 0)
                    {
                        foreach (Kunde k in Model.StammdatenNeuanlage.Kunden)
                        {
                            <option value="@k.KundenNr">@k.Name</option>
                        }
                    }
                    else
                    {
                        <option></option>
                    }       
                </select>
            </td>
        </tr>
        <tr>
            <td>
                @Model.PropertyDisplayNames["Referenz1"]
            </td>
            <td>
                <input type="text" id="txtReferenz1" class="TextUpperCase" maxlength="20"/>
            </td>
        </tr>
        <tr>
            <td>
                @Model.PropertyDisplayNames["Referenz2"]
            </td>
            <td>
                <input type="text" id="txtReferenz2" class="TextUpperCase" maxlength="20"/>
            </td>
        </tr>
        <tr>
            <td>
                @Model.PropertyDisplayNames["Kennzeichen"]
            </td>
            <td>
                <input type="text" id="txtKennzeichen" class="TextUpperCase" maxlength="20"/>
            </td>
        </tr>
        <tr>
            <td>
                Haupt-DL
            </td>
            <td>
                <select id="ddlHauptDl" name="ddlHauptDl" onchange="CheckHauptDl();">
                    @if (Model.StammdatenNeuanlage.Dienstleistungen.Count > 0)
                    {
                        foreach (Dienstleistung d in Model.StammdatenNeuanlage.Dienstleistungen)
                        {
                            <option value="@d.Id">@d.DetailBez</option>
                        }
                    }
                    else
                    {
                        <option></option>
                    }       
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Zusatz-DL
            </td>
            <td>
                <table id="tblZusatzpositionen" class="table-positionen-responsive table-stroke" data-role="table" data-mode="reflow">
                    <colgroup>
                        <col class="TableColumn80"/>
                        <col class="TableColumnAuto"/>
                        <col class="TableColumn80"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="TableGridCellNarrow">@Model.PropertyDisplayNames["PosNr"]</th>      
                            <th class="TableGridCellNarrow">@Model.PropertyDisplayNames["DienstleistungBez"]</th>
                            <th class="TableGridCellNarrow"></th>     
                        </tr>  
                    </thead>  
                    <tbody>
                    </tbody>
                </table>
                <div>
                    <input id="btnAddPos" type="button" value="Dienstleistung ergänzen" onclick="ClearMessage(); AddVorgangPosition();" /> 
                </div>
            </td>
        </tr>
        <tr>
            <td>
                @Model.PropertyDisplayNames["Amt"]
            </td>
            <td>
                <select id="ddlAmt" name="ddlAmt">
                    @if (Model.StammdatenNeuanlage.Aemter.Count > 0)
                    {
                        var aemterAnfangsbuchstaben = Model.StammdatenNeuanlage.Aemter.GroupBy(a => a.Anfangsbuchstabe).Select(grp => grp.First().Anfangsbuchstabe);
                        
                        foreach (var item in aemterAnfangsbuchstaben)
                        {
                            var anf = item;
                            <optgroup label="@anf">
                                @foreach (var amt in Model.StammdatenNeuanlage.Aemter.Where(a => a.KurzBez.StartsWith(anf)))
                                {
                                    <option value="@amt.KurzBez">@amt.AmtBez</option>
                                }
                            </optgroup>
                        }
                    }
                    else
                    {
                        <option></option>
                    }       
                </select>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input type="checkbox" id="chkWunschkennzeichen" name="chkWunschkennzeichen" data-mini="true"/>
                <label for="chkWunschkennzeichen">@Model.PropertyDisplayNames["Wunschkennzeichen"]</label>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input type="checkbox" id="chkReserviert" name="chkReserviert" data-mini="true"/>
                <label for="chkReserviert">@Model.PropertyDisplayNames["Reserviert"]</label>
            </td>
        </tr>
        <tr>
            <td>
                @Model.PropertyDisplayNames["ZulDatTextEdit"]
            </td>
            <td>
                <div id="divZulDat">
                    <input type="text" id="txtZulDat" value="@DateTime.Today.ToShortDateString()" maxlength="10"/>
                </div>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input type="checkbox" id="chkNurEinKennzeichen" name="chkNurEinKennzeichen" data-mini="true"/>
                <label for="chkNurEinKennzeichen">@Model.PropertyDisplayNames["NurEinKennzeichen"]</label>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <input id="btnSave" type="button" value="Speichern" onclick="ClearMessage(); SaveVorgang();" />
</div>
