@model CkgDomainLogic.DataConverter.ViewModels.DataConverterViewModel

<link href="~/content/DataConverter-Main.css" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jsPlumb-2.0.5.js")" type="text/javascript"></script>

<h3 class="page-title">@Localize.DataConverter <small>@Localize.Administration</small></h3>

@Html.Partial("Partial/Common")

@Html.SpanAlert("spanAlertDataConverterAdmin")

<div id="divSearchAndGrid">
    @using (Html.FormSearchBox())
    {
        @Html.Partial("Partial/Suche", Model.Selektor)
    }

    @using (Html.FormSearchResultsGrid())
    {
        <div id="divGridDataMappings"></div>
    }
</div>

<div id="divDataMappingDetails"></div>
