@using CkgDomainLogic.Equi.Models
@model Fahrzeugbrief 

<div id="MemoEditDiv" class="portlet">
    @using (Ajax.BeginForm("VersandAbweichungMemoEditFormSave", "Equip", null,
                           new MvcAjaxOptions("MemoEditDiv") { OnComplete = "GridVersandAbweichungenMemoFormPrepareAjax();" }, new { id = "MemoEditForm", @class = "form-horizontal" }))
    {
        @Html.HiddenFor(m => m.Equipmentnummer)
        @Html.HiddenFor(m => m.Vertragsnummer)
        @Html.HiddenFor(m => m.Versanddatum)
        
        @Html.FormTemplateControl("", @<text><i class="icon-pencil"></i> <span class="font-bold margin-left-5">@Localize.Details</span></text>, new { @class = "m-wrap" })

                
        @Html.FormValidationSummary()
        
        
        @Html.FormTextAreaFor(m => m.Memo, new { @class = "m-wrap" })

        @Html.FormTextBlockFor(m => m.Kennzeichen, new { @class = "m-wrap font-normal" })

        @Html.FormTemplateControl(Localize.Holder, @<text>@Model.HalterAdresseAsHtml</text>, new { @class = "m-wrap" })
        
        
        <div class="form-actions">
            <button type="button" onclick="$('#MemoEditForm').submit();" class="btn green"><i class="icon-ok"></i> @Localize.Save</button>
            <button type="button" onclick="GridVersandAbweichungenMemoCloseDetails();" class="btn">@Localize.Cancel</button>
        </div>
        
        <script type="text/javascript">
            _modelStateValid = @ViewContext.ViewData.ModelState.IsValid.ToString().ToLower();
        </script>
    }
</div>

