@model CkgDomainLogic.General.Contracts.ILogonContextDataService


@foreach (var menuGroup in Model.GetMenuItemGroups())
{
    <h5 class="margin-top-10 margin-bottom-10 group-favorite-on-homepage"><i class="@menuGroup.AppTypeCssClass margin-right-5"></i> @Model.TranslateMenuAppType(menuGroup)</h5>

    foreach (var menuItem in Model.GetMenuItems(menuGroup.AppType).Where(a => a.AppIsMvcFavorite))
    {
        if (menuItem.AppURL.ToLower().StartsWith("http"))
        {
            <a class="btn black app-favorite-on-homepage" onclick="return OnMenuItemClick(this, @menuItem.AppID, true);" href="@menuItem.AppURL" target="_blank">
                @Model.TranslateMenuAppName(menuItem)
            </a>
        }
        else
        {
            <a class="btn black app-favorite-on-homepage" onclick="return OnMenuItemClick(this, @menuItem.AppID, true);" href="@Model.GetUserEncrytpedUrl(menuItem)">
                @Model.TranslateMenuAppName(menuItem)
            </a>
        } 
    }
}