@model CkgDomainLogic.CoC.ViewModels.SendungenViewModel

<h3 class="page-title" id="headerTitle">Sendungsverfolgung <small>Report</small></h3>

@Html.IeWarning(8)
@Html.SpanAlert("Message")

<div class="tabbable tabbable-custom margin-top-20">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#" id="tabIds" data-toggle="tab">Nach Sendungs-ID</a></li>
        <li><a href="#" id="tabDocs" data-toggle="tab">Nach Dokumentendaten</a></li>
        <li><a href="#" id="tabFin" data-toggle="tab">Nach Fahrzeugdaten</a></li>
        @if (Model.ShowPlaceSearch) {<li><a href="#" id="tabPlace" data-toggle="tab">Nach Fahrzeugstandort</a></li> }
    </ul>
</div>

@using (Html.FormSearchBox())
{
    <div id="searchBoxIds" class="divIds">
        @Html.Partial("VerfolgungMulti/Id/Suche", Model.SendungsAuftragIdSelektor)
    </div>
    <div id="searchBoxDocs" class="divDocs hide">
        @Html.Partial("VerfolgungMulti/Docs/Suche", Model.SendungsAuftragDocsSelektor)
    </div>
    <div id="searchBoxFin" class="divFin hide">
        @Html.Partial("VerfolgungMulti/Fin/Suche", Model.SendungsAuftragFinSelektor)
    </div>
    
    if (Model.ShowPlaceSearch) {
    <div id="searchBoxPlace" class="divPlace hide">
        @Html.Partial("VerfolgungMulti/Place/Suche", Model.SendungsAuftragPlaceSelektor)
    </div>
    }
}

@using (Html.FormSearchResultsGrid())
{
    <div id="searchResultIds" class="divIds">
        <div id="divGridId"></div>
    </div>
    <div id="searchResultDocs" class="divDocs hide">
        <div id="divGridDocs"></div>
    </div>
    <div id="searchResultFin" class="divFin hide">
        <div id="divGridFin"></div>
    </div>
    if (Model.ShowPlaceSearch)
    {
        <div id="searchResultPlace" class="divPlace hide">
            <div id="divGridPlace"></div>
        </div>
    }
}

<style type="text/css">
    .tabbable-custom {
        margin-top: 25px!important;
        margin-bottom: 0!important;
        border-bottom: 0!important;
    }
    .form-horizontal {
        padding-top: 10px;
    }
</style>

<script type="text/javascript">

    var _modelStateValid = 'false';

    function FormPreparePrivate() {
        InitTabs();
    }

    function FormPreparePrivateAjax() {
        FormPrepareAjax();
    }

    function InitTabs() {
        $("ul.nav-tabs li a").click(function () {
            var hrefId = $(this).attr("id");

            SearchResultsHide();
            SearchFormShow();

            if (hrefId == "tabIds") {
                $(".divDocs").hide();
                $(".divFin").hide();
                $(".divPlace").hide();
                $(".divIds").show();
            }
            if (hrefId == "tabDocs") {
                $(".divIds").hide();
                $(".divFin").hide();
                $(".divPlace").hide();
                $(".divDocs").show();
            }
            if (hrefId == "tabFin") {
                $(".divIds").hide();                
                $(".divDocs").hide();
                $(".divPlace").hide();
                $(".divFin").show();
            }
            if (hrefId == "tabPlace") {
                $(".divIds").hide();
                $(".divDocs").hide();
                $(".divFin").hide();
                $(".divPlace").show();
            }
            return true;
        });
    }

    function OnRowDataBound_GridCocSendungen(e) {
        var statusText = e.dataItem["StatusText"].toLowerCase();

        var tr = $(e.row);
        var classSuffix = tr.hasClass("t-alt") ? "-alt" : "";

        if (statusText == "ausgeliefert")
            tr.addClass("t-grid-selected" + classSuffix);
    }
    

    // <Suche nach ID>

    function ShowCocSendungenId() {

        FormPreparePrivateAjax();

        $.ajax({
            type: "POST",
            url: "ShowSendungenId",
            loadingShow: false,
            success: function (result) {

                SearchResultsTryHide();

                if (_modelStateValid) {
                    ShowCocSendungenIdSearchResult(result);
                }

                LoadingHide();
            }
        });
    }

    function ShowCocSendungenIdSearchResult(result) {
        SearchFormHide();
        $("#divGridId").html(result);

        // move our grid filter form into grid's toolbar:
        GridAllColumnFilterApplyToGrid("GridCocSendungenId");

        setTimeout(function() { $("#divGridId").slideDown(); }, 1000);
    }


    function OnDataBound_GridCocSendungenId() {
        FilteredData_Grid_OnDataBound($(this));
        jQuery('.tooltips').tooltip();
        LoadingHide();

        // prepare multi row selection
        App.initUniform();
    }

    function OnColumnShowHide_GridCocSendungenId() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_GridCocSendungenId() {
        FilteredData_Grid_OnColumnReorder($(this));
    }

    // </Suche nach ID>


    // <Suche nach Docs>

    function ShowCocSendungenDocs() {

        FormPreparePrivateAjax();

        $.ajax({
            type: "POST",
            url: "ShowSendungenDocs",
            loadingShow: false,
            success: function (result) {

                SearchResultsTryHide();

                if (_modelStateValid) {
                    ShowCocSendungenDocsSearchResult(result);
                }

                LoadingHide();
            }
        });
    }

    function ShowCocSendungenDocsSearchResult(result) {
        SearchFormHide();
        $("#divGridDocs").html(result);

        // move our Grid filter form into grid's toolbar:
        GridAllColumnFilterApplyToGrid("GridCocSendungenDocs");

        setTimeout(function () { $("#divGridDocs").slideDown(); }, 1000);
    }


    function OnDataBound_GridCocSendungenDocs() {
        FilteredData_Grid_OnDataBound($(this));
        jQuery('.tooltips').tooltip();
        LoadingHide();

        // prepare multi row selection
        App.initUniform();
    }

    function OnColumnShowHide_GridCocSendungenDocs() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    function OnColumnReorder_GridCocSendungenDocs() {
        FilteredData_Grid_OnColumnReorder($(this));
    }

    // </Suche nach Docs>


    // <Suche nach Fin>

    function ShowCocSendungenFin() {

        FormPreparePrivateAjax();

        $.ajax({
            type: "POST",
            url: "ShowSendungenFin",
            loadingShow: false,
            success: function (result) {

                SearchResultsTryHide();

                if (_modelStateValid) {
                    ShowCocSendungenFinSearchResult(result);
                }

                LoadingHide();
            }
        });
    }

    function ShowCocSendungenFinSearchResult(result) {
        SearchFormHide();
        $("#divGridFin").html(result);

        // move our Grid filter form into grid's toolbar:
        GridAllColumnFilterApplyToGrid("GridCocSendungenFin");

        setTimeout(function () { $("#divGridFin").slideDown(); }, 1000);
    }


    function OnDataBound_GridCocSendungenFin() {
        FilteredData_Grid_OnDataBound($(this));
        jQuery('.tooltips').tooltip();
        LoadingHide();

        // prepare multi row selection
        App.initUniform();
    }

    function OnColumnShowHide_GridCocSendungenFin() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }

    
    function OnColumnReorder_GridCocSendungenFin() {
        FilteredData_Grid_OnColumnReorder($(this));
    }

    // </Suche nach Fin>

    // <Suche nach Places>

    function ShowCocSendungenPlaces() {

        FormPreparePrivateAjax();

        $.ajax({
            type: "POST",
            url: "ShowSendungenPlace",
            loadingShow: false,
            success: function (result) {

                SearchResultsTryHide();

                if (_modelStateValid) {
                    ShowCocSendungenPlaceSearchResult(result);
                }

                LoadingHide();
            }
        });
    }

    function ShowCocSendungenPlaceSearchResult(result) {
        SearchFormHide();
        $("#divGridPlace").html(result);

        // move our Grid filter form into grid's toolbar:
        GridAllColumnFilterApplyToGrid("GridCocSendungenPlace");

        setTimeout(function () { $("#divGridPlace").slideDown(); }, 1000);
    }


    function OnDataBound_GridCocSendungenPlace() {
        FilteredData_Grid_OnDataBound($(this));
        jQuery('.tooltips').tooltip();
        LoadingHide();

        // prepare multi row selection
        App.initUniform();
    }

    function OnColumnShowHide_GridCocSendungenPlace() {
        FilteredData_Grid_OnColumnShowHide($(this));
    }


    function OnColumnReorder_GridCocSendungenPlace() {
        FilteredData_Grid_OnColumnReorder($(this));
    }

    // </Suche nach Places>


</script>
