@using GeneralTools.Contracts
@using MvcTools.Models
@using Newtonsoft.Json
@using Telerik.Web.Mvc
@model IPersistableObject

@{
    var gridSettings = SessionHelper.GetSessionObject("GridCurrentSettings", () => new GridSettings());
    var jCols = gridSettings.Columns.NotNullOrEmpty().GetGridColumns();
    var gridColumnNameList = (jCols == null ? null : JsonConvert.SerializeObject(jCols.Select(jc => (string) jc.member.Value).ToArray()));

    var gridGrouping = gridSettings.GroupBy.NotNullOrEmpty();
    if (gridGrouping.Contains("-"))
    {
        gridGrouping = gridGrouping.Split('-')[0];
    }
}

<div class="wrapper-persistable-selector-current-for-grid-results hide">
    <div class="persistable-selector-current-for-grid-results">
        <span class="margin-right-5">@Model.ObjectName</span>

        <button id="persistable-grid-save-button" class='btn mini yellow report-generator' title="@Localize.FormPersistableSelector_FormSaveGrid">
            <i class='icon-save'></i>
        </button>
    </div>
</div>

<script type="text/javascript">

    $(".FormSearchResultsGrid .persistable-selector-current-for-grid-results").html($(".wrapper-persistable-selector-current-for-grid-results").html());

    var objectKey = '@Model.ObjectKey';

    //setTimeout(function() { PrepareGridFromPersistedState(); }, 1000);

    $("#persistable-grid-save-button").on('click', function (e) {
        PersistableSelectorSaveGrid(objectKey);

        e.stopPropagation();
    });

    var _prepareGridFromPersistedStateFinished = @((gridColumnNameList == null).ToString().ToLower());
    
    function GridPrepareFromSelectorPersistedState(grid) {

        if (_prepareGridFromPersistedStateFinished)
            return;

        _prepareGridFromPersistedStateFinished = true;
        
        var settingsColumns = @Html.Raw(gridColumnNameList ?? "[]");
        settingsColumns = GridEnsureValidColums(grid, settingsColumns);
        var orderBy = '@gridSettings.OrderBy.NotNullOrEmpty()';
        var groupBy = '@gridGrouping';
        var filterBy = '@gridSettings.FilterBy.NotNullOrEmpty().ToJavascriptString()';
        
        _filteredData_DisableDataBound = true;
        

        //
        // 1. hide columns
        //
        var hiddenColumns = $.grep(grid.columns, function (col, j) {
            return (settingsColumns.indexOf(col.member) < 0); 
        });
        for (var i = 0; i < hiddenColumns.length; i++) {
            grid.hideColumn(hiddenColumns[i].member);
        }
        

        //
        // 2. reorder columns
        //
        for (i = settingsColumns.length - 1; i >= 0; i--) {
            var column = grid.columnFromMember(settingsColumns[i]);
            if (typeof (column) != 'undefined')
                grid.reorderColumn(0, column);
        }
        

        //
        // 3. grid grouping
        //
        grid.groups = [];
        if (groupBy != '') {
            grid.group(grid.columnFromMember(groupBy).title);
        }
        

        //
        // 4. filter grid 
        //
        // Kennzeichen~startswith~'H'~and~StandortBez~substringof~'Neuwagen'
        if (filterBy != '') {

            var filters = [];
            filters.push(filterBy);
            if (filterBy.indexOf("~and~") >= 0)
                filters = filterBy.split("~and~");

            //console.log(filters);
            //console.log("***");

            for (i = 0; i < filters.length; i++) {
                var filter = filters[i].split("~");

                //console.log(filter[0]);
                //console.log(filter[1]);
                filter[2] = filter[2].replace(/&#39;/g, ''); // Hochkommata entfernen
                //console.log(filter[2]);
                //console.log("***");

                var columnToFilter = grid.columnFromMember(filter[0]);
                columnToFilter.filters = [];
                columnToFilter.filters.push({ operator: filter[1], value: filter[2] });
            }
            grid.filter(grid.filterExpr());
        }


        //
        // 5. sort grid
        //
        if (orderBy != '') {
            grid.sort(orderBy);
        }

        _filteredData_DisableDataBound = false;
        grid.pageTo(1);
    }
    
</script>