@using GeneralTools.Contracts
@model IPersistableObject

@{
    var selectors = new List<IPersistableObject>();
    var controller = (ViewContext.Controller as IPersistableSelectorProvider);
    if (controller != null)
    {
        selectors = controller.PersistableSelectors;
    }
}

@Html.Partial("Partial/FormPersistence/Common")

@Html.HiddenFor(m => m.ObjectKey)

<li class="dropdown user persistable-form-dropdown-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span id="badgeVisibleItemsCount" class="badge">@selectors.Count</span>
        <i class="icon-cog"></i>
        <i class="icon-angle-down"></i>
    </a>
    <ul class="dropdown-menu">
            
        @foreach (var selector in selectors)
        {
            var isCurrentSelector = (selector.ObjectKey == Model.ObjectKey);
            var liCssClass = (isCurrentSelector ? "current" : "");
            
            <li class="loadable @liCssClass" id="li_dropdown_@selector.ObjectKey">
                <span class="li-button" title="@Localize.Load" onclick="PersistableSelectorLoad('@selector.ObjectKey')">
                    <span class="margin-left-10 margin-right-5">@selector.ObjectName</span>
                </span>
                @if (!isCurrentSelector)
                {
                    <span class="li-button" title="@Localize.Delete" onclick="PersistableSelectorDelete('@selector.ObjectKey')">
                        <i class="icon-remove"></i> 
                    </span>
                }
            </li>
        }
        @if (selectors.None())
        {
            <li class="" id="li_dropdown_none">
                <span class="li-button">
                    <span class="li-item margin-left-10 margin-right-5">@Localize.NoSavedSearchFormsAvailableYet</span>
                </span>
            </li>
        }

    </ul>
</li> 

@Html.TextBoxFor(m => m.ObjectName, new { @class = "m-wrap medium persistable-selector-current-textbox" })

<span class='btn mini yellow' title="@Localize.Save" onclick="PersistableSelectorSave($(this), '@Model.ObjectKey')">
    <i class='icon-save'></i>
</span>
<span class='btn mini yellow' title="@Localize.SaveAsCopy" onclick="PersistableSelectorSaveAs($(this), '@Model.ObjectKey')">
    <i class='icon-copy'></i>
</span>
<span class='btn mini yellow' title="@Localize.ClearForm" onclick="PersistableSelectorClear($(this))">
    <i class='icon-remove'></i>
</span>

